@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:extra-light,regular,extra-bold');

body {
  margin: 32px;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}

div.scroller {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

h1,h2,h3,h4 {
  font-weight: 200;
}

svg.plot {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

input.scale {
  width: 250px;
}

span.label {
  display: inline-block;
}

button.save {
  margin-top: 20px;
  width: 200px;
}
