@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:extra-light,regular,extra-bold');

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

div#map {
  width: 100%;
  height: 100%;
}
