<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Literary Settings</title>
  <script src="libs/d3.min.js"></script>
  <script src="libs/vue.min.js"></script>
  <script src="libs/jspdf.min.js"></script>
  <script src="libs/svg2pdf.js"></script>
  <script src="js/utilities.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:regular" rel="stylesheet">

  <style>

  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    font-size: 10pt;
  }

  .layout {
    display: grid;
    grid-template-columns: auto 250px;
    grid-template-rows: auto 60px;
    width: 100%;
    height: 100%;
  }

  .map-panel {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    display: block;
    height: auto;
    overflow: hidden;
  }

  .map-panel>svg {
    width: 100%;
    height: 100%;
  }

  .plot-scroller {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }

  h1, h2, h3 {
    font-weight: 300;
  }

  h1 {
    padding: 10px 32px 10px 32px;
    margin: 0;
    border-bottom: 1px solid #ddd;
}

  h2 {
    font-size: 22pt;
  }

  h3 {
    margin: 0px 0px 12px 0px;
    padding: 0;
    font-size: 12pt;
  }

  select.settings {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 6px;
  }

  span.number {
    color: #d00;
    margin-right: 0.2em;
  }

  #plot {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .graphics {
    flex: 1 1 100%;
  }

  .scroller {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    flex: 1 1 100%;
  }

  .plot {
    padding: 4px 8px 12px 8px;
    overflow: hidden;
  }

  .gui {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 16px 16px 16px 16px;
    background-color: #f8f8f8;
  }

  .object-info {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 8px 16px 8px 16px;
    background-color: #f8f8f8;
    white-space: nowrap;
  }

  .panel {
    padding: 8px 16px 8px 0px;
    display: inline-flex;
    flex-direction: column;
  }

  div.row {
    margin-top: 6px;
    margin-bottom: 6px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
  }

  .name {
    flex: 0 0 auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  .value {
    flex: 0 0 auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  .percentage {
    width: 100%;
  }

  input.duration {
    width: 100%;
  }

  input[type=number] {
    width: 30px;
  }

  .scale {
    width: 100%;
  }

  label {
  }

  button {
    width: 150px;
    margin-right: 10px;
    margin-top: 10px
  }

  span.weight {
    font-style: italic;
  }

  rect.border {
    stroke: black;
    stroke-width: 1;
  }

  .hidden {
    display: none;
  }

  input:disabled {
    opacity: 0.5;
  }

  input[type=button] {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .file-dialog {
    position: absolute;
    left: -10000px;
  }


  </style>

</head>
<body>

  <div class="layout">

    <div class="gui">
      <h3>Literary Settings</h3>
      <div>Text scale</div>
      <input class="scale" type="range" @input="draw" v-model.number="scaleExp" min="0" max="2.30" step="0.01"/>
      <div class="label">{{ scale }} cm per 100,000 characters</div>
      <input @click="openFileDialog" type="button" value="Open Literary Settings Map" title="Connects SVG-formatted map to highlighter labels"/>
      <div class="label">Map filename: {{ mapFilename }}</div>
      <select class="settings" @change="showSettings" name="settings" size="5" v-model="selected" multiple>
        <option v-for="(setting, index) in settings" :value="setting" :selected="index == 0">{{ setting }}</option>
      </select>
      <!-- Animation -->
      <div class="row"><div class="name">Duration</div><div class="value">{{ duration }} s</div></div>
      <input class="duration" type="range" v-model.number="duration" @change="setDuration" min="10" max="600" step="10">
      <input type="button" value="Animate" @click="animate">
      <div class="row">
        <label class="name"><input type="checkbox" v-model="repeat"> Repeat after</label>
        <label class="value" ><input type="number" v-model="wait" class="value" min="1" max="10"> seconds</label>
      </div>
      <progress class="percentage" value="0" min="0" max="100"></progress>
    </div>

    <div class="object-info">
      <div class="label">{{ mapElement }}</div>
    </div>

    <div class="map-panel"></div>
    <div class="plot-scroller">
      <svg id="text-sections" class="plot" font-family="Helvetica">
        <g id="canvas" @mouseover="showInfo" @mouseout="hideInfo">
      </g>
    </div>
    <input @change="loadMap" type="file" class="file-dialog" />
  </div>

  <script>

    window.plot = new Vue({

      el: '.layout',

      data: {
        passage: '',
        scale: 20,
        width: 0,
        height: 0,
        rowHeight: 14,
        xOff: 0,
        topMargin: 5,
        bottomMargin: 20,
        xMargin: 10,
        max: 0,
        size: 0.5,
        filename: '',
        selection: null,
        meta: null,
        mapFilename: '—',
        mapElements: {},
        settings: [],
        selected: [],
        widthFunction: null,
        layoutFunction: null,
        mapWidth: 0,
        mapHeight: 0,
        mapElement: '',
        dpi: 96,
        duration: 30,
        running: 0.8,
        wait: 2,
        repeat: false,
      },

      computed: {
        scaleExp: {
          get: function() {
            return Math.log10(this.scale);
          },
          set: function(val) {
            this.scale = this.round10(Math.pow(10, val), 2);
          }
        }
      },

      methods: {

        round10: function(value, places) {
          var factor = Math.pow(10, places - Math.ceil(Math.log10(value)));
          return Math.round(value * factor) / factor;
        },

        mm2pix: function(mm) {
          return mm * this.dpi / 25.4;
        },

        markerWidth: function() {
          return this.mm2pix(this.size);
        },

        proportionalWidth: function(d, x) {
          return Math.max(1, x(+d.pos + d.text.length) -x(+d.pos))
        },

        contiguousWidth: function(d, x) {
          return x(d.end) - x(+d.pos);
        },

        inline: function(d, i) {
          return this.topMargin;
        },

        rows: function(d, i) {
          return this.topMargin + i * this.rowHeight;
        },

        sortRecords: function(evt) {
          switch(evt.target.value) {
            case 'name':
            this.selection.sort((a, b) => { return a[0]['sel'].localeCompare(b[0]['sel']) })
            break;
            case 'frequency':
            this.selection.sort((a, b) => { return b.length - a.length });
            break;
            case 'original':
            this.selection.sort((a, b) => { return a[0]['text'].localeCompare(b[0]['text']) })
            break;
          }
          this.draw();
        },

        setDisplay: function(evt) {
          switch(evt.target.value) {
            case 'fix':
            this.widthFunction = this.markerWidth;
            document.querySelector('#size-slider').disabled = false;
            break;
            case 'proportional':
            this.widthFunction = this.proportionalWidth;
            document.querySelector('#size-slider').disabled = true;
            break;
            case 'contiguous':
            document.querySelector('#size-slider').disabled = true;
            this.widthFunction = this.contiguousWidth;
            break;
          }
          this.draw();
        },

        setLayout: function(evt) {
          switch(evt.target.value) {
            case 'inline':
            this.layoutFunction = this.inline;
            this.height = this.topMargin + this.rowHeight + this.bottomMargin;
            break;
            case 'rows':
            this.layoutFunction = this.rows;
            this.height = this.topMargin + this.selection.length * this.rowHeight + this.bottomMargin;
            break;
          }
          this.draw();
        },

        calculateRanges() {
          var selection = [].concat(...this.selection);
          selection.sort((a, b) => {
            return +a.pos - +b.pos;
          });
          for (var i = 1; i < selection.length; ++i) {
            selection[i - 1].end = +selection[i].pos;
          }
          selection[i - 1].end = this.max;
          return selection;
        },

        draw: function() {

          this.width = this.xOff + Math.max(300, this.scale * this.max * this.dpi * 1e-5 / 2.54);

          var svg = d3.select('svg#text-sections');

          svg.attr('width', this.width)
            .attr('height', this.height);

          var g = svg.select('g#canvas');
          g.selectAll('*').remove();

          var x = d3.scaleLinear()
            .domain([0, this.max])
            .range([this.xOff + this.xMargin, this.width - this.xMargin]);

          var xAxis = d3.axisBottom(x)
            .ticks(Math.floor(1 + (this.width - this.xOff) / 150));

          var self = this;

          var row = g.selectAll('g')
            .data(self.selection)
            .enter()
            .append('g')
            .attr('id', function(d, i) { return `row-${i}` })
            .attr('transform', function(d, i) { var h = self.layoutFunction(d, i); return `translate(0,${ h })` });

          row.selectAll('rect')
            .data(function(d) { return d })
            .enter()
            .append('rect')
            .attr('x', function(d) { return x(+d.pos) })
            .attr('y', 0)
            .attr('width', function(d) { return self.widthFunction(d, x) })
            .attr('height', self.rowHeight)
            .attr('data-pos', function(d) { return d.pos })
            .attr('data-key', function(d) { return d.text })
            .attr('data-end', function(d) { return d.end })
            .attr('data-sel', function(d) { return d.sel })
            .style('fill', function(d) { return utilities.findHighlighter(d.sel, self.meta.highlighters).color });

          g.append('g')
            .attr('id', 'axis')
            .attr('class', 'axis')
            .attr('transform', `translate(0,${ self.height - 16 })`)
            .call(xAxis);

          // Used for PDF generation.
          g.selectAll('g.tick>text')
            .attr('text-anchor', 'middle')
            .attr('font-family', 'Helvetica')
            .attr('font-size', 10);
        },

        showSettings: function(evt) {
          this.settings.forEach(setting => {
            var element = this.mapElements[setting];
            if (element) {
              element.classList.add('hidden');
            }
          });
          this.selected.forEach(setting => {
            var element = this.mapElements[setting];
            if (element) {
              element.classList.remove('hidden');
            }
          })
        },

        showInfo: function(evt) {
          var sel = evt.target.dataset.sel;
          if (sel) {
            var mapElement = this.mapElements[sel];
            if (mapElement) {
              mapElement.classList.remove('hidden');
            }
            evt.target.classList.add('border');
            this.mapElement = sel;
          }
        },

        hideInfo: function(evt) {
          var sel = evt.target.dataset.sel;
          if (sel) {
            var mapElement = this.mapElements[sel];
            if (mapElement) {
              mapElement.classList.add('hidden');
            }
            evt.target.classList.remove('border');
            this.mapElement = '';
          }
        },

        scaleMap: function(evt) {
          console.log(this.mapScale);
        },

        setDuration: function(evt) {
        },

        animate: function() {

          var self = this;

          var selection = self.calculateRanges();
          var n = selection.length
          selection.forEach((sel, i) => {
            var el = self.mapElements[sel.sel];
            if (el) {
              // var start = s.pos * self.duration * 1000 / self.max;
              // var end = s.end * self.duration * 1000 / self.max;
              var start = i * self.duration * 1000 / n;
              var end = (i + 1) * self.duration * 1000 / n;
              window.setTimeout(() => { console.log(sel.sel, start); el.classList.remove('hidden') }, start, el);
              window.setTimeout(() => { console.log(sel.sel, end, '\n');el.classList.add('hidden') }, end, el);
              // console.log(i, start, end);
            }
          });

          d3.select('.percentage')
            .attr('value', 0)
            .attr('max', self.duration)
            .transition()
            .duration(self.duration * 1000)
            .ease(d3.easeLinear)
            .attr('value', self.duration)
            .on('end', self.atEnd)

        },

        atEnd: function() {
          d3.select('.percentage').attr('value', 0);
          if (this.repeat === true) {
            setTimeout(this.animate, this.wait * 1000);
          }
        },

        // Save graphics as SVG
        saveSVG: function() {
          var svg = d3.select('svg.plot');
          utilities.saveSVG(svg.node(), utilities.buildFilename(this.filename, '.svg'));
        },

        savePDF: function() {
          var svg = d3.select('svg.plot');
          var pdf = new jsPDF('l', 'pt', [this.width, this.height]);

          svg2pdf(svg.node(), pdf, {
            xOffset: 0,
            yOffset: 0,
            scale: 1
          });

          var content = pdf.output();
          utilities.save(content, utilities.buildFilename(this.filename, '.pdf'), 'application/pdf');
        },

        unescapeId: function(id) {
          return id.replace(/_\d_$/, '').replace(/_x[0-9a-fA-F]{2}_/g, s => {
            var c =  String.fromCharCode(parseInt(s.substr(2, 2), 16));
            return c == '_' ? '\t' : c;
          }).replace(/_/g, ' ').replace(/\t/g, '_');
        },

        openFileDialog: function(evt) {
          document.querySelector('.file-dialog').click();
        },

        loadMap: function(evt) {
          var mapFile = evt.target.files[0];
          this.mapFilename = mapFile.name;
          var self = this;
          var reader = new FileReader();
          reader.onload = function(e) {
            var parser = new DOMParser();
            var xml = parser.parseFromString(e.target.result, 'text/xml');

            var panel = d3.select('.map-panel')
            panel.selectAll('*').remove();

            var children = xml.querySelectorAll('svg>*');

            var svg = panel
              .append('svg')
              .attr('width', '100%')
              .attr('height', '100%')
              .call(d3.zoom().scaleExtent([0.2, 5]).on('zoom', function () {
                svg.attr('transform', d3.event.transform)
              }))
              .append('g');

            Array.from(children).forEach(child => {
              svg.node().appendChild(child);
            })

            var elements = Array.from(svg.node().querySelectorAll('[id]'));
            elements.forEach(e => {
              var id = e.getAttribute('serif:id') || self.unescapeId(e.id);
              self.mapElements[id] = e;
            });

            self.meta.highlighters.forEach(hl => {
              var element = self.mapElements[hl.label];
              if (element) {
                self.settings.push(hl.label);
                element.classList.add('hidden');
              }
            });

          };
          reader.readAsText(mapFile);

        }

      },

      mounted: function() {

        this.widthFunction = this.proportionalWidth;
        this.layoutFunction = this.inline;

        // Data to display is sent by DOM message
        window.addEventListener('message', evt => {
          var data = evt.data;

          if (!data.selection) {
            console.log('WRONG MESSAGE', data)
            return;
          }

          data.selection.sort((a, b) => {
            return b.pos - a.pos;
          });

          this.height = this.topMargin + this.rowHeight + this.bottomMargin;
          this.filename = data.meta.filename;
          this.selection = data.selection;
          this.meta = data.meta;
          this.max = data.meta.range[1];

          this.calculateRanges();
          this.draw();
        });

      }

    });

  </script>

</body>
</html>
