<!DOCTYPE HTML>
<!--
  Institute of Cartography and Geoinformation
  H. R. Bär - hbaer@ethz.ch
-->
<html>
  <head>
    <meta charset=utf-8 />
    <title>Mapping Novels</title>

    <meta charset=utf-8 />
    <title>Settings Map</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css"
      integrity="sha512-wcw6ts8Anuw10Mzh9Ytw4pylW8+NAD4ch3lqm9lzAsTxg0GFeJgoAtxuCLREZSC5lUXdVyo/7yfsqFjQ4S+aKw=="
      crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js"
      integrity="sha512-mNqn2Wg7tSToJhvHcqfzLMU6J4mkOImSPTxVZAdo+lcPlk+GhZmYgACEe0x35K7YzW1zJ7XyJV/TT1MrdXvMcA=="
      crossorigin=""></script>

    <script src="libs/vue.min.js"></script>
    <script src="js/utilities.js"></script>

    <style>

    @import url('https://fonts.googleapis.com/css?family=Nunito+Sans:extra-light,regular,extra-bold');

    @media print {
      .gui, .gui-foot, .leaflet-control-zoom {
        display: none;
      }
    }
    
    html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
      font-family: "Nunito Sans", sans-serif;
      font-weight: 300;
      font-size: 10pt;
    }

    .layout {
      display: grid;
      grid-template-columns: auto 250px;
      grid-template-rows: auto min-content;
      width: 100%;
      height: 100%;
    }

    .gui {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      padding: 16px 16px 16px 16px;
      background-color: #f8f8f8;
      border-left: 1px solid #ccc;
    }

    .gui-input {
      width: 100%;
    }

    .gui-table {
      display: table;
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 10px;
    }

    .gui-row {
      display: table-row;
      width: 100%;
    }

    .gui-cell {
      display: table-cell;
    }

    .gui-foot {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      padding: 16px 16px 16px 16px;
      background-color: #f8f8f8;
      border-left: 1px solid #ccc;
    }

    .gui-space {
      margin-top: 20px;
    }

    label.gui-cell {
      margin-right: 10px;
    }

    select.gui-cell {
      width: 100%;
    }

    div.gui-title {
      font-size: 13pt;
      font-weight: 500;
    }

    div.sub-title {
      margin-top: 0.5em;
      font-size: 11pt;
    }

    div.label {
      margin-top: 10px;
    }

    div.row {
      margin-top: 0px;
      margin-bottom: 0px;
      flex: 0 0 auto;
      display: flex;
      flex-direction: row;
    }

    .name {
      flex: 0 0 auto;
      margin-top: auto;
      margin-bottom: auto;
    }

    .value {
      flex: 0 0 auto;
      margin-left: auto;
      margin-top: auto;
      margin-bottom: auto;
    }

    select.settings {
      width: 100%;
      margin-top: 6px;
      margin-bottom: 6px;
    }

    iframe.symbols {
      border: none;
      width: 100%;
      height: 80px;
      margin-top: 6px;
      margin-bottom: 6px;
    }

    div#map {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      width: 100%;
      height: 100%;
    }

    .symbol {
    }

    svg {
      position: absolute;
    }

    .main {
      font-family: "Nunito Sans", sans-serif;
      font-weight: 500;
      font-size: 13pt;
    }

    .sub {
      font-family: "Nunito Sans", sans-serif;
      font-weight: 300;
      font-size: 10pt;
    }

    @keyframes fade {
      from { opacity: 0.5; }
    }

    .blinking {
      animation: fade 0.3s infinite alternate;
    }

    </style>

    <style id="highlighters"></style>

  </head>

  <body>

    <div class="layout">

      <div class="gui">

        <div class="gui-title">{{ title }}</div>

        <div class="sub-title">1. Select one or more settings</div>
        <select class="settings" @change="selectFeatures" name="settings" size="9" v-model="selected" multiple>
          <option v-for="(feature, index) in features" :value="index">{{ feature | format }}</option>
        </select>

        <div class="gui-table">

          <!-- Sort selection -->
          <div class="gui-row">
            <label for="sorting" class="gui-cell">Sorting</label>
            <select id="sorting" class="gui-cell" @change="sortFeatures">
              <option value="original">by Highlighters</option>
              <option value="name">by Name</option>
              <option value="frequency">by Frequency</option>
              <option value="geometry">by Geometry Type</option>
              <option value="visible">by Visibility</option>
              <option value="reverse">Reverse Order</option>
            </select>
          </div>

          <!-- Make selections -->
          <div class="gui-row">
            <label for="selecting" class="gui-cell">Selections</label>
            <select id="selecting" class="gui-cell" @change="makeSelections">
              <option disabled>Select Settings</option>
              <option value="none">Deselect All</option>
              <option value="all">Select All</option>
              <option value="visible">Select Visible</option>
              <option value="points">Select Points</option>
              <option value="lines">Select Lines</option>
              <option value="areas">Select Areas</option>
              <option value="invert">Invert Selection</option>
            </select>
          </div>

        </div>

        <div class="sub-title">2. Apply symbolization rules</div>
        <iframe class="symbols" src="MapSymbols.html"></iframe>

        <!-- Symbol scaling -->
        <div class="row"><div class="name">Symbol size</div><div class="value">{{ symbolSize }} px</div></div>
        <input class="gui-input" type="range" v-model.number="symbolSize" @input="setSymbolSize" min="0" max="150">

        <!-- Symbol opacity -->
        <div class="row"><div class="name">Symbol opacity</div><div class="value">{{ symbolOpacity }}%</div></div>
        <input class="gui-input" type="range" v-model.number="symbolOpacity" @input="setSymbolOpacity" min="0" max="100">

        <!-- Place map -->
        <input class="gui-input gui-space" type="button" @click="placeMap" value="Place Map">

        <!-- Print map -->
        <input class="gui-input" type="button" @click="printMap" value="Print Map">

      </div>

      <div class="gui-foot">
        <div class="row"><div class="name">Current zoom level</div><div class="value">{{ zoomLevel }}</div></div>
      </div>

      <div id="map"></div>

    </div>

    <script>

      window.ra_map = new Vue({

        el: '.layout',

        data: {
          title: 'Text Map',
          filename: '',
          featureCollection: null, features: null,
          selected: [],
          meta: null,
          symbolSize: 16,
          symbolOpacity: 80,
          map: null,
          opts: { size: [16, 16], anchor: [0.5, 0.5], scale: 'scale', prop: 0, icon: './img/questionmark.svg' },
          maxFrequency: 0,
          zoomLevel: 0,
          accessToken: 'pk.eyJ1IjoiaGJhZXIiLCJhIjoiY2lxNDA3N2FlMDA3Z2hybTJsM2NlMWJxbyJ9.e89LtSK6vqy_tdnmFrTIrg'
        },

        filters: {
          format: function(feature) {
            var properties = feature.properties;
            var type = feature.geometry ? feature.geometry.type : 'None';
            var selected = properties.vis ? ' *' : '';
            return `${properties.idx + 1}: ${properties.sel} [${properties.selection.length}] – ${type}${selected}`;
          }
        },

        methods: {

          // On initialization, data is formatted in GeoJSON format.
          initialize: function(data) {
            this.filename = data.meta.filename;
            this.meta = data.meta;
            this.max = data.meta.range[1];

            var places = {};
            data.geo.forEach(g => {
              places[g.label] = g;
            });

            var features = data.selection.map((selection, idx) => {
              var sel0 = selection[0];
              var geo = places[sel0.sel];
              if (!geo) { return }
              return {
                type: 'Feature',
                geometry: geo.geometry,
                properties: {
                  idx,
                  pos: +sel0.pos,
                  sel: sel0.sel,
                  text: sel0.text,
                  icon: geo.icon,
                  vis: geo.geometry && geo.geometry.type == 'Point' && geo.icon != null,
                  selection
                }
              };
            }).filter(e => { return e });
            this.featureCollection = { type: 'FeatureCollection', features };
            this.features = features;
            this.installStyles();
          },

          // Creates style sheet from highlighters.
          installStyles: function() {
            var rules = this.meta.highlighters.map(hl => {
              return `div.${hl.label} { fill: ${hl.color}; }`;
            })
            document.querySelector('#highlighters').textContent = rules.join('\n');
          },

          // Sorts the feature array.
          sortFeatures: function(evt) {
            function geoType(feature) {
              return feature.geometry.type;
            }
            switch(evt.target.value) {
            case 'original':
              this.featureCollection.features.sort((a, b) => { return a.properties.idx - b.properties.idx });
              break;
            case 'name':
            this.featureCollection.features.sort((a, b) => { return a.properties.selection[0].sel.localeCompare(b.properties.selection[0].sel) });
              break;
            case 'frequency':
              this.featureCollection.features.sort((a, b) => { return b.properties.selection.length - a.properties.selection.length });
              break;
            case 'geometry':
              this.featureCollection.features.sort((a, b) => { return geoType(a).localeCompare(geoType(b)) });
              break;
            case 'visible':
              this.featureCollection.features.sort((a, b) => { return (b.properties.layer ? 1 : 0) - (a.properties.layer ? 1 : 0) });
              break;
            case 'reverse':
              this.featureCollection.features.reverse();
              break;
            }
          },

          // Creates the feature selections.
          makeSelections: function(evt) {
            var filter;
            switch(evt.target.value) {
              case 'none':
              filter = function(feature) { return false };
              break;
              case 'all':
              filter = function(feature) { return true };
              break
              case 'visible':
              filter = function(feature) { return feature.properties.vis };
              break;
              case 'points':
              filter = function(feature) { return feature.geometry.type.match(/point$/i) };
              break;
              case 'lines':
              filter = function(feature) { return feature.geometry.type.match(/linestring$/i) };
              break;
              case 'areas':
              filter = function(feature) { return feature.geometry.type.match(/polygon$/i) };
              break;
              case 'invert':
              this.invertSelection();
              return;
              break;
            };
            this.selected = [];
            this.featureCollection.features.forEach((feature, i) => {
              if (filter(feature)) {
                this.selected.push(i);
              }
            });
          },

          // Selected features start blinking and the symbol size is readjusted.
          selectFeatures: function(evt) {
            var feature = this.featureCollection.features[+evt.target.value];
            if (feature.properties.size) {
              this.symbolSize = Math.round(feature.properties.size[0]);
            };
            // this.blinkingFeatures();
          },

          // Invert selection
          invertSelection: function() {
            var tar = new Array(this.featureCollection.features.length);
            tar = tar.fill(0).map((e, i) => { return i });
            this.selected.forEach((e) => { tar[e] = -1 });
            this.selected = tar.filter(e => { return e != -1 });
          },

          // A layer is being removed.
          removeLayer: function(feature) {
            if (feature.layer) {
              this.map.removeLayer(feature.layer);
              delete feature.layer;
            }
          },

          // Selected selected features.
          deleteSelectedFeatures: function() {
            var n = this.selected.length;
            var answer = confirm(`Be aware that this action removes ${n} setting${n == 1 ? '' : 's'} from this map.`);
            if (!answer) { return };
            for (var i = this.selected.length - 1; i >= 0; i--) {
              var idx = this.selected[i];
              this.removeLayer(this.featureCollection.features[idx]);
              this.featureCollection.features.splice(idx, 1);
            };
            this.removeFeatures();
          },

          // Creates the icon options.
          getOptions: function(properties) {
            var size = properties.size || this.opts.size,
                anchor = properties.anchor || this.opts.anchor;
            return {
              iconSize: size,
              iconAnchor: [size[0] * anchor[0], size[1] * anchor[1]]
            };
          },

          // Parses the GeoJSON document and constructs the map.
          parseData: function() {
            var self = this;

            L.geoJSON(this.featureCollection, {

              filter: function(feature) {
                return feature.properties.vis;
              },

              onEachFeature: function(feature, layer) {
                feature.properties.layer = layer;
              },

              style: function(feature) {
                var color = utilities.findHighlighter(feature.properties.sel, self.meta.highlighters).color;
                return { color };
              },

              pointToLayer: function(geoJsonPoint, latlng) {

                var width = self.symbolSize,
                    height = self.symbolSize,
                    properties = geoJsonPoint.properties;

                if (properties.size) {
                  [width, height] = properties.size;
                }
                else {
                  properties.size = [width, height];
                }
                var options = self.getOptions(properties);
                var icon;
                if (properties.svgIcon) {
                  options.className = properties.sel;
                  options.html = properties.svgIcon;
                  icon = L.divIcon(options);
                }
                else {
                  options.iconUrl = properties.icon || self.opts.icon;
                  icon = L.icon(options);
                }
                var marker = L.marker(latlng, { icon: icon });
                marker.setOpacity(self.symbolOpacity / 100);
                return marker;
              }
            }).bindPopup(layer => {
                var properties = layer.feature.properties;
                return `<div class="main">${properties.text}</div><div class="sub">${properties.sel} [${properties.selection.length}]</div>`
            }).addTo(this.map);
          },

          // Removes the features.
          removeFeatures: function() {
            this.featureCollection.features.forEach(feature => {
              if (feature.properties.layer) {
                this.map.removeLayer(feature.properties.layer);
              }
            });
          },

          // Places the map in the window.
          placeMap: function() {
            var bounds = L.latLngBounds();
            this.map.eachLayer(function(layer) {
              if (layer.getBounds) {
                bounds.extend(layer.getBounds());
              }
            });
            if (bounds.isValid()) {
              this.map.fitBounds(bounds);
            }
          },

          // Prints the map.
          printMap: function() {
            window.print();
         },

          // Calls a method for each selected feature.
          forEachSelectedFeature: function(callback) {
            var selectedFeatures = this.getSelectedFeatures();
            selectedFeatures.forEach((feature) => {
              callback(feature);
            });
          },

          // Calls a method for each selected point feature.
          forEachSelectedPointFeature: function(callback) {
            var selectedFeatures = this.getSelectedPointFeatures();
            selectedFeatures.forEach((feature) => {
              callback(feature);
            });
          },

          // Sets the symbols anchor.
          setAnchor: function(anchor) {
            this.forEachSelectedPointFeature(feature => {
              feature.properties.anchor = anchor;
            });
            this.updateSymbols();
          },

          // Sets the symbols' scale.
          setScale: function(scale) {
            this.forEachSelectedPointFeature(feature => {
              feature.properties.scale = scale;
            });
            if (this.selected.length > 0) {
              var feature = this.featureCollection.features[this.selected[0]];
              var properties = feature.properties;
              if (properties.size) {
                this.symbolSize = Math.round(properties.scale == 'vscale' ? properties.size[1] : properties.size[0]);
              }
            };
            this.updateSymbols();
          },

          // Sets the proportionality of the selected point features.
          setProportion: function(prop) {
            this.calculateMaxFrequency();
            this.forEachSelectedPointFeature(feature => {
              feature.properties.prop = prop;
            });
            this.setSymbolSize();
          },

          // Sets the visibility of the point features
          setFeatureVisability: function(vis) {
            this.forEachSelectedFeature(feature => {
              this.$set(feature.properties, 'vis', vis); // This is not reactive!!!
            });
            this.removeFeatures();
          },

          // Calculates the maximum frequency.
          calculateMaxFrequency: function() {
            var max = 0;
            this.forEachSelectedPointFeature(feature => {
              max = Math.max(feature.properties.selection.length, max);
            });
            return this.maxFrequency = max;
          },

          // Updates the symbols.
          updateSymbols: function() {
            this.forEachSelectedPointFeature(feature => {
              if (feature.properties.layer) {
                var url = feature.properties.customIcon;
                var options = this.getOptions(feature.properties);
                if (feature.properties.svgIcon) {
                  options.className = feature.properties.sel;
                  options.html = feature.properties.svgIcon;
                  icon = L.divIcon(options);
                }
                else {
                  options.iconUrl = feature.properties.icon || this.opts.icon;
                  icon = L.icon(options);
                }
                feature.properties.layer.setOpacity(this.symbolOpacity / 100);
                feature.properties.layer.setIcon(icon);
              }
            });
          },

          // Adds an SVG icon.
          addSVGIcon: function(svg) {
            this.forEachSelectedPointFeature(feature => {
              if (feature.properties) {
                feature.properties.svgIcon = svg;
              }
            });
            this.removeFeatures();
          },

          // Removes an SVG icon.
          removeSVGIcon: function() {
            this.forEachSelectedPointFeature(feature => {
              if (feature.properties) {
                delete feature.properties.svgIcon;
              }
            });
            this.removeFeatures();
          },

          // Gets the selected features.
          getSelectedFeatures: function() {
            return this.selected.map(idx => {
              return this.featureCollection.features[idx];
            });
          },

          // Gets the selected point features.
          getSelectedPointFeatures: function() {
            return this.getSelectedFeatures().filter(feature => {
              return feature.geometry.type.match(/point$/i);
            });
          },

          // Sets the symbol size.
          setSymbolSize: function(evt) {
            this.calculateMaxFrequency();
            var features = this.getSelectedPointFeatures();
            features.forEach(feature => {
              var properties = feature.properties;
              // Calculate symbol size
              var [width, height] = properties.size || this.opts.size,
                  scale = properties.scale || this.opts.scale,
                  dim = isNaN(properties.prop) ? this.opts.prop : properties.prop,
                  frequency = properties.selection.length,
                  factor = 1;
              // Calculate scaling factor
              if (dim > 0) {
                factor = Math.pow(frequency / this.maxFrequency, 1 / dim);
              }
              switch (scale) {
                case 'scale':
                  [width, height] = [this.symbolSize * factor, this.symbolSize * factor];
                  break;
                case 'hscale':
                  width = this.symbolSize * factor;
                  break;
                case 'vscale':
                  height = this.symbolSize * factor;
                  break;
              }
              properties.size = [Math.max(width, 3), Math.max(height, 3)];
            });
            this.updateSymbols();
          },

          // Sets the symbol opacity.
          setSymbolOpacity: function(evt) {
            this.updateSymbols();
          },

          // Enables the blinking of features.
          blinkingFeatures: function() {
            this.featureCollection.features.forEach(feature => {
              if (feature.properties.layer) {
                L.DomUtil.removeClass(feature.properties.layer._icon, 'blinking');
              };
            });
            this.forEachSelectedPointFeature(feature => {
              if (feature.properties.layer) {
                L.DomUtil.addClass(feature.properties.layer._icon, 'blinking');
              }
            });
          }

        },

        mounted: function() {

          var self = this;
          this.map = L.map('map', { zoomSnap: 0.25 })
            .setView([46.8, 8.2], 8)
            .on('zoomend', function(evt) { self.zoomLevel = evt.target.getZoom() });

          var osmUrl = `https://api.mapbox.com/styles/v1/mapbox/light-v9/tiles/256/{z}/{x}/{y}@2x?access_token=${this.accessToken}`;
          var osmAttrib = '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors';
          var raAttrib = '&copy; 2017–2018 Reading Assistant';

          L.tileLayer(osmUrl, {
            attribution: osmAttrib + '<br>' + raAttrib
          }).addTo(this.map);

          L.control.scale().addTo(this.map);
          

          // Data to display is sent by DOM message
          window.addEventListener('message', evt => {
            var data = evt.data;
            var symbol = data.symbol;

            var self = this;
            function symbolize() {
              Vue.nextTick(() => {
                self.parseData();
              });
            };

            if (symbol) {

              switch (symbol.opts.cmd) {

                case 'sym':
                this.addSVGIcon(symbol.svg);
                symbolize();
                break;

                case 'anchor':
                this.setAnchor(symbol.opts.anchor);
                break;

                case 'scale':
                this.setScale(symbol.opts.scale);
                break;

                case 'prop':
                this.setProportion(symbol.opts.dim);
                break;

                case 'orig':
                this.removeSVGIcon();
                symbolize();
                break;

                case 'show':
                this.setFeatureVisability(true);
                symbolize();
                break;

                case 'hide':
                this.setFeatureVisability(false);
                symbolize();
                break;

                case 'del':
                this.deleteSelectedFeatures();
                symbolize();
                break;
              }

            }
            else {
              this.initialize(data);
              this.parseData();
              this.placeMap();
            }

          });

        }
      });

    </script>

  </body>
</html>
