<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Text Sections</title>
  <script src="libs/d3.min.js"></script>
  <script src="libs/vue.min.js"></script>
  <script src="libs/jspdf.min.js"></script>
  <script src="libs/svg2pdf.js"></script>
  <script src="js/utilities.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:regular" rel="stylesheet">

  <style>

  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    font-size: 10pt;
  }

  div.ts-head {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    min-height: 40px;
    padding: 10px 32px 10px 32px;
    border-bottom: 1px solid #ddd;
  }

  div.ts-right {
    margin-left: auto;
  }

  h1, h2, h3 {
    font-weight: 300;
  }

  h1 {
    margin: 0;
    font-size: 26pt;
}

  h2 {
    font-size: 22pt;
  }

  h3 {
    font-size: 18pt;
  }

  div.info {
    font-family: 'Cormorant Garamond', serif;
    font-size: 12pt;
    padding: 8px 32px 8px 32px;
    border-top: 1px solid #ddd;
  }

  span.number {
    color: #d00;
    margin-right: 0.5em;
  }

  #plot {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .graphics {
    flex: 1 1 100%;
  }

  .scroller {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    flex: 1 1 100%;
  }

  .plot {
    padding: 10px 32px 10px 32px;
    overflow: hidden;
  }

  .gui {
    padding: 2px 32px 16px 32px;
    border-top: 1px solid #ddd;
    background-color: #f8f8f8;
    white-space: nowrap;
  }

  .panel {
    padding: 8px 16px 8px 0px;
    display: inline-flex;
    flex-direction: column;
  }

  .scale {
    width: 250px;
  }

  .scale.small {
    width: 125px;
  }

  label {
    margin-right: 20px;
  }

  button {
    width: 150px;
    margin-right: 10px;
    margin-top: 10px
  }

  span.weight {
    font-style: italic;
  }

  rect.border {
    stroke: black;
    stroke-width: 1;
  }

  .hidden {
    display: none;
  }

  input:disabled {
    opacity: 0.5;
  }

  </style>

</head>
<body>

  <div id="plot">

    <div class="ts-head">
      <h1>Text Sections</h1>
      <div class="ts-info ts-right">{{ textSelection }}</div>
    </div>

    <div class="scroller">
      <svg id="Text-Sections" class="plot" font-family="Helvetica">
        <style>
          @import url('https://fonts.googleapis.com/css?family=Nunito+Sans:light,regular,bold');
        </style>
        <g id="Canvas" @mouseover="showText" @mouseout="hideText" @click="toggleText">
        </g>
      </svg>
    </div>

    <div class="info hidden">
      <div class="passage" v-html="passage"></div>
    </div>

    <div class="gui">
      <div class="row">
        <div class="panel">
          <input class="scale" type="range" @input="draw" v-model.number="scaleExp" min="0" max="2.30" step="0.01"/>
          <span class="label">Scaling: {{ scale }} cm per 100,000 characters</span>
        </div>
        <div class="panel">
          <input id="size-slider" class="scale small" type="range" @input="draw" v-model.number="size" min="0.2" max="2" step="0.1" disabled />
          <span class="label">Marker width: {{ size }} mm</span>
        </div>
        <div class="panel">
          <input id="height-slider" class="scale small" type="range" @input="draw" v-model.number="markerHeight" min="1" max="10" step="0.1"/>
          <span class="label">Marker height: {{ markerHeight }} mm</span>
        </div>
      </div>
      <div class="panel">
        <div class="row">
          <label>Sorting: <select id="plot-sorting" @change="sortRecords" disabled>
            <option value="original">by Original Order</option>
            <option value="highlighter">by Highlighter Labels</option>
            <option value="frequency">by Frequency</option>
            <option value="first">by First Appearance</option>
          </select></label>
          <label>Display: <select id="display" @change="setDisplay">
            <option value="contiguous">Contiguous</option>
            <option value="proportional">Proportional</option>
            <option value="fix">Fix Size</option>
          </select></label>
          <label>Layout: <select id="layout" @change="setLayout">
            <option value="inline">Inline</option>
            <option value="rows">Rows</option>
            <option value="predefined">Attributes</option>
          </select></label>
          <label>Row Bottom: <select id="row-bottom" @input="selectRowBottom" disabled>
            <option v-for="(bottom, index) in rowBottom" :value="bottom">{{ bottom }}</option>
          </select></label>
          <label>Row Top: <select id="row-top" @input="selectRowTop" disabled>
            <option v-for="(top, index) in rowTop" :value="top">{{ top }}</option>
          </select></label>
        </div>
      </div>
      <div class="row">
        <button class="save" @click="saveSVG">Save As SVG</button>
        <button class="save" @click="savePDF">Save As PDF</button>
      </div>
    </div>

  </div>

  <script>

    window.plot = new Vue({

      el: '#plot',

      data: {
        passage: '',
        scale: 20,
        width: 0,
        height: 100,
        rowHeight: 24,
        topMargin: 60,
        bottomMargin: 30,
        max: 0,
        size: 0.5,
        markerHeight: 3,
        nRows: 1,
        filename: '',
        selection: null,
        textSelection: 'Text Selection',
        meta: null,
        layout: [],
        highlighters: null,
        widthFunction: null,
        layoutFunction: null,
        rowBottom: [],
        rowTop: [],
        bottomKey: 'min',
        topKey: 'max',
        bottomValue: 0,
        topValue: 100,
        dpi: 96
      },

      computed: {
        scaleExp: {
          get: function() {
            return Math.log10(this.scale);
          },
          set: function(val) {
            this.scale = this.round10(Math.pow(10, val), 2);
          }
        }
      },

      methods: {

        // Do some initialization.
        init: function(data) {
          this.height = this.topMargin + this.rowHeight + this.bottomMargin;
          this.filename = data.meta.filename;
          this.selection = data.selection;
          this.meta = data.meta;
          this.max = data.meta.range[1];

          this.enumerateHighlighters();
          this.setHighlighters();
          this.calculateRanges();
          this.setupCustomLayout();
        },

        // Round to a number of decimal places.
        round10: function(value, places) {
          var factor = Math.pow(10, places - Math.ceil(Math.log10(value)));
          return Math.round(value * factor) / factor;
        },

        // Convert mm to pixels.
        mm2pix: function(mm) {
          return mm * this.dpi / 25.4;
        },

        // Function returning the marker width in pixels.
        markerWidth: function() {
          return this.mm2pix(this.size);
        },

        // Function returning the text-proportional width of a marker
        proportionalWidth: function(d, x) {
          return Math.max(1, x(+d.pos + d.text.length) -x(+d.pos))
        },

        // Function return the width to the subseqeunt marker
        contiguousWidth: function(d, x) {
          return x(d.end) - x(+d.pos);
        },

        // Function returning the position of inline text sections.
        inline: function(d, i) {
          return { top: this.topMargin, height: this.rowHeight, offset: 0 };
        },

        // Function returning the position of text section rows.
        rows: function(d, i) {
          return { top: this.topMargin + i * this.rowHeight, height: this.rowHeight, offset: 0 };
        },

        // Function returning the position of attributed rows.
        predefined: function(d, i) {
          var scale = this.nRows * this.rowHeight / this.topValue;
          var props = this.highlighters[d.sel].properties;
          var top = this.topMargin;
          var min = props[this.bottomKey];
          var max = props[this.topKey];
          var height = scale * (max - min);
          var offset = scale * (this.topValue - max);
          return { top, height, offset };
        },

        // Sorts highlighters according to the original order.
        originalOrder: function() {
          this.selection.sort((a, b) => {
            var idxA = this.highlighters[a[0]['sel']].idx;
            var idxB = this.highlighters[b[0]['sel']].idx;
            return idxA - idxB;
          });
        },

        // Sorts highlighters alphabetically by their labels.
        sortByHighlighter: function() {
          this.selection.sort((a, b) => { return a[0]['sel'].localeCompare(b[0]['sel']) })
        },

        // Sorts highlighters by their frequency.
        sortByFrequency: function() {
          this.selection.sort((a, b) => { return b.length - a.length });
        },

        // Sorts highlighters according to their first appearance in a text
        sortByFirstAppearance: function() {
          this.selection.sort((a, b) => { return +a[0]['pos'] - +b[0]['pos'] })
        },

        // Perform soring of highlighters
        sortRecords: function(evt) {
          switch(evt.target.value) {
            case 'original':
            this.originalOrder();
            break;
            case 'highlighter':
            this.sortByHighlighter();
            break;
            case 'frequency':
            this.sortByFrequency();
            break;
            case 'first':
            this.sortByFirstAppearance();
            break;
          }
          this.draw();
        },

        // Size the marker width according to the drawing mode.
        setDisplay: function(evt) {
          var sizeSlider = document.querySelector('#size-slider');
          switch(evt.target.value) {
            case 'contiguous':
            this.widthFunction = this.contiguousWidth;
            sizeSlider.disabled = true;
            break;
            case 'proportional':
            this.widthFunction = this.proportionalWidth;
            sizeSlider.disabled = true;
            break;
            case 'fix':
            this.widthFunction = this.markerWidth;
            sizeSlider.disabled = false;
            break;
          }
          this.draw();
        },

        // Draws text sections according to the desired layout type.
        setLayout: function(evt) {
          var plotSorting = document.querySelector('#plot-sorting');
          var bottomSelect = document.querySelector('#row-bottom');
          var topSelect = document.querySelector('#row-top');

          switch(evt.target.value) {
          case 'inline':
            this.layoutFunction = this.inline;
            this.nRows = 1;
            plotSorting.disabled = true;
            bottomSelect.disabled = true;
            topSelect.disabled = true;
            break;
          case 'rows':
            this.layoutFunction = this.rows;
            this.nRows = this.selection.length;
            plotSorting.disabled = false;
            bottomSelect.disabled = true;
            topSelect.disabled = true;
            break;
          case 'predefined':
            this.layoutFunction = this.predefined;
            this.nRows = this.selection.length;
            plotSorting.disabled = true;
            bottomSelect.disabled = false;
            topSelect.disabled = false;
            break;
          }
          this.draw();
        },

        checkAndDraw: function() {
          this.checkKeyConsistency();
          this.draw();
        },

        selectRowBottom: function(evt) {
          this.bottomKey = evt.target.value;
          this.checkAndDraw();
        },

        selectRowTop: function(evt) {
          this.topKey = evt.target.value;
          this.checkAndDraw();
        },

        calculateRanges: function() {
          var selection = [].concat(...this.selection);
          selection.sort((a, b) => {
            return +a.pos - +b.pos;
          });
          for (var i = 1; i < selection.length; ++i) {
            selection[i - 1].end = +selection[i].pos;
          }
          selection[i - 1].end = this.max;
        },

        setHighlighters: function() {
          var highlighters = {};
          this.meta.highlighters.forEach(highlighter => {
            highlighters[highlighter.label] = highlighter;
          });
          this.highlighters = highlighters;
        },

        enumerateHighlighters: function() {
          this.meta.highlighters.forEach((highlighter, idx) => {
            highlighter.idx = idx;
          });
        },

        // Parses attributes wirtten in a JSON-like style without curly braces
        parseAttributes: function(attributes) {
          var result;
          try {
            var parse = new Function('attributes', `return { ${attributes} }`);
            result = parse(attributes);
          }
          catch(e) {
            console.error('Attributes parsing error:', e.message);
          }
          return result;
        },

        // Prepare the custom layout.
        setupCustomLayout: function() {
          var keys = new Set();
          this.meta.highlighters.forEach(highlighter => {
            highlighter.properties = {};
            var attributes = highlighter.attributes;
            if (attributes) {
              var properties = this.parseAttributes(attributes);
              if (properties) {
                Object.keys(properties).forEach(key => {
                  keys.add(key);
                });
                highlighter.properties = properties;
              }
            }
          });
          this.rowBottom = Array.from(keys);
          this.rowTop = Array.from(keys);
          this.bottomKey = keys[0] || this.bottomKey;
          this.topKey = keys[1] || this.topKey;
          Vue.nextTick(() => {
            document.querySelector('#row-top').selectedIndex = 1;
            this.checkKeyConsistency();
          });
        },

        // Check if there is a vialid highlighter and exchange the attributes if in wrong order
        checkKeyConsistency: function() {
          var validHighlighter = this.meta.highlighters.find(highlighter => {
            var props = highlighter.properties;
            return props && !isNaN(props[this.topKey] - props[this.bottomKey])
          });
          if (validHighlighter) {
            var properties = validHighlighter.properties;
            if (properties[this.bottomKey] > properties[this.topKey]) {
              [this.topKey, this.bottomKey] = [this.bottomKey, this.topKey];
            }
            this.calculateBottomTopValues();
          }
        },

        // Calculate extreme values of the attributes
        calculateBottomTopValues: function() {
          this.bottomValue = d3.min(this.meta.highlighters, highlighter => {
            return highlighter.properties[this.bottomKey];
          });
          this.topValue = d3.max(this.meta.highlighters, highlighter => {
            return highlighter.properties[this.topKey];
          });
        },

        // Create a valid id attribute from a highlighter label
        escapeId: function(id) {
          if (!id) { return }
          return id.replace(/^\d|[^0-9a-zA-Z_\s]/g, d => {
            return '_x' + d.charCodeAt(0).toString(16) + '_'
          }).replace(/\s/g, '_')
        },

        // Create the graphics
        draw: function() {

          this.rowHeight = this.mm2pix(this.markerHeight);

          this.width = Math.max(300, this.scale * this.max * this.dpi * 1e-5 / 2.54);
          this.height = this.topMargin + this.nRows * this.rowHeight + this.bottomMargin;

          var svg = d3.select('svg');

          svg.attr('width', this.width)
             .attr('height', this.height);

          var g = svg.select('g#Canvas');
          g.selectAll('*').remove();

          var x = d3.scaleLinear()
            .domain([0, this.max])
            .range([0, this.width]);

          var xAxis = d3.axisBottom(x)
            .ticks(Math.floor(1 + this.width / 150));

          var self = this;

          g.append('text')
            .text(this.filename)
            .attr('id', 'Text')
            .attr('x', 0)
            .attr('y', 20)
            .attr('font-size', 14)

          var row = g.selectAll('g')
            .data(self.selection)
            .enter()
            .append('g')
            .attr('id', function(d, i) { return self.escapeId(d[0].sel) })
            .attr('transform', function(d, i) { var h = self.layoutFunction(d[0], i).top || 0; return `translate(0,${ h })` });

          row.selectAll('rect')
            .data(function(d) { return d })
            .enter()
            .append('rect')
            .attr('x', function(d) { return x(+d.pos) })
            .attr('y', function(d, i) { return self.layoutFunction(d, i).offset || 0 })
            .attr('width', function(d) { return self.widthFunction(d, x) })
            .attr('height', function(d, i) { return self.layoutFunction(d, i).height || 0 })
            .attr('data-pos', function(d) { return d.pos })
            .attr('data-end', function(d) { return d.end })
            .attr('data-sel', function(d) { return d.sel })
            .style('fill', function(d) { return self.highlighters[d.sel].color });

          g.append('g')
            .attr('id', 'Axis')
            .attr('class', 'axis')
            .attr('transform', `translate(0,${ self.height - 20 })`)
            .call(xAxis);

          // Used for PDF generation.
          g.selectAll('g.tick>text')
            .attr('text-anchor', 'middle')
            .attr('font-family', 'Helvetica')
            .attr('font-size', 10);
        },

        // Show the associated text section.
        showText: function(evt) {
          var pos = evt.target.dataset.pos;
          if (pos != null) {
            evt.target.classList.add('border');
            pos = +pos;
            var text = this.meta.text;
            var end = +evt.target.dataset.end;
            var p = this.shortenText(text.substring(pos, end));
            this.passage = `<span class="number">[ ${pos.toLocaleString()} | ${end.toLocaleString()} ]</span> ${p}`;
            document.querySelector('div.info').classList.remove('hidden');
          }
          var sel = evt.target.dataset.sel;
          if (sel) {
            this.textSelection = sel;
          }
        },

        // Show or hide the text sections.
        toggleText: function(evt) {
          document.querySelector('div.info').classList.toggle('hidden');
        },

        hideText: function(evt) {
          if (evt.target.dataset.pos) {
            evt.target.classList.remove('border');
          }
          this.textSelection = '';
        },


        // Save graphics as SVG.
        saveSVG: function() {
          var svg = d3.select('svg.plot');
          utilities.saveSVG(svg.node(), utilities.buildFilename(this.filename, '.svg'));
        },

        // Save graphics in PDF format.
        savePDF: function() {
          var svg = d3.select('svg.plot');
          var pdf = new jsPDF('l', 'pt', [this.width, this.height]);

          svg2pdf(svg.node(), pdf, {
            xOffset: 0,
            yOffset: 0,
            scale: 1
          });

          var content = pdf.output();
          utilities.save(content, utilities.buildFilename(this.filename, '.pdf'), 'application/pdf');
        },

        // Shorten the text section.
        shortenText: function(text) {
          const max = 256;
          if (text.length > 2 * max) {
            var p1 = text.indexOf(' ', max);
            var p2 = text.lastIndexOf(' ', text.length - max);
            text = text.substr(0, p1) + ' […]<br>[…] ' + text.substr(p2 + 1)
          }
          return text;
        }

    },

      mounted: function() {

        this.widthFunction = this.contiguousWidth;
        this.layoutFunction = this.inline;

        // Data to display is sent by DOM message
        window.addEventListener('message', evt => {
          var data = evt.data;

          // Initialization
          this.init(data);
          this.draw();
        });

      }

    });

  </script>

</body>
</html>
