<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Text Journey</title>
  <script src="libs/d3.min.js"></script>
  <script src="libs/topojson.min.js"></script>
  <script src="libs/vue.min.js"></script>
  <script src="js/utilities.js"></script>

  <style>

  html, body {
    font-family: "Helvetica", sans-serif;
    font-weight: 200;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  #text-journey {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    outline: 3px solid green;
  }

  svg {
    flex: 1 1 100%;
  }

  .arc {
    fill: none;
    stroke-width: 2.5px;
    stroke-opacity: 0.7;
  }

  .journey-ui {
    flex: 0 0 250px;
    background: #eee;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #ccc;
    font-size: 10.5pt;
  }

  .percentage {
    margin: 5px 10px 5px 10px;
    width: auto;
  }

  input[type=button] {
    margin: 5px 10px 5px 10px;
    flex: 0 0 auto;
  }

  input[type=range] {
    margin: 5px 10px 5px 10px;
    flex: 0 0 auto;
  }

  input[type=number] {
    width: 30px;
  }

  select {
    margin: 5px 10px 5px 10px;
    flex: 0 0 auto;
  }

  div.row {
    margin: 10px 10px 0px 10px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
  }

  .name {
    flex: 0 0 auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  .value {
    flex: 0 0 auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  .hidden {
    display: none;
  }

  </style>

</head>
<body>

  <div id="text-journey">
    <svg id="map">
      <g id="world"></g>
      <g id="countries"></g>
      <g id="graticule"></g>
      <g id="journeys"></g>
    </svg>
    <div class="journey-ui">
      <div class="row">Map Projection</div>
      <select @change="setProjection">
        <option v-for="(proj, index) in projections" :value="proj.value">{{ proj.name }}</option>
      </select>
      <div class="row"><div class="name">Duration</div><div class="value">{{ duration }} s</div></div>
      <input type="range" v-model.number="duration" @change="setDuration" min="1" max="60">
      <input type="button" value="Animate" @click="animate">
      <div class="row">
        <label class="name"><input type="checkbox" v-model="repeat"> Repeat after</label>
        <label class="value" ><input type="number" v-model="wait" class="value" min="1" max="10"> seconds</label>
      </div>
      <progress class="percentage" value="0" min="0" max="100"></progress>
      <!-- Attributes -->
      <div class="row">Attributes</div>
      <select @change="createJourneys" name="attributes" v-model="selected" multiple>
        <option v-for="(attr, index) in attributes" :value="attr" :selected="index == 0">{{ attr.name }}</option>
      </select>

    </div>
  </div>

  <script>

    new Vue({

      el: '#text-journey',

      data: {
        data: null,
        world: null,
        projection: d3.geoEquirectangular(),
        path: null,
        graticule: null,
        journeys: null,
        duration: 5,
        running: 0.8,
        wait: 2,
        repeat: false,
        projections: [
          { name: 'Equirectangular', value: 'Equirectangular' },
          { name: 'Mercator', value: 'Mercator' },
          { name: 'Transverse spherical Mercator', value: 'TransverseMercator' },
          { name: 'Azimuthal equal-area', value: 'AzimuthalEqualArea' },
          { name: 'Azimuthal equidistant', value: 'AzimuthalEquidistant' },
          { name: 'Stereographic', value: 'Stereographic' },
          { name: 'Conic conformal', value: 'ConicConformal' },
          { name: 'Conic equal-area', value: 'ConicEqualArea' },
          { name: 'Conic equidistant', value: 'ConicEquidistant' }
        ],
        attributes: [],
        selected: []
      },

      methods: {

        loadJSON: function(url, json) {
          d3.json(url, function(error, world) {
            json(error, world);
          });
        },

        resizeMap: function() {
          var svg = d3.select('svg');
          var width = parseInt(svg.style('width'));
          var height = parseInt(svg.style('height'));
          this.projection.scale(width / (2 * Math.PI))
            .translate([width / 2, height / 2]);
        },

        drawWorld: function() {
          var world = d3.select('#world');
          world.selectAll('*').remove();
          world.insert('path')
            .datum(topojson.feature(this.world, this.world.objects.land))
            .attr('d', this.path)
            .style('fill', '#ddd')
            .style('stroke', '#777')
            .style('stroke-width', 0.5);
        },

        drawCountries: function() {
          var countries = d3.select('#countries');
          countries.selectAll('*').remove();
          countries.insert('path')
            .datum(topojson.mesh(this.world, this.world.objects.countries, function(a, b) { return a !== b; }))
            .attr('id', 'countries')
            .attr('d', this.path)
            .style('fill', 'none')
            .style('stroke', '#fff')
            .style('stroke-width', 0.7);
        },

        drawGraticule: function() {
          var graticule = d3.select('#graticule');
          graticule.selectAll('*').remove();
          graticule.append('path')
            .datum(this.graticule)
            .attr('id', 'graticule')
            .attr('d', this.path)
            .style('fill', 'none')
            .style('stroke', '#777')
            .style('stroke-width', 0.25);
        },

        drawJourneys: function() {
          var journeys = d3.select('#journeys');
          var self = this;
          journeys.selectAll('*').remove();
          journeys.selectAll('path')
            .data(this.journeys.features)
            .enter().append('path')
            .attr('d', this.path)
            .attr('stroke', function(d) { return utilities.findHighlighter(d.properties.label, self.data.meta.highlighters).color })
            .attr('class', function(d) { d.properties['length'] = this.getTotalLength(); return 'arc' });
        },

        drawMap: function() {
          this.drawWorld();
          this.drawCountries();
          this.drawGraticule();
          this.drawJourneys();
        },

        create: function() {
          this.projection.scale(250 / Math.PI)
            .precision(0.1);

          this.path = d3.geoPath()
            .projection(this.projection);

          this.graticule = d3.geoGraticule()
            .step([15, 15])
            .extent([[-180, -90], [180, 90]]);
        },

        createJourneys: function() {
          var range = this.data.meta.range,
              size = range[1] - range[0],
              selection = this.data.selection;
          var selected = this.selected.map(e => { return e.name });
          var filteredSelection = selection.filter(e => {
            var sel = e.sel.split(' ');
            return this.includes(sel, selected);
          });
          if (filteredSelection.length == 0) {
            filteredSelection = selection;
          }
          this.journeys.features = [];
          for (var i = 1; i < filteredSelection.length; i++) {
            var sel0 = filteredSelection[i - 1],
                sel1 = filteredSelection[i],
                coordinates = [sel0.place, sel1.place],
                properties = { pos: sel0.pos / size, dur: (sel1.pos - sel0.pos) / size, label: sel1.label };
            this.journeys.features.push({ type: 'Feature', geometry: { type: 'LineString', coordinates }, properties });
          };
          this.drawJourneys();
        },

        setProjection: function(evt) {
          this.projection = d3['geo' + evt.target.value]();
          this.create();
          this.resizeMap();
          this.drawMap();
        },

        setDuration: function(evt) {
        },

        animate: function() {
          d3.select('#journeys').classed('hidden', false);
          var journeys = d3.selectAll('path.arc');
          var self = this;
          journeys
            .attr('stroke-dasharray', function(d, i) { var length = d.properties.length; return `${ length }  ${ length }`;})
            .attr('stroke-dashoffset', function(d, i) { return d.properties.length })
            .transition()
              .delay(function(d) { return d.properties.pos * self.duration * 1000 })
              .duration(function(d) { return d.properties.dur * self.duration * 1000 * self.running })
              .ease(d3.easePoly.exponent(1.5))
              .attr('stroke-dashoffset', 0);
          d3.select('.percentage')
            .attr('value', 0)
            .attr('max', self.duration)
            .transition()
            .duration(self.duration * 1000)
            .ease(d3.easeLinear)
            .attr('value', self.duration)
            .on('end', self.atEnd)
        },

        atEnd: function() {
          d3.select('.percentage').attr('value', 0);
          if (this.repeat === true) {
            setTimeout(this.animate, this.wait * 1000);
            d3.select('#journeys').classed('hidden', true);
          }
        },

        includes: function(a1, a2) {
          return a1.some(e => {
            return a2.includes(e);
          });
        },

        splitAttributes: function(attributes) {
          return attributes.split(/,\s+/g);
        }

      },

      mounted: function () {

        this.journeys = { type: "FeatureCollection", features: [] };

        // Data to display is sent by DOM message
        window.addEventListener('message', evt => {
          this.data = evt.data;
          this.createJourneys();

          // Handle attributes
          var attributes = {};
          this.data.meta.highlighters.forEach(highlighter => {
            if (highlighter.attributes) {
              var attrs = this.splitAttributes(highlighter.attributes);
              attrs.forEach(a => {
                attributes[a] = true;
              })
            }
          });
          Object.keys(attributes).forEach(a => {
            this.attributes.push({ name: a, id: a });
          });
          this.attributes.sort();
          if (this.attributes.length > 0) {
            this.selected.push(this.attributes[0]);
          };

          this.createJourneys();
          this.drawJourneys();
        });

        window.addEventListener('resize', evt => {
          this.resizeMap();
          this.drawMap();
        })

        var self = this;
        this.loadJSON('./data/world-110m.json', function(error, world) {
          self.world = world;
          self.create();
          self.resizeMap();
          self.drawMap();
        });

      }

    });


  </script>


</body>
</html>
