<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Word Plot</title>
  <script src="libs/d3.min.js"></script>
  <script src="libs/vue.min.js"></script>
  <script src="libs/jspdf.min.js"></script>
  <script src="libs/svg2pdf.js"></script>
  <script src="js/utilities.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:regular,regularitalic" rel="stylesheet">

  <style>

  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    font-size: 10pt;
  }

  h1, h2, h3 {
    font-weight: 300;
  }

  h1 {
    padding: 10px 32px 10px 32px;
    margin: 0;
    font-size: 26pt;
    border-bottom: 1px solid #ddd;
}

  h2 {
    font-size: 22pt;
  }

  h3 {
    font-size: 18pt;
  }

  div.info {
    font-family: 'Cormorant Garamond', serif;
    font-size: 12pt;
    padding: 8px 32px 8px 32px;
    border-top: 1px solid #ddd;
  }

  span.number {
    color: #d00;
  }

  #plot {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .graphics {
    flex: 1 1 100%;
  }

  .scroller {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    flex: 1 1 100%;
  }

  .plot {
    padding: 10px 22px 10px 22px;
    overflow: hidden;
  }

  .gui {
    padding: 2px 32px 16px 32px;
    border-top: 1px solid #ddd;
    background-color: #f8f8f8;
    white-space: nowrap;
  }

  .panel {
    padding: 8px 16px 8px 0px;
    display: inline-flex;
    flex-direction: column;
  }

  .scale {
    width: 250px;
  }

  .scale.small {
    width: 125px;
  }

  .label {
  }

  button {
    width: 150px;
    margin-left: 10px;
  }

  span.weight {
    font-style: italic;
  }

  circle.border {
    stroke: black;
    stroke-width: 1;
  }

  .hidden {
    display: none;
  }

  </style>

</head>
<body>

  <div id="plot">

    <h1>Word Plot</h1>

    <div class="scroller">
      <svg id="word-plot" class="plot" font-family="Helvetica">
        <!-- Styles -->
        <style>
          @import url('https://fonts.googleapis.com/css?family=Nunito+Sans:light,regular,bold');
        </style>
        <g id="canvas" @mouseover="showText" @mouseout="removeBorder" @click="toggleText">
        </g>
      </svg>
    </div>

    <div class="info hidden">
      <div class="passage" v-html="passage"></div>
    </div>

    <div class="gui">
      <div class="row">
        <div class="panel">
          <input class="scale" type="range" @input="draw" v-model.number="scaleExp" min="0" max="2.30" step="0.01"/>
          <span class="label">Scaling: {{ scale }} cm per 100,000 characters</span>
        </div>
        <div class="panel">
          <input class="scale small" type="range" @input="draw" v-model.number="size" min="0.5" max="3" step="0.1"/>
          <span class="label">Dot size: {{ size }} mm</span>
        </div>
      </div>
      <label>Sorting: <select id="plot-sorting" @change="sortRecords">
        <option value="name">by Name</option>
        <option value="frequency">by Frequency</option>
        <option value="original">by Highlighters</option>
      </select></label>
      <button class="save" @click="saveSVG">Save As SVG</button>
      <button class="save" @click="savePDF">Save As PDF</button>
    </div>

  </div>

  <script>

    window.plot = new Vue({

      el: '#plot',

      data: {
        passage: '',
        scale: 20,
        width: 0,
        height: 100,
        rowHeight: 18,
        xOff: 180,
        xMargin: 20,
        max: 0,
        size: 1.5,
        filename: '',
        selection: null,
        meta: null,
        dpi: 96
      },

      computed: {
        scaleExp: {
          get: function() {
            return Math.log10(this.scale);
          },
          set: function(val) {
            this.scale = this.round10(Math.pow(10, val), 2);
          }
        }
      },

      methods: {

        round10: function(value, places) {
          var factor = Math.pow(10, places - Math.ceil(Math.log10(value)));
          return Math.round(value * factor) / factor;
        },

        symbolSize: function() {
          return this.size * this.dpi / 25.4;
        },

        sortRecords: function(evt) {
          switch(evt.target.value) {
            case 'name':
            this.selection.sort((a, b) => { return a[0]['sel'].localeCompare(b[0]['sel']) })
            break;
            case 'frequency':
            this.selection.sort((a, b) => { return b.length - a.length });
            break;
            case 'original':
            this.selection.sort((a, b) => { return a[0]['text'].localeCompare(b[0]['text']) })
            break;
          }
          this.draw();
        },

        draw: function() {

          this.width = this.xOff + Math.max(300, this.scale * this.max * this.dpi * 1e-5 / 2.54);

          var svg = d3.select('svg');

          svg.attr('width', this.width)
            .attr('height', this.height);

          var g = svg.select('g#canvas');
          g.selectAll('*').remove();

          var x = d3.scaleLinear()
            .domain([0, this.max])
            .range([this.xOff + this.xMargin, this.width - this.xMargin]);

          var xAxis = d3.axisBottom(x)
            .ticks(Math.floor(1 + (this.width - this.xOff) / 150));

          var self = this;

          g.append('text')
            .text(`File "${ this.filename }"`)
            .attr('x', 5)
            .attr('y', self.rowHeight)
            .attr('font-size', 14)

          var row = g.selectAll('g')
            .data(self.selection)
            .enter()
            .append('g')
            .attr('id', function(d) { return d[0]['sel'] })
            .attr('transform', function(d, i) { var h = (i + 3) * self.rowHeight; return `translate(0,${ h })` });

          row.append('rect')
            .attr('x', 0)
            .attr('y', 5 - self.rowHeight)
            .attr('width', self.width)
            .attr('height', self.rowHeight)
            .style('fill', function(d, i) { return (i % 2) == 0 ? '#eee' : 'none' });

          row.append('text')
            .text(function(d) { return `${d[0]['sel']} [${d.length}]` })
            .attr('x', 5)
            .attr('y', 0)
            .attr('font-size', 12)
            .style('fill', 'black');

          row.selectAll('circle')
            .data(function(d) { return d })
            .enter()
            .append('circle')
            .attr('r', 0.5 * this.symbolSize())
            .attr('cx', function(d) { return x(+d.pos) })
            .attr('cy', -4)
            .attr('data-pos', function(d) { return d.pos })
            .attr('data-key', function(d) { return d.text })
            .style('fill', function(d) { return utilities.findHighlighter(d.sel, self.meta.highlighters).color });

          g.append('g')
            .attr('id', 'axis')
            .attr('class', 'axis')
            .attr('transform', `translate(0, ${ self.height - self.rowHeight - 10 })`)
            .call(xAxis);

          // Used for PDF generation.
          g.selectAll('g.tick>text')
            .attr('text-anchor', 'middle')
            .attr('font-family', 'Helvetica')
            .attr('font-size', 10);
        },

        showText: function(evt) {
          var pos = evt.target.dataset.pos;
          if (pos != null) {
            evt.target.classList.add('border');
            pos = +pos;
            var text = this.meta.text;
            var key = evt.target.dataset.key;
            var [from, to] = this.findSentence(text, pos);
            var p1 = text.substring(from, pos);
            var p2 = text.substring(pos + key.length, to);
            if (to < pos + key.length) {
              key = text.substring(pos, to);
              p2 = ' […]';
            }
            this.passage = `${p1} <span class="number">[${pos.toLocaleString()}]</span><span class="weight"> ${key}</span>${p2}`;
            document.querySelector('div.info').classList.remove('hidden');
          }
        },

        toggleText: function(evt) {
          document.querySelector('div.info').classList.toggle('hidden');
        },

        removeBorder: function(evt) {
          if (evt.target.dataset.pos) {
            evt.target.classList.remove('border');
          }
        },


        // Save graphics as SVG
        saveSVG: function() {
          var svg = d3.select('svg.plot');
          utilities.saveSVG(svg.node(), utilities.buildFilename(this.filename, '.svg'));
        },

        savePDF: function() {
          var svg = d3.select('svg.plot');
          var pdf = new jsPDF('l', 'pt', [this.width, this.height]);

          svg2pdf(svg.node(), pdf, {
            xOffset: 0,
            yOffset: 0,
            scale: 1
          });

          var content = pdf.output();
          utilities.save(content, utilities.buildFilename(this.filename, '.pdf'), 'application/pdf');
        },

        findSentence: function(text, pos) {
          const sentsep = new RegExp(/[.!?]+[\s\n"”«»]+/, 'gu');
          var match, from = 0, to;
          while ((match = sentsep.exec(text)) !== null) {
            if (sentsep.lastIndex <= pos) {
              from = sentsep.lastIndex;
            }
            else {
              to = sentsep.lastIndex;
              break;
            }
          }
          return [from, to];
        }

      },

      mounted: function () {

        // Data to display is sent by DOM message
        window.addEventListener('message', evt => {
          var data = evt.data;

          data.selection.sort((a, b) => {
            return b.length - a.length;
          })

          this.height = (data.selection.length + 4) * this.rowHeight + 10;
          this.filename = data.meta.filename;
          this.selection = data.selection;
          this.meta = data.meta;
          this.max = data.meta.range[1];

          this.draw();
        });

      }

    });

  </script>

</body>
</html>
