<template>
  <div class="about">
    <h1>{{ msg }}</h1>
    <h2>Version {{ version }}</h2>
    <p>
      The Web app that analyses and visualizes any text.
    </p>
    <p>
      ©2017–2019 H. R. Baer, <a href="mailto:hbaer@ethz.ch?subject=READING ASSISTANT">hbaer@ethz.ch</a>
    </p>
    <p>
      Post comments, suggestions and ideas
      <a href="http://www.ursamedia.ch/computics/index.php/2017/06/20/reading-assistant/" target="_blank">here.</a>
    </p>
  </div>
</template>


<script>

  import eventHub from '../js/eventHub';

  export default {
    name: 'about',
    data: function() {
      return {
        msg: 'About this Reading Assistant',
        version: ''
      }
    },
    mounted: function () {
      eventHub.$emit('hideOeuvre');
      eventHub.$emit('getInfo', (appName, version) => {
        this.version = version;
      });
    }
  }

</script>


<style scoped>

  .about {
    margin: 50px;
  }

</style>
