<template>
  <div class="about-text">
    <h1>{{ msg }}</h1>
    <div class="about-table">
      <div class="about-row" v-for="entry in meta">
        <div class="about-name">{{ entry.name.substr(entry.name.indexOf('.') + 1) }}</div>
        <div class="about-value" v-html="entry.content"></div>
      </div>
    </div>
  </div>
</template>


<script>

  import eventHub from '../js/eventHub';

  export default {
    name: 'about',
    data () {
      return {
        msg: 'About this Text',
        meta: []
      }
    },
    mounted: function() {
      eventHub.$once('setMetaInfo', metaInfo => {
        if (metaInfo) {
          this.meta = metaInfo.filter(e => { return e.name.match(/^.*\.?/) });
        }
      });
    }
  }

</script>


<style scoped>

  .about-text {
    padding: 50px;
    margin: 0px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  h1 {
    display: inline-block;
  }

  .about-table {
    display: table;
    border-collapse: collapse;
  }

  .about-row {
    display: table-row;
    line-height: 2em;
    padding: 5px;
    margin: 15px;
    border-bottom: 1px solid #ccc;
  }

  .about-name {
    display: table-cell;
    text-transform: capitalize;
    font-weight: 700;
    padding-right: 1.5em;
    text-align: right;
  }

  .about-value {
    font-weight: 300;
    line-height: 1.5em;
    padding-bottom: 4px;
  }

</style>
