<template>
  <div class="selection-attributes hidden" @click="chooseAttribute" @mouseover="show" @mouseout="hide">
    <ul class="attributes-list">
      <li v-for="(attribute, index) in attributes" :index="index" :class="{ selected: attribute.sel }" class="attribute-field">{{ attribute.name }}</li>
    </ul>
  </div>
</template>


<script>

  import eventHub from '../js/eventHub'

  export default {

    data: function() {
      return {
        attributes: [],
        element: null
      }
    },

    created: function() {
      eventHub.$on('handleAttributes', (element, attributes) => {
        this.element = element;
        this.attributes = attributes.map(a => {
          return { name: a, sel: element.classList.contains(a) }
        });
      });
    },

    methods: {
      chooseAttribute: function(evt) {
        var sel = this.element.classList.toggle(evt.target.textContent);
        var index = +evt.target.getAttribute('index');
        this.attributes[index].sel = sel;
      },
      show: function(evt) {
        evt.currentTarget.classList.remove('hidden');
        evt.currentTarget.focus();
      },
      hide: function(evt) {
        evt.currentTarget.classList.add('hidden');
      }
    },

  }

</script>

<style>

  .selection-attributes {
    font-size: 11.5pt;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 6px 0px 6px 0px;
    background-color: white;
    border: 1px solid #bbb;
    border-radius: 4px;
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.15);
    cursor: pointer;
  }

  .selection-attributes.hidden {
    display: none;
  }

  .attributes-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .attribute-field {
    padding: 0px 10px 0px 24px;
    line-height: 20px;
  }

  .attribute-field.selected:before {
    position: absolute;
    content: "✔︎";
    left: 5px;
  }

  .attribute-field:hover {
    background-color: #48f;
    color: white;
  }

</style>
