<template>
  <div class="calendar">
    <div class="experimental">
      This is work in progress. Results cannot yet be visualized.
    </div>
    <h1>Calendar</h1>
    <p>
      Choose approprate date and time or refine time expression and press enter.
    </p>
    <input class="calendar-query" type="text" v-model="datetime"/>
    <p>
      <input class="calendar-assign" type="button" value="Assign calendar data" @click="assign">
    </p>
    <h2>Date and Time</h2>
    <div class="calendar-table">
      <!-- Years before present -->
      <div class="calendar-row">
        <div class="calendar-item">Years BP</div>
        <div class="calendar-value">
          <input class="cal-yearspb" type="number" v-model="spec.yearspb">
        </div>
      </div>
      <!-- Century -->
      <div class="calendar-row">
        <div class="calendar-item">Century</div>
        <div class="calendar-value">
          <select class="cal-century" v-model="spec.century">
            <option v-for="(century, index) in centuries" :value="index">{{ century }}</option>
          </select>
        </div>
      </div>
      <!-- Year -->
      <div class="calendar-row">
        <div class="calendar-item">Year</div>
        <div class="calendar-value">
          <input class="cal-years" type="number" min="0" max="5000" v-model="spec.years">
        </div>
      </div>
      <!-- Season -->
      <div class="calendar-row">
        <div class="calendar-item">Season</div>
        <div class="calendar-value">
          <select class="cal-season" v-model="spec.season">
            <option v-for="(season, index) in seasons" :value="season.key">{{ season.val }}</option>
          </select>
        </div>
      </div>
      <!-- Months -->
      <div class="calendar-row">
        <div class="calendar-item">Month</div>
        <div class="calendar-value">
          <select class="cal-months" v-model="spec.months">
            <option v-for="(month, index) in months" :value="month.key">{{ month.val }}</option>
          </select>
        </div>
      </div>
      <!-- Day -->
      <div class="calendar-row">
        <div class="calendar-item">Day</div>
        <div class="calendar-value">
          <select class="cal-days" v-model="spec.days">
            <option v-for="(day, index) in days" :value="index">{{ day | format }}</option>
          </select>
        </div>
      </div>
      <!-- Day of week -->
      <div class="calendar-row">
        <div class="calendar-item">Day of week</div>
        <div class="calendar-value">
          <select class="cal-weekdays" v-model="spec.weekdays">
            <option v-for="(weekday, index) in weekdays" :value="weekday.key">{{ weekday.val }}</option>
          </select>
        </div>
      </div>
      <!-- Hours -->
      <div class="calendar-row">
        <div class="calendar-item">Hours</div>
        <div class="calendar-value">
          <select class="cal-hours" v-model="spec.hours">
            <option v-for="(hour, index) in hours" :value="index - 1">{{ hour | format }}</option>
          </select>
        </div>
      </div>
      <!-- Minutes -->
      <div class="calendar-row">
        <div class="calendar-item">Minutes</div>
        <div class="calendar-value">
          <select class="cal-minutes" v-model="spec.minutes">
            <option v-for="(minute, index) in minutes" :value="index - 1">{{ minute | format }}</option>
          </select>
        </div>
      </div>
      <!-- Seconds -->
      <div class="calendar-row">
        <div class="calendar-item">Seconds</div>
        <div class="calendar-value">
          <select class="cal-seconds" v-model="spec.seconds">
            <option v-for="(second, index) in seconds" :value="index - 1">{{ second | format }}</option>
          </select>
        </div>
      </div>
      <!-- Time of day -->
      <div class="calendar-row">
        <div class="calendar-item">Time of day</div>
        <div class="calendar-value">
          <select class="cal-daytime" v-model="spec.daytime">
            <option v-for="(time, index) in times" :value="time.key">{{ time.val }}</option>
          </select>
        </div>
      </div>

    </div>

    <!-- h2>Duration</h2 -->
  </div>
</template>


<script>

  import eventHub from '../js/eventHub';

  export default {
    name: 'calendar',
    data () {
      return {
        centuries: [''],
        seasons: [
          { key: 'non', val: '' },
          { key: 'spr', val: 'Spring' },
          { key: 'sum', val: 'Summer' },
          { key: 'aut', val: 'Autumn' },
          { key: 'win', val: 'Winter' },
          { key: 'chr', val: 'Christmas' },
          { key: 'eas', val: 'Easter' },
          { key: 'pec', val: 'Pentecost' },
          { key: 'wso', val: 'Winter Solstice' },
          { key: 'sso', val: 'Summer Solstice' },
          { key: 'seq', val: 'Spring Equinox' },
          { key: 'aeq', val: 'Autumn Equinox' }
        ],
        months: [
          { key: 'non', val: '' },
          { key: 'jan', val: 'January' },
          { key: 'feb', val: 'February' },
          { key: 'mar', val: 'March' },
          { key: 'apr', val: 'April' },
          { key: 'may', val: 'May' },
          { key: 'jun', val: 'June' },
          { key: 'jul', val: 'July' },
          { key: 'aug', val: 'August' },
          { key: 'sep', val: 'September' },
          { key: 'oct', val: 'October' },
          { key: 'nov', val: 'November' },
          { key: 'dec', val: 'December' }
        ],
        days: [''],
        weekdays: [
          { key: 'non', val: '' },
          { key: 'mon', val: 'Monday' },
          { key: 'tue', val: 'Tuesday' },
          { key: 'wed', val: 'Wednesday' },
          { key: 'thu', val: 'Thursday' },
          { key: 'fri', val: 'Friday' },
          { key: 'sat', val: 'Saturday' },
          { key: 'sun', val: 'Sunday' }
        ],
        hours: [''],
        minutes: [''],
        seconds: [''],
        times: [
          { key: 'non', val: '' },
          { key: 'day', val: 'Day' },
          { key: 'nig', val: 'Night' },
          { key: 'mor', val: 'Morning' },
          { key: 'noo', val: 'Noon' },
          { key: 'ano', val: 'Afternoon' },
          { key: 'eve', val: 'Evening' },
          { key: 'mni', val: 'Midnight' }
        ],
        datetime: null,
        spec: {}
      }
    },
    filters: {
      format: function(value) {
        var s = String(value);
        return s.length > 0 ? ('00' + s).slice(-2) : s;
      }
    },
    methods: {
      assign: function(evt) {
        eventHub.$emit('showOeuvre');
        for (var i in this.spec) {
          if (this.spec[i].length == 0) {
            delete this.spec[i];
          }
        }
        this.callback({ calendar: this.spec });
      },
      range: function(from, to) {
        return Array(to - from + 1).fill(0).map((e, i) => { return from + i });
      },
      numostr: function(val) {
        return +val ? +val : val;
      }
    },
    mounted: function() {
      this.centuries = this.centuries.concat(this.range(1, 25));
      this.days = this.days.concat(this.range(1, 31));
      this.hours = this.hours.concat(this.range(0, 23));
      this.minutes = this.minutes.concat(this.range(0, 59));
      this.seconds = this.seconds.concat(this.range(0, 59));
      eventHub.$once('showCalendar', (datetime, spec, callback) => {
        this.datetime = datetime;
        this.callback = callback;
        this.spec = spec ? JSON.parse(spec).calendar : {};
      });
    }
  }

</script>


<style scoped>

  .calendar {
    padding: 50px;
    margin: 0px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .calendar-query {
    display: block;
    font-size: 100%;
    width: 100%;
    max-width: 500px;
  }

  .calendar-table {
    display: table;
    border-collapse: collapse;
  }

  .calendar-row {
    display: table-row;
    line-height: 2em;
    padding: 5px;
    margin: 15px;
  }

  .calendar-item {
    display: table-cell;
    font-weight: 700;
    padding-right: 1.5em;
    text-align: right;
  }

  .calendar-value {
    display: table-cell;
    width: 120px;
  }

  .calendar-value>* {
    width: 100%;
  }

  input.calendar-assign {
    width: 250px;
  }

</style>
