<template>
  <div class="ngrams">
    <h1>Character N-Grams</h1>
    <p>Size of character n-gram, the number of successive equal words.</p>
    <input type="number" v-model="n" min="1" max="20"/>
    <p>
      <label><input id="ignore" type="checkbox" checked/> Ignore Case</label>
    </p>
    <p>
      <button @click="createNGram">Create N-Gram</button>
    </p>
  </div>
</template>


<script>

  import eventHub from '../js/eventHub';

  export default {
    name: 'about',

    data () {
      return {
        n: 5
      }
    },
    
    methods: {
      
      createNGram: function() {
        var ignore = document.querySelector('#ignore').checked;
        eventHub.$emit('showOeuvre');
        eventHub.$emit('createCharNGrams', this.n, ignore);
      }
      
    },
    
    mounted: function () {
      eventHub.$emit('hideOeuvre');
    }

  }

</script>


<style scoped>

  .ngrams {
    margin: 50px;
  }
  
  h1 {
    display: inline-block;
  }
  
  .arrow {
    margin-left: 1em;
  }
  
</style>
