<template>
  <div class="cloud">
    <div class="panel">
      <h1>{{ msg }}</h1>
      <p>
        Save, restore or delete files on a server using the WebDAV protocol.
        Files are saved as zipped HTML archives including images.
      </p>
      <h2>Server</h2>
      <div class="cloud-table">
        <div class="cloud-row">
          <div class="cloud-name">Servers:</div>
          <div class="popup-panel" @mouseover="show" @mouseout="hide" v-on:mouseup="toggle">
            <div class="popup-title">▾</div>
            <ul class="popup-menu hidden">
              <li class="popup-item"
                v-for="(server, index) in servers"
                @click="showServer"
                :index="index"
              >{{ server.name }}</li>
              <li><div class="popup-separator"></div></li>
              <li class="popup-item" @click="addServer">Add Server</li>
              <li class="popup-item" @click="removeServer">Remove Server</li>
            </ul>
          </div>
        </div>
        <div class="cloud-row">
          <div class="cloud-name">Name:</div>
          <input type="text" id="name" size="20" v-model="name">
        </div>
        <div class="cloud-row">
          <div class="cloud-name">Protocol:</div>
          <input type="text" id="protocol" size="20" v-model="protocol">
        </div>
        <div class="cloud-row">
          <div class="cloud-name">Host:</div>
          <input type="text" id="host" size="40" v-model="host">
        </div>
        <div class="cloud-row">
          <div class="cloud-name">Path:</div>
          <input type="text" id="path" size="40" v-model="path">
        </div>
        <div class="cloud-row">
          <div class="cloud-name">Filename:</div>
          <input type="text" id="filename" size="40" v-model="filename">
        </div>
        <div class="cloud-row">
          <div class="cloud-name">Username:</div>
          <input type="text" id="username" size="20" v-model="username">
        </div>
        <div class="cloud-row">
          <div class="cloud-name">Password:</div>
          <input type="password" id="password" size="20" v-model="password">
        </div>
        <div class="cloud-row">
          <div class="cloud-name">URL:</div>
          <div>{{ url }}</div>
        </div>
      </div>
      <h2>Files</h2>
      <div class="button-panel">
        <button @click="download">Restore File</button>
        <button @click="upload">Save File</button>
        <button @click="remove">Delete File</button>
      </div>
      <ul id="files">
        <li
          v-for="(file, index) in files" @click="update" @dblclick="download" :index="index">{{ file | decode }}</li>
      </ul>
    </div>
  </div>
</template>


<script>

  // TODO: Move error handling in function

  import eventHub from '../js/eventHub';
  var bytes = require('bytes');
  var cloud = require('../js/cloud.js');

  export default {

    data: function() {
      return {
        msg: 'Cloud Storage',
        name: '',
        protocol: '',
        method: '',
        host: '',
        path: '',
        filename: '',
        username: '',
        password: '',
        servers: [],
        currentServer: 0,
        changed: false,
        files: []
      }
    },

    filters: {
      decode: function(file) {
        return `${decodeURIComponent(file.name)} [${bytes(file.length)}]`;
      }
    },

    computed: {
      url: function() {
        return `${this.protocol.toLowerCase()}://${this.host}${this.path}${this.filename}`;
      }
    },

    methods: {

      show: function() {
        document.querySelector('.popup-menu').classList.remove('hidden');
      },

      hide: function() {
        document.querySelector('.popup-menu').classList.add('hidden');
      },

      toggle: function() {
        document.querySelector('.popup-menu').classList.toggle('hidden');
      },

      addServer: function() {
        var server = {
          name: this.name,
          protocol: this.protocol,
          method: this.method,
          host: this.host,
          path: this.path,
          username: this.username,
          password: this.password
        }
        this.servers.unshift(server);
        this.list();
        this.changed = true;
      },

      removeServer: function() {
        this.servers.splice(this.currentServer, 1);
        this.changed = true;
      },

      showServer: function(evt) {
        var index = +evt.currentTarget.getAttribute('index');
        if (this.currentServer != index) {
          this.currentServer = index;
          this.copyServerSettings();
          this.servers.unshift(this.servers.splice(this.currentServer, 1)[0]);
          this.currentServer = 0;
          this.list();
          this.changed = true;
        }
      },

      list: function() {
        if (this.servers.length == 0) {
          return;
        }
        var options = {
          method: 'PROPFIND',
          proto: this.protocol,
          host: this.host,
          path: this.path,
          headers: { Depth: 1 }
        };
        if (this.username.length > 0) {
          options.auth = `${this.username}:${this.password}`
        }
        cloud(options, blob => {
          const reader = new FileReader();
          reader.addEventListener('loadend', e => {
            const text = e.target.result;
            var domParser = new DOMParser();
            var dom = domParser.parseFromString(text, 'text/xml');
            var error = dom.documentElement.querySelector('error>message');
            if (error) {
              window.alert(error.textContent);
            }
            else {
              var responses = dom.documentElement.querySelectorAll('response');
              var files = Array.from(responses).map(response => {
                var name = response.querySelector('href').textContent;
                var prop = response.querySelector('propstat>prop');
                var length = prop.querySelector('getcontentlength');
                return { name: name.substr(name.lastIndexOf('/') + 1), length: length ? +length.textContent : '' }
              }).filter(e => {
                return e.name.length > 0 && e.name[0] != '.';
              });
              files.sort((a, b) => { return a.name.localeCompare(b.name) });
              this.files = files;
            }
          });
          reader.readAsText(blob);
        });
      },

       copyServerSettings: function() {
        var server = this.servers[this.currentServer];
        if (server) {
          this.name = server.name;
          this.protocol = server.protocol;
          this.method = server.method;
          this.host = server.host;
          this.path = server.path;
          this.username = server.username;
          this.password = server.password;
        }
      },

      saveServers: function() {
        localStorage.setItem('servers', JSON.stringify(this.servers));
      },

      upload: function() {
        this.$router.replace('/oeuvre');
        var options = {
          method: 'PUT',
          proto: this.protocol,
          host: this.host,
          path: this.path + this.filename
        };
        if (this.username.length > 0) {
          options.auth = `${this.username}:${this.password}`
        }
        var self = this;
        eventHub.$emit('uploadFile', options, function(blob) {
          this.list();
        });
      },

      download: function() {
        this.$router.replace('/oeuvre');
        var options = {
          method: 'GET',
          proto: this.protocol,
          host: this.host,
          path: this.path + this.filename
        };
        if (this.username.length > 0) {
          options.auth = `${this.username}:${this.password}`
        }
        cloud(options, blob => {
          eventHub.$emit('loadFile', blob);
        });
      },

      remove: function() {
        if (this.filename.length == 0) {
          window.alert('No file specified.');
          return;
        }
        if (!window.confirm(`Do you really want to remove file "${this.filename}"?`)) {
          return;
        }
        var options = {
          method: 'DELETE',
          proto: this.protocol,
          host: this.host,
          path: this.path + this.filename
        };
        if (this.username.length > 0) {
          options.auth = `${this.username}:${this.password}`
        }
        var self = this;
        cloud(options, blob => {
          if (blob.size > 0) {
            const reader = new FileReader();
            reader.addEventListener('loadend', e => {
              const text = e.target.result;
              var domParser = new DOMParser();
              var dom = domParser.parseFromString(text, 'text/xml');
              var error = dom.documentElement.querySelector('error>message');
              if (error) {
                window.alert(error.textContent);
              }
            });
            reader.readAsText(blob);
          };
          self.list();
        });
      },

      update: function(evt) {
        var index = evt.target.getAttribute('index')
        this.filename = this.files[index].name;
      }

    },

    mounted: function() {
      var servers = localStorage.getItem('servers');
      if (servers && servers.length > 0) {
        this.servers = JSON.parse(servers);
      }
      this.copyServerSettings();
      this.list();

      eventHub.$once('setFilename', filename => {
        this.filename = filename.replace(/\..*$/, '.zip');
      });
    },

    destroyed: function() {
      if (this.changed) {
        this.saveServers();
      }
    }

  }

</script>


<style scoped>

  .cloud {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .panel {
    margin: 40px;
    font-size: 12pt;
  }

  input[type=text],input[type=password] {
    font-size: 12pt;
  }

  .cloud-table {
    display: table;
    border-collapse: collapse;
  }

  .cloud-row {
    display: table-row;
    line-height: 1.8em;
    white-space: nowrap;
    border: none;
    padding: 5px;
    margin: 5px;
  }

  .cloud-name {
    display: table-cell;
    font-weight: 700;
    padding-right: 1em;
    text-align: right;
  }

  .button-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1em;
  }

  button {
    flex: 0 0 120px;
  }

  .hidden {
    display: none;
  }

  ul#files {
    padding-left: 0;
    color: #888;
  }

  ul#files>li {
    list-style-type: none;
    display: block;
    cursor: pointer;
    line-height: 28px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  ul#files>li:hover {
    text-decoration: underline;
    text-decoration-color: #888;
  }

</style>
