<template>
  <div class="combine">
    <h1>Merging Dictionaries</h1>
    <p>
      Merge the dictionaries of the current text and any other available text.
    </p>
    <div class="combine-table">
      <div class="combine-row">
        <div class="combine-name">Current text dictionary</div>
        <div class="combine-value">{{ currentText.file }}</div>
      </div>
      <div class="combine-row">
        <div class="combine-name">Available text dicitionaries</div>
        <div class="combine-value">
          <select id="source">
            <option v-for="(text, index) in texts" :value="index">{{ text.file }}</option>
          </select>
        </div>
      </div>
      <div class="combine-row">
        <div class="combine-name">Combination method</div>
        <div class="combine-value">
          <select id="method">
            <option value="union">Union</option>
            <option value="intersection">Intersection</option>
            <option value="difference">Difference</option>
            <option value="sym_diff">Symmetric Difference</option>
          </select>
        </div>
      </div>
      <p>
        <input id="run-combine" type="button" value="Combine Dictionaries" @click="combine">
      </p>

    </div>
  </div>
</template>


<script>

  import eventHub from '../js/eventHub';

  export default {
    name: 'combine',

    data () {
      return {
        texts: [],
        currentText: null
      }
    },

    methods: {

      combine: function(evt) {
        var source = this.texts[+document.querySelector('#source').value].index;
        var method = document.querySelector('#method').value;

        eventHub.$emit('showOeuvre');
        eventHub.$emit('combineDictionaries', source, method);
      }

    },

    created: function() {

      eventHub.$emit('hideOeuvre');

      eventHub.$emit('callForText', (file, index, current) => {
        var text = { file, index };
        if (current) {
          this.currentText = text;
        }
        else {
          this.texts.push(text);
        }
      });

    }

  }

</script>


<style scoped>

  .combine {
    margin: 50px;
  }

  h1 {
    display: inline-block;
  }

  .combine-table {
    display: table;
    border-collapse: collapse;
  }

  .combine-row {
    display: table-row;
    line-height: 2em;
    padding: 5px;
    margin: 15px;
    /* border-bottom: 1px solid #ccc; */
  }

  .combine-name {
    display: table-cell;
    font-weight: 700;
    padding-right: 1.5em;
    text-align: right;
  }

  .combine-value {
    font-weight: 400;
    line-height: 1.5em;
    padding-bottom: 4px;
  }

  input#run-combine {
    width: 240px;
  }

</style>
