<template>
  <div class="load-dict">
    <div class="dict-panel">
      <h1>{{ msg }}</h1>
      <ul class="dictionaries">
        <li
          v-for="(dictionary, index) in dictionaries"
          @click="load"
          :index="index"
        >{{ dictionary.name }}</li>
      </ul>
    </div>
  </div>
</template>


<script>

  import eventHub from '../js/eventHub';
  var d3 = require('d3-request');

  export default {
    name: 'load-dict',
    data () {
      return {
        msg: 'Load Dictionaries',
        dictionaries: [
          { name: "Roget's Thesaurus – English", file: 'roget.en' },
          { name: "Emotion Lexicon – English", file: 'emotion_lex.en' },
          { name: 'Regular expressions – English', file: 'regex.en' },
          { name: 'Sentiment analysis – English', file: 'sentiwordnet.en' },
          { name: 'Sentiment-Wortschatz – German', file: 'sentiws.de' },
          { name: 'Primary personality traits – English', file: 'traits.en' },
          { name: 'Geography – English', file: 'geography.en' },
          { name: 'Regular expressions – German', file: 'regex.de' }
        ]
      }
    },
    methods: {

      load: function(evt) {
        this.$router.replace('/oeuvre');
        var index = +evt.currentTarget.getAttribute('index');
        var file = `static/data/${this.dictionaries[index].file}.txt`;
        d3.request(file)
          .responseType('blob')
          .get(function(data) {
            eventHub.$emit('loadFile', data.response);
          })
      },

    },

    created: function() {
      eventHub.$emit('hideOeuvre');
    },

    destroyed: function() {
    }
  }

</script>


<style scoped>

  .load-dict {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .dict-panel {
    margin: 50px;
  }

  ul.dictionaries {
    padding-left: 0;
    color: #888;
  }

  ul.dictionaries>li {
    list-style-type: none;
    display: block;
    cursor: pointer;
    line-height: 28px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  ul.dictionaries>li:hover {
    text-decoration: underline;
    text-decoration-color: #888;
  }

</style>
