<template>
  <div class="doc-overview">
    <div class="doc-panel">
      <h1>{{ msg }}</h1>
      <h2>Currently open documents</h2>
      <p>Use drag-and-drop to rearrage the documents.</p>
      <input class="doc-button" type="button" value="Sort Documents" @click="sortDocuments">
      <ul class="doc-current">
        <li
          v-for="(text, index) in texts"
          @dragstart="dragstart"
          @dragover.stop.prevent="dragover"
          @dragenter.stop.prevent="dragenter"
          @dragleave.stop.prevent="dragleave"
          @drop.stop.prevent="drop"
          @dragend.stop.prevent="dragend"
          @dblclick="submit"
          draggable
          :index="index"
        >{{ text | showFilename }}</li>
      </ul>
    </div>
  </div>
</template>


<script>

  import eventHub from '../js/eventHub';

  export default {
    name: 'open-url',
    data () {
      return {
        msg: 'Documents Overview',
        texts: [],
        order: 1
      }
    },

    filters: {
      showFilename: function(text) {
        return text.getFileName();
      }
    },

    methods: {

      updateTextOrder: function() {
        eventHub.$emit('putTexts', this.texts);
      },

      sortDocuments: function() {
        this.order *= -1;
        this.texts.sort((a, b) => { return this.order * a.getFileName().localeCompare(b.getFileName()); });
        this.updateTextOrder();
      },

      dragstart: function(evt) { this.targetIndex = -1 },
      dragover: function(evt) {},
      dragenter: function(evt) {},
      dragleave: function(evt) {},
      drop: function(evt) {
        this.targetIndex = +evt.target.getAttribute('index');
      },
      dragend: function(evt) {
        var sourceIndex = +evt.target.getAttribute('index');
        if (this.targetIndex != -1 && sourceIndex != this.targetIndex) {
          this.texts.splice(this.targetIndex, 0, this.texts.splice(sourceIndex, 1)[0]);
          this.updateTextOrder();
        }
      },

      submit: function(evt) {
        var index = +evt.target.getAttribute('index');
        eventHub.$emit('select', index);
        eventHub.$emit('showOeuvre');
      }

    },

    created: function() {
      eventHub.$emit('hideOeuvre');
    },

    mounted: function() {
      eventHub.$once('setTexts', texts => {
        this.texts = texts;
      });
    },

    destroyed: function() {
    }
  }

</script>


<style scoped>

  .doc-overview {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .doc-field {
    font-size: 100%;
    width: 100%;
    min-width: 400px;
    display: flex;
  }

  .doc-panel {
    margin: 50px;
  }

  .doc-button {
    width: 150px;
  }

  ul.doc-current {
    padding-left: 0;
    color: #888;
  }

  ul.doc-current>li {
    list-style-type: none;
    display: block;
    cursor: pointer;
    line-height: 28px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  ul.doc-current>li:hover {
    text-decoration: underline;
    text-decoration-color: #888;
  }

  footer {
    position: absolute;
    background: #f4f4f4;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 5px 40px 5px 40px;
    font-size: 70%;
  }

</style>
