<template>
  <div class="index-filter">
    <input class="index-search" type="search" placeholder="Filter index..." @input="applyFilter">
    <input class="regex" type="checkbox" title="Use regular expression" @change="applyFilter">
  </div>
</template>


<script>

  import Vue from 'vue'
  import eventHub from '../js/eventHub'

  export default {

    data: function() {
      return {
      }
    },

    props: ['editor'],

    watch : {
      editor : function (value) {
        Vue.nextTick(() => {
          this.applyFilter();
        });
      }
    },

    methods: {

      regex: function(re) {
        var rex;
        try {
          rex = new RegExp(re);
        }
        catch(e) {
          rex = /[\s\S]+/;
        }
        return function(ex) {
          return rex.test(ex);
        }
      },

      test: function(s) {
        return function(ex) {
          return ex.indexOf(s) === 0;
        }
      },

      applyFilter: function() {
        var value = this.$el.querySelector('.index-search').value;
        if (value.length == 0) {
          this.editor.filterTable();
        }
        else {
          var useRegex = this.$el.querySelector('.regex').checked;
          var match = useRegex ? this.regex(value) : this.test(value);
          this.editor.filterTable(row => {
            var expression = row.children[0].firstChild.textContent;
            return match(expression);
          });
        }
      }

    }

  }


</script>

<style scoped>

  .index-filter {
    display: flex;
    margin: 0;
    padding: 5px 4px 7px 4px;
  }

  .index-search {
    flex: 1 1 100%;
    outline: none;
  }

</style>
