<template>
  <div class="scroll-panel">
    <div class="help">
      <h1>{{ msg }}</h1>
      <h2>Supported File Formats</h2>
      <h3>Import Formats</h3>
      <ul>
        <li>EPUB 3 documents including images, but not when protected by DRM</li>
        <li>HTML documents and referenced images</li>
        <li>Images (such as PNG, JPEG) referenced by an HTML document
        <li>PDF (without images)</li>
        <li>Plain text (UTF-8)</li>
        <li>Zip Archives (HTML including images)</li>
        <li>Webloc</li>
        <li>Index (a text format to build the index)</li>
      </ul>
      <h3>Export Formats</h3>
      <ul>
        <li>Zip Archive (the preferred format as it also saves text selections, settings and images)</li>
        <li>HTML format (saves text and selections but does not include images)</li>
        <li>Plain text (UTF-8)</li>
        <li>PDF (not yet available)</li>
        <li>DOCX (a widely-used text format)</li>
        <li>Text selections (saves the currently selected texts)
        <li>Index (saves the content of the index)</li>
      </ul>
      <p>
        Index is a simple text format to save and import the index (left panel of the main window).
        Export the index to learn how it is structured.
      </p>
      <h2>Index</h2>
      <p>
        The index is located on the left side of the main text window.
        It is used to create and manipulate text selections in a number of ways.
        The table below gives an overview of the provided index record types.
      </p>
      <table>
        <tr>
          <th>
            Type of Index Entry
          </th>
          <th>
            Relation to Text
          </th>
          <th>
            Attributes
          </th>
          <th>
            Source
          </th>
        </tr>
        <tr>
          <td>
            Character or sequence of characters
          </td>
          <td>
            1 : m
          </td>
          <td>
            Highlighter
          </td>
          <td>
            External
          </td>
        </tr>
        <tr>
          <td>
            Word or sequence of words
          </td>
          <td>
            1 : m
          </td>
          <td>
            Highlighter, date, location
          </td>
          <td>
            Internal
          </td>
        </tr>
        <tr>
          <td>
            Regular expression
          </td>
          <td>
            1 : m
          </td>
          <td>
            Highlighter, title, date, location
          </td>
          <td>
            External
          </td>
        </tr>
        <tr>
          <td>
            CSS selector
          </td>
          <td>
            1 : m
          </td>
          <td>
            Highlighter, title
          </td>
          <td>
            External
          </td>
        </tr>
        <tr>
          <td>
            HTML element
          </td>
          <td>
            1 : 1
          </td>
          <td>
            Highlighter
          </td>
          <td>
            Internal
          </td>
        </tr>
        <tr>
          <td>
            Label, comment or description
          </td>
          <td>
            1 : 1
          </td>
          <td>
            Highlighter
          </td>
          <td>
            External
          </td>
        </tr>
        <tr>
          <td>
            Inactive
          </td>
          <td>
            -
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>
            Hidden
          </td>
          <td>
            1 : m
          </td>
          <td></td>
          <td></td>
        </tr>
      </table>
      <p>
      </p>
    </div>
  </div>
</template>


<script>

  import eventHub from '../js/eventHub';

  export default {
    name: 'about',
    data () {
      return {
        msg: 'User Guide'
      }
    },
    mounted: function () {
      eventHub.$emit('hideOeuvre');
    }
  }

</script>


<style scoped>

  .scroll-panel {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
  
  .help {
    margin: 50px;
  }
  
  ul {
    padding-left: 1em;
    list-style: none;
  }

  li:before {
    content: "-";
    padding-right: 0.7em;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  th, td {
    padding: 3px 12px 3px 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }

</style>
