<template>
  <div class="index-hiliter" @click="chooseHighlighter" @dblclick="showHighlighterDialog">
    <div v-for="(hl, index) in highlighters"
      :style="{backgroundColor:hl.color}"
      :index="index"
      :title="hl.label"
      class="hiliter-color"
      :class="index == 0 ? 'selected' : ''">
    </div>
  </div>
</template>


<script>

  import Vue from 'vue'
  import eventHub from '../js/eventHub'
  var fontColorContrast = require('font-color-contrast');

  export default {

    data: function() {
      return {
        currentHighlighter: 0,
        stylesElement: null
      }
    },

    props: ['highlighters'],

    methods: {

      chooseHighlighter: function(evt) {
        var index = +evt.target.getAttribute('index');
        this.currentHighlighter = index;
        this.selectHighlighter(evt.target);
        this.setHighlighter(index);
      },

      selectHighlighter: function(element) {
        var selected = this.$el.querySelector('.hiliter-color.selected');
        if (selected) {
          selected.classList.remove('selected');
        }
        element.classList.add('selected');
      },

      showHighlighterDialog: function(evt) {
        eventHub.$emit('editHighlighters');
      },

      isActive: function() {
        return this.$el.offsetParent != null;
      },

      setHighlighter: function(index = 0) {
        eventHub.$emit('setHighlighter', this.highlighters[index]);
      },

      editHighlighters: function() {
        if (this.isActive()) {
          this.$router.replace('/highlighters');
          Vue.nextTick(() => {
            eventHub.$emit('setHighlighters', JSON.stringify(this.highlighters), this.currentHighlighter);
          });
        }
      },

      showHighlighter: function(label) {
        var highlighter = this.$el.querySelector(`div[title="${label}"]`);
        if (highlighter) {
          this.selectHighlighter(highlighter);
          highlighter.scrollIntoView();
        }
      }

    },

    mounted: function() {
      this.setHighlighter();

      eventHub.$on('editHighlighters', this.editHighlighters);
      eventHub.$on('showHighlighter', this.showHighlighter);
    },

    destroyed: function() {
      eventHub.$off('editHighlighters', this.editHighlighters);
      eventHub.$off('showHighlighter', this.showHighlighter);
    }

  }


</script>

<style scoped>

  .index-hiliter {
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    min-height: 32px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    cursor: pointer;
  }

  .hiliter-color {
    overflow: visible;
    flex: 1 0 16px;
    height: 16px;
    opacity: 0.5;
  }

  .hiliter-color.selected,.hiliter-color:hover {
    position: relative;
    top: -4px;
    height: 20px;
    opacity: 1;
  }

</style>
