<template>
  <div class="highlighters">
    <div class="hl-panel">
      <h1>{{ msg }}</h1>
      <p>Create or choose your collection of highlighter pens.</p>

      <label>Color schemes: <select id="row-bottom" @input="selectScheme">
        <option v-for="(scheme, index) in schemes" :value="index">{{ scheme.name }}</option>
      </select></label>

      <p>Edit highlighters</p>
      <button @click="add">Add Highlighter</button>
      <button @click="remove">Remove Highlighter</button>
      <button @click="random">Random Colors</button>
      <div class="hl-table" @dblclick="hideHighlighterDialog">
        <div class="hl-row hl-header">
          <div class="hl-cell hl-color">Colors</div>
          <div class="hl-cell hl-label">Labels</div>
          <div class="hl-cell hl-attributes">Attributes</div>
        </div>
        <div class="hl-row hl-entry"
          v-for="(highlighter, index) in highlighters"
          @click="select"
          :index="index">
          <div
            class="hl-cell hl-color hl-rgb"
            :style="styleField(highlighter.color)">
            {{ highlighter.color }}
            <input class="color" type="color" v-model="highlighter.color">
          </div>
          <div class="hl-cell hl-label"><input class="label" type="text" v-model="highlighter.label" spellcheck="false" @keyup.enter="add"/></div>
          <div class="hl-cell hl-attributes"><input class="attribute" type="text" v-model="highlighter.attributes" spellcheck="false"/></div>
        </div>
      </div>
      <button @click="apply">Apply Highlighters</button>
      <button @click="save">Save Highlighters</button>
    </div>
  </div>
</template>


<script>

  import Vue from 'vue'
  import eventHub from '../js/eventHub'
  var d3Request = require('d3-request');
  var d3ScaleChromatic = require('d3-scale-chromatic');
  var d3Color = require('d3-color');
  var fontColorContrast = require('font-color-contrast');

  export default {
    name: 'highlighters',
    data() {
      return {
        msg: 'Highlighters',
        highlighters: [],
        currentHL: -1,
        schemes: [
          { name: 'Empty Collection' },
          { name: 'Symbolic Text Colors', file: 'symbols' },
          { name: 'Crayola Colors', file: 'crayola' },
          { name: 'Pantone Colors', file: 'pantone' },
          { name: 'X11 Colors', file: 'x11colors' },
          { name: 'Web-Save Colors', file: 'webcolors' },
          { name: 'Sequential Multi-Hue Blue-Green Color Scheme', range: 'interpolateBuGn' },
          { name: 'Sequential Multi-Hue Blue-Purple Color Scheme', range: 'interpolateBuPu' },
          { name: 'Sequential Multi-Hue Green-Blue Scheme', range: 'interpolateGnBu' },
          { name: 'Sequential Multi-Hue Orange-Red Color Scheme', range: 'interpolateOrRd' },
          { name: 'Sequential Multi-Hue Purple-Blue Color Scheme', range: 'interpolatePuBu' },
          { name: 'Sequential Multi-Hue Purple-Blue-Green Scheme', range: 'interpolatePuBuGn' },
          { name: 'Sequential Multi-Hue Purple-Red Scheme', range: 'interpolatePuRd' },
          { name: 'Sequential Multi-Hue Red-Purple Color Scheme', range: 'interpolateRdPu' },
          { name: 'Sequential Multi-Hue Yellow-Green Color Scheme', range: 'interpolateYlGn' },
          { name: 'Sequential Multi-Hue Yellow-Green-Blue Scheme', range: 'interpolateYlGnBu' },
          { name: 'Sequential Multi-Hue Yellow-Orange-Brown Scheme', range: 'interpolateYlOrBr' },
          { name: 'Sequential Multi-Hue Yellow-Orange-Red Scheme', range: 'interpolateYlOrRd' },
          { name: 'Sequential Single-Hue Blues Color Scheme', range: 'interpolateBlues' },
          { name: 'Sequential Single-Hue Greens Color Scheme', range: 'interpolateGreens' },
          { name: 'Sequential Single-Hue Greys Color Scheme', range: 'interpolateGreys' },
          { name: 'Sequential Single-Hue Oranges Color Scheme', range: 'interpolateOranges' },
          { name: 'Sequential Single-Hue Purples Color Scheme', range: 'interpolatePurples' },
          { name: 'Sequential Single-Hue Reds Color Scheme', range: 'interpolateReds' },
          { name: 'Diverging Brown-Blue-Green Color Scheme', range: 'interpolateBrBG' },
          { name: 'Diverging Pink-Yello-Green Color Scheme', range: 'interpolatePiYG' },
          { name: 'Diverging Purple-Red-Green Color Scheme', range: 'interpolatePRGn' },
          { name: 'Diverging Purple-Orange Color Scheme', range: 'interpolatePuOr' },
          { name: 'Diverging Red-Blue Color Scheme', range: 'interpolateRdBu' },
          { name: 'Diverging Red-Gray Color Scheme', range: 'interpolateRdGy' },
          { name: 'Diverging Red-Yellow-Blue Color Scheme', range: 'interpolateRdYlBu' },
          { name: 'Diverging Red-Yellow-Green Color Scheme', range: 'interpolateRdYlGn' },
          { name: 'Diverging Spectral Color Scheme', range: 'interpolateSpectral' },
          { name: 'Qualitative Accent Color Scheme', key: 'schemeAccent' },
          { name: 'Qualitative Dark-2 Color Scheme', key: 'schemeDark2' },
          { name: 'Qualitative Paired Color Scheme', key: 'schemePaired' },
          { name: 'Qualitative Pastel-1 Color Scheme', key: 'schemePastel1' },
          { name: 'Qualitative Pastel-2 Color Scheme', key: 'schemePastel2' },
          { name: 'Qualitative Set-1 Color Scheme', key: 'schemeSet1' },
          { name: 'Qualitative Set-2 Color Scheme', key: 'schemeSet2' },
          { name: 'Qualitative Set-3 Color Scheme', key: 'schemeSet3' },
          { name: 'Viridis Color Scheme', range: 'interpolateViridis' },
          { name: 'Inferno Color Scheme', range: 'interpolateInferno' },
          { name: 'Magma Color Scheme', range: 'interpolateMagma' },
          { name: 'Plasma Color Scheme', range: 'interpolatePlasma' },
          { name: 'Warm Rainbow Color Scheme', range: 'interpolateWarm' },
          { name: 'Cool Rainbow Scheme', range: 'interpolateCool' },
          { name: 'Cube Helix Default Color Scheme', range: 'interpolateCubehelixDefault' },
          { name: 'Rainbow Colors', range: 'interpolateRainbow' },
          { name: 'Sinebow Colors', range: 'interpolateSinebow' }
        ],
        schemeName: '',
        schemeIndex: 0,
      }
    },
    watch: {
      currentHL: function(val) {
        this.showSelection();
      }
    },

    methods: {

      add: function() {
        this.highlighters.splice(this.currentHL += 1, 0, { color: '#000000', label: '<Name>' });
        this.showSelection();
        Vue.nextTick(() => {
          this.selectLabel();
        });
      },

      remove: function() {
        this.highlighters.splice(this.currentHL, 1);
        this.currentHL = Math.min(this.currentHL, this.highlighters.length - 1);
        this.showSelection();
      },

      random: function() {
        this.highlighters.forEach(highlighter => {
          highlighter.color = this.getRandomColor();
        });
      },

      getRandomColor: function() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
          color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
      },

      removeAll: function() {
        this.highlighters = [];
        this.currentHL = -1;
      },

      element: function(sel) {
        return document.querySelector(sel);
      },

      hexColor: function(color) {
        return d3Color.color(color).hex();
      },

      selectScheme: function(evt) {
        this.schemeIndex = +evt.target.value;
        var scheme = this.schemes[this.schemeIndex];
        this.schemeName = scheme.name;
        if (scheme.file) {
          this.removeAll();
          this.load(scheme.file);
        }
        else if (scheme.key) {
          this.removeAll();
          d3ScaleChromatic[scheme.key].forEach(color => {
            this.highlighters.push({ color: color, label: color });
          });
        }
        else if (scheme.range) {
          var range = d3ScaleChromatic[scheme.range];
          this.highlighters.length <= 1 ? new Array(8).fill() : this.highlighters;
          var dt = 1 / (this.highlighters.length - 1);
          this.highlighters.forEach((highlighter, i) => {
            var color = range(i * dt);
            highlighter.color = this.hexColor(color);
            highlighter.label ? highlighter.label : color;
          });
        }
        else {
          this.removeAll();
        }
      },

      load: function(file) {
        var self = this;
        d3Request.tsv(
          `static/data/${file}.txt`,
          function(row) { self.highlighters.push({ color: row.color, label: row.name }) },
          function() {}
        );
      },

      apply: function() {
        eventHub.$emit('showOeuvre');
        eventHub.$emit('applyHighlighters', this.highlighters, this.currentHL);
      },

      save: function() {
        localStorage.setItem('highlighters', JSON.stringify(this.highlighters));
      },

      select: function(evt) {
        var index = +evt.currentTarget.getAttribute('index');
        this.currentHL = index;
        this.showSelection();
      },

      showSelection: function() {
        var self = this;
        var entries = document.querySelectorAll('.hl-table>.hl-entry');
        Array.from(entries).forEach((e, i) => {
          e.classList.remove('selected');
          if (self.currentHL == i) {
            e.classList.add('selected');
          }
        })
      },

      selectLabel: function() {
        var label = this.$el.querySelector('.hl-entry.selected input.label');
        label.setSelectionRange(0, label.value.length)
      },

      styleField: function(color) {
        var contrast = fontColorContrast(color);
        return `backgroundColor:${color};color:${contrast}`;
      },

      hideHighlighterDialog: function() {
        this.apply();
      }

    },

    created: function() {
      eventHub.$emit('hideOeuvre');
      this.schemeName = this.schemes[this.schemeIndex].name;
    },

    mounted: function() {
      eventHub.$once('setHighlighters', (highlighters, index) => {
        this.highlighters = JSON.parse(highlighters);
        if (index != null) {
          this.currentHL = index;
          Vue.nextTick(() => {
            var entry = this.$el.querySelector(`.hl-entry[index="${index}"]`);
            if (entry) {
              entry.scrollIntoView();
            }
         });

        }
      });
    },

    updated: function() {
      if (this.highlighters.length > 0) {
        this.currentHL = Math.max(this.currentHL, 0);
        this.showSelection();
      }
    },

    destroyed: function() {
    }

  }


</script>


<style scoped>

  .highlighters {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .hl-panel {
    margin: 50px;
  }

  .hl-table {
    margin: 20px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
    border-collapse: collapse;
    border-spacing: 0px;
    display: table;
    width: 100%;
  }

  .hl-row {
    display: table-row;
    white-space: nowrap;
  }

  .hl-row.selected {
    background-color: #eee;
  }

  .hl-header {
    font-weight: 700;
    font-size: 11pt;
  }

  .hl-header>.hl-cell {
    padding-left: 7px;
  }

  .hl-cell {
    position: relative;
    height: 24px;
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
  }

  .hl-cell>input {
    position: absolute;
    top: 2px;
    left: 5px;
    bottom: 2px;
    right: 5px;
    border: none;
    outline: none;
  }

  .hl-color {
    min-width: 60px;
  }

  .hl-rgb {
    font-family: 'Inconsolata';
    font-size: 10pt;
    padding-left: 7px;
    padding-right: 7px;
    width: 20px;
  }

  .hl-label {
    width: 30%;
  }

  .hl-attributes {
    width: 70%;
  }

  input.color {
    cursor: pointer;
    opacity: 0;
  }

  input.label {
    background-color: rgba(0,0,0,0);
  }

  input.attribute {
    background-color: rgba(0,0,0,0);
  }

  button {
    width: 180px;
  }


</style>
