<template>
  <div class="iframe-panel">
    <iframe :src="url" frameborder="0"></iframe>
  </div>
</template>


<script>

  import eventHub from '../js/eventHub';

  export default {

    name: 'inline-frame',

    data () {
      return {
        msg: 'Reading Assistant Inline frame', 
        url: ''
      }
    },
    
    mounted: function () {

      eventHub.$emit('hideOeuvre');

      eventHub.$once('setData', data => {
        this.url = data.url;
        var iframe = document.querySelector('iframe');
        iframe.addEventListener('load', evt => {
          iframe.contentWindow.postMessage(data, '*');
        });
      });

    }
    
  }

</script>


<style scoped>

  .iframe-panel {
    display: flex;
    flex: 1 1 100%;
  }
  
  iframe {
    width: 100%;
    height: auto;
  }
  
</style>
