<template>
  <div class="mn-text">
    <h1>{{ msg }}</h1>

    <div class="mn-button">
      <input @click="simplify" type="button" value="Simplify Lines" >
      <label for="simplify"> for zoom level</label>
      <select id="simplify" v-model="zoomLevel">
        <option v-for="(zoomLevel, index) in zoomLevels" :value="index">{{ zoomLevel }}</option>
      </select>
    </div>

    <div class="mn-button">
      <label for="sort">Selections: </label>
      <select id="sort" @change="selectPlaces">
        <option v-for="(selection, index) in selections" :value="selection">{{ selection }}</option>
      </select>
    </div>

    <div class="mn-button mn-space">
      <input @click="reduce" type="button" value="Reduce to Point" >
      <input @click="reload" type="button" value="Reload Objects" >
      <input @click="remove" type="button" value="Delete Objects" >
    </div>

    <div class="mn-scroller">
      <div class="mn-table">
        <div class="mn-row" @click="sortPlaces">
          <div class="mn-cel mn-tit"></div>
          <div class="mn-cel mn-tit">Id</div>
          <div id="mn-name" class="mn-cel mn-tit">Place Name</div>
          <div id="mn-place" class="mn-cel mn-tit">Place Type</div>
          <div id="mn-geo" class="mn-cel mn-tit">Geo Type</div>
          <div id="mn-size" class="mn-cel mn-tit">Size</div>
          <div id="mn-size" class="mn-cel mn-tit">Used</div>
        </div>
        <div class="mn-row" v-for="place in places">
          <input class="mn-cel" type="checkbox">
          <div class="mn-cel mn-num">{{ place.place_id }}</div>
          <div class="mn-cel mn-str">{{ place.display_name | shorten }}</div>
          <div class="mn-cel mn-str">{{ place.type | format }}</div>
          <div class="mn-cel mn-str">{{ place.geojson.type }}</div>
          <div class="mn-cel mn-num">{{ place.geojson | count }}</div>
          <div class="mn-cel mn-num">{{ place.place_id | used(geos) }}</div>
        </div>
      </div>
    </div>

  </div>
</template>


<script>

  import eventHub from '../js/eventHub';
  import geoutils from '../js/geoutils';
  const simplify = require('simplify-geojson');
  const nominatim = require('../js/nominatim.js');

  export default {
    name: 'manage',
    data () {
      return {
        msg: 'Manage Spatial Data',
        places: [],
        geos: null,
        selections: [ 'None', 'All', 'Points', 'Lines', 'Areas', 'Unused' ],
        zoomLevels: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18],
        zoomLevel: 10
      }
    },

    filters: {
      count: function(geojson) {
        return geoutils.countElements(geojson.coordinates) / 2 ;
      },
      used: function(id, geos) {
        return geos.has(id) ? '•' : '';
      },
      format: function(str) {
        return str ? str.replace(/_/g, ' ') : '—';
      },
      shorten: function(name) {
        var pos = name.indexOf(',');
        if (pos > 0) {
          name = name.substr(0, pos);
        }
        return name;
      }
    },

    methods: {

      getCheckboxes: function() {
        return Array.from(document.querySelectorAll('.mn-table input.mn-cel'));
      },

      simplify: function(evt) {
        this.getCheckboxes().forEach((checkbox, index) => {
          var place = this.places[index];
          if (checkbox.checked && !place.geojson.type.match(/point$/i)) {
            var tolerance = Math.pow(2, -this.zoomLevel);
            var simplified = simplify({ type: 'Feature', geometry: place.geojson }, tolerance);
            place.geojson = simplified.geometry;
          }
        });
      },

      reload: function() {
        this.getCheckboxes().forEach((checkbox, index) => {
          if (checkbox.checked) {
            var place = this.places[index];
            var osm_id = place.osm_id;
            var osm_type = place.osm_type[0].toUpperCase();
            var type = place.type;
            nominatim.reverse({ osm_id, osm_type }, place => {
              if (!place.type) { place.type = type }
              this.places.splice(index, 1, place);
            });
          }
        })
      },

      remove: function() {
        var checkboxes = this.getCheckboxes();
        for (var i = checkboxes.length - 1; i >= 0; i--) {
          var checkbox = checkboxes[i];
          if (checkbox.checked) {
            this.places.splice(i, 1)
          }
        }
      },

      reduce: function() {
        this.getCheckboxes().forEach((checkbox, index) => {
          if (checkbox.checked) {
            var place = this.places[index];
            if (place.geojson.type != 'Point') {
              place.geojson.type = 'Point';
              place.geojson.coordinates = [+place.lon, +place.lat];
            }
          }
        });
      },

      sortPlaces: function(evt) {
        switch (evt.target.id) {
          case 'mn-name':
          this.places.sort((a, b) => { console.log(a.display_name); return a.display_name.localeCompare(b.display_name) });
          break;
          case 'mn-place':
          this.places.sort((a, b) => { return a.type.localeCompare(b.type) });
          break;
          case 'mn-geo':
          this.places.sort((a, b) => { return a.geojson.type.localeCompare(b.geojson.type) });
          break;
          case 'mn-size':
          this.places.sort((a, b) => { return geoutils.countElements(b.geojson.coordinates) - geoutils.countElements(a.geojson.coordinates) });
          break;
        }
      },

      selectPlaces: function(evt) {
        switch (evt.target.value) {
          case 'None':
          this.getCheckboxes().forEach((checkbox, index) => { checkbox.checked = false });
          break;
          case 'All':
          this.getCheckboxes().forEach((checkbox, index) => { checkbox.checked = true });
          break;
          case 'Points':
          this.getCheckboxes().forEach((checkbox, index) => { checkbox.checked = this.places[index].geojson.type.match(/point$/i) });
          break;
          case 'Lines':
          this.getCheckboxes().forEach((checkbox, index) => { checkbox.checked = this.places[index].geojson.type.match(/linestring$/i) });
          break;
          case 'Areas':
          this.getCheckboxes().forEach((checkbox, index) => { checkbox.checked = this.places[index].geojson.type.match(/polygon$/i) });
          break;
          case 'Unused':
          this.getCheckboxes().forEach((checkbox, index) => { checkbox.checked = !this.geos.has(this.places[index].place_id) });
          break;

        }
      }

    },

    created: function() {
      eventHub.$emit('hideOeuvre');
    },

    mounted: function() {
      eventHub.$emit('callForPlaces', places => {
        this.places = Object.values(places);
      });
      eventHub.$emit('callForGeos', geos => {
        this.geos = geos;
      });
    },

    destroyed: function() {
      var placesObject = {};
      this.places.forEach(place => {
        placesObject[place.place_id] = place;
      });
      eventHub.$emit('sendPlaces', placesObject);
    }
  }

</script>


<style scoped>

  .mn-text {
    padding: 50px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  h1 {
    display: inline-block;
  }

  .mn-scroller {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .mn-table {
    display: table;
    border-collapse: collapse;
  }

  .mn-row {
    display: table-row;
    line-height: 2em;
    padding: 5px;
    margin: 15px;
    border-bottom: 1px solid #ccc;
  }

  .mn-cel {
    display: table-cell;
    max-width: 350px;
    min-width: 1em;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    padding-right: 1em;
  }

  .mn-num {
    text-align: right;
  }

  .mn-str {
    text-align: left;
  }

  .mn-tit {
    text-align: center;
    font-weight: 600;
    cursor: pointer;
  }

  .mn-button {
    margin-bottom: .5em;
  }

  .mn-space {
    margin-bottom: 2em;
  }

  input[type=button] {
    width: 150px;
  }

</style>
