<template>
  <nav>
    <ul class="menu-bar">
      <!-- About -->
      <li class="menu" @mouseover="show" @mouseout="hide" @mouseup="toggle">
        <a class="menu-title menu-item menu-app">{{ title }}</a>
        <ul class="menu-panel hidden">
          <li @click="about" class="menu-item">About Reading Assistant</li>
          <li class="menu-separator">
          <li @click="preferences" class="menu-item">Preferences…</li>
          <li class="menu-separator">
          <li @click="resources" class="menu-item">Text Resources</li>
          <li @click="tools" class="menu-item">Text Tools</li>
          <li class="menu-separator">
          <li @click="help" class="menu-item">User Guide</li>
          <li @click="versions" class="menu-item">Versions</li>
        </ul>
      </li>
      <!-- File -->
      <li class="menu" @mouseover="show" @mouseout="hide" @mouseup="toggle">
        <a class="menu-title menu-item">File</a>
        <ul class="menu-panel hidden">
          <li @click="empty" class="menu-item" title="Command N">New Text</li>
          <li @click="guidedTour" class="menu-item">Guided Tour</li>
          <li class="menu-separator">
          <li @click="openFile" class="menu-item" title="Command O">Open File…</li>
          <li @click="openDir" class="menu-item">Open Directory…</li>
          <li @click="openURL" class="menu-item">Open Location…</li>
          <li @click="dnd" class="menu-item">Drag &amp; Drop…</li>
          <li class="menu-separator">
          <li @click="saveAs" class="menu-item depend-text disabled" title="Command S">Save As…</li>
          <li @click="cloud" class="menu-item">Cloud Storage…</li>
          <li class="menu-separator">
          <li @click="closing" class="menu-item depend-text disabled" title="Command W">Close Tab</li>
          <li @click="closingAll" class="menu-item depend-text disabled">Close All Tabs</li>
        </ul>
      </li>
      <!-- Edit -->
      <li class="menu" @mouseover="show" @mouseout="hide" @mouseup="toggle">
        <a class="menu-title menu-item">Edit</a>
        <ul class="menu-panel hidden">
          <li class="menu-item disabled" >Undo</li>
          <li class="menu-item disabled" >Redo</li>
          <li class="menu-separator">
          <li @click="addIndexEntry" class="menu-item depend-text disabled" title="Add an entry to the index">Add Index Entry</li>
          <li @click="removeSelectedIndexEntries" class="menu-item depend-sels disabled" title="Remove selected entries from the index">Remove Selected Index Entries</li>
          <li class="menu-separator">
          <li @click="copyIndex" class="menu-item depend-dict disabled" title="Copy the index">Copy Index</li>
          <li @click="copyPlainText" class="menu-item depend-dict disabled" title="Copy plain text">Copy Plain Text</li>
          <li class="menu-separator">
          <li @click="clearIndexSelections" class="menu-item depend-dict disabled" title="Remove all text selections">Clear Index Selections</li>
          <li @click="clearTextSelections" class="menu-item depend-text disabled" title="Remove all text selections">Clear Text Selections</li>
          <li @click="clearAll" class="menu-item depend-text disabled" title="Clear index and text">Clear All</li>
          <li class="menu-separator">
          <li @click="enableEdit" id="mi-edit" class="menu-item depend-text disabled" title="Make text editable"><div class="check-mark hidden"></div>Enable Text Editing</li>
        </ul>
      </li>
      <!-- Text -->
      <li class="menu" @mouseover="show" @mouseout="hide" @mouseup="toggle">
        <a class="menu-title menu-item">Text</a>
        <ul class="menu-panel hidden">
          <li @click="aboutText" class="menu-item depend-text disabled" title="Command I">About this Text</li>
          <li class="menu-separator">
          <li @click="createDictionary" class="menu-item depend-text disabled">Create Dictionary</li>
          <li @click="createWordNGrams" class="menu-item depend-text disabled">Create Word N-Grams…</li>
          <li @click="createCharNGrams" class="menu-item depend-text disabled">Create Character N-Grams…</li>
          <li @click="createSentences" class="menu-item depend-text disabled">Create Sentence List</li>
          <li class="menu-separator">
          <li @click="createNodeTextList" class="menu-item depend-text disabled">Create Node Text List</li>
          <li @click="createElementList" class="menu-item depend-text disabled">Create Element List</li>
          <li @click="createSelectorList" class="menu-item depend-text disabled">Create Selector List</li>
          <li class="menu-separator">
          <li @click="createPOS" class="menu-item depend-text disabled">Load Part Of Speech Tagger</li>
          <li class="menu-separator">
          <li @click="plainText" class="menu-item depend-html disabled">Convert to Plain Text</li>
          <li @click="textToHTML" class="menu-item depend-plain disabled">Convert to HTML</li>
          <li @click="htmlElements" class="menu-item depend-html disabled">Show As HTML</li>
          <li class="menu-separator">
          <li @click="newWindow" class="menu-item depend-text disabled">Show In New Window</li>
          <li class="menu-separator">
          <li @click="toggleOriginalStyles" id="mi-styles" class="menu-item depend-html disabled" title="Use original styles"><div class="check-mark"></div>Use original styles</li>
        </ul>
      </li>
      <!-- Index -->
      <li class="menu" @mouseover="show" @mouseout="hide" @mouseup="toggle">
        <a class="menu-title menu-item">Index</a>
        <ul class="menu-panel hidden">
          <li @click="changeSelectors" class="menu-item depend-sels disabled" title="Changes the selector of all selected index entries">Change Selectors</li>
          <li @click="performSelections" class="menu-item depend-sels disabled" title="Perform text selections">Perform Text Selections</li>
          <li class="menu-separator">
          <li @click="loadDictionaries" class="menu-item depend-text disabled">Load Dictionaries…</li>
          <li class="menu-separator">
          <li @click="sorting" class="menu-item depend-dict disabled">Sorting…</li>
          <li @click="combine" class="menu-item depend-dict disabled">Merge…</li>
          <li class="menu-separator">
          <li @click="managing" class="menu-item depend-data disabled">Manage Spatial Data…</li>
          <li class="menu-separator">
          <li class="menu-item depend-dict disabled">Select<div class="menu-item-arrow"></div>
            <ul class="menu-panel sub-menu hidden">
              <li @click="selectVisibleEntries" class="menu-item depend-dict disabled" title="Select visible entries from the index">All</li>
              <li @click="selectSameHighlighter" class="menu-item depend-sels disabled" title="Select index entries with the same highlighter">Same Highlighter</li>
              <li @click="selectSameSelector" class="menu-item depend-sels disabled" title="Select index entries with the same selector">Same Selector</li>
              <li class="menu-separator">
              <li @click="selectUpwards" class="menu-item depend-sels disabled" title="Select index entries upwards">Upwards</li>
              <li @click="selectDownwards" class="menu-item depend-sels disabled" title="Select index entries downwards">Downwards</li>
              <li class="menu-separator">
              <li @click="invertSelection" class="menu-item depend-dict disabled" title="Remove entries from the index">Invert Selection</li>
              <li @click="deselectVisibleEntries" class="menu-item depend-dict disabled" title="Deselect visible entries from the index">Deselect All</li>
            </ul>
          </li>
          <li class="menu-item depend-sels disabled">Move<div class="menu-item-arrow"></div>
            <ul class="menu-panel sub-menu hidden">
              <li @click="moveEntry($event, 'up')" class="menu-item">Up</li>
              <li @click="moveEntry($event, 'down')" class="menu-item">Down</li>
              <li @click="moveEntry($event, 'top')" class="menu-item">To Top</li>
              <li @click="moveEntry($event, 'bottom')" class="menu-item">To Bottom</li>
            </ul>
          </li>
          <li class="menu-item depend-sels disabled">Convert<div class="menu-item-arrow"></div>
            <ul class="menu-panel sub-menu hidden">
              <li @click="lowercase" class="menu-item">Lowercase</li>
              <li @click="uppercase" class="menu-item">Uppercase</li>
              <li @click="capitalize" class="menu-item">Capitalize</li>
              <li class="menu-separator">
              <li @click="reverse" class="menu-item">Reverse</li>
            </ul>
          </li>
          <li @click="group" class="menu-item depend-sels disabled" title="Group selected index entries">Group Selected</li>
          <li class="menu-separator">
          <li @click="removeDuplicates" class="menu-item depend-dict disabled">Remove Duplicates</li>
          <li @click="removeEmpties" class="menu-item depend-dict disabled">Remove Unused</li>
          <li class="menu-separator">
          <li @click="addSelections" class="menu-item depend-sels disabled">Append Text Selections</li>
          <li @click="addHighlighters" class="menu-item depend-text disabled">Append Highlighters</li>
          <li class="menu-separator">
          <li @click="showAsText" class="menu-item depend-dict disabled">Show As Text</li>
        </ul>
      </li>
      <!-- Highlighters -->
      <li class="menu" @mouseover="show" @mouseout="hide" @mouseup="toggle">
        <a class="menu-title menu-item">Highlighters</a>
        <ul class="menu-panel hidden">
          <li @click="editHighlighters" class="menu-item depend-text disabled" title="Maintain collection of highlighters and select current highlighter">Edit Collection…</li>
          <li @click="createHighlighters" class="menu-item depend-dict disabled" title="Create highlighters from the index">Create From Index…</li>
        </ul>
      </li>
      <!-- Statistics -->
      <li class="menu" @mouseover="show" @mouseout="hide" @mouseup="toggle">
        <a class="menu-title menu-item">Statistics</a>
        <ul class="menu-panel hidden">
          <li @click="showStatistics" class="menu-item depend-text disabled">Show Statistics…</li>
          <li @click="wordRelations" class="menu-item depend-text disabled">Word Relations…</li>
        </ul>
      </li>
      <!-- Visualization -->
      <li class="menu" @mouseover="show" @mouseout="hide" @mouseup="toggle">
        <a class="menu-title menu-item">Visualization</a>
        <ul class="menu-panel hidden">
          <li @click="wordPlot" class="menu-item depend-dict disabled" title="Alt key opens new window">Word Plot</li>
          <li @click="textSections" class="menu-item depend-dict disabled" title="Alt key opens new window">Text Sections</li>
          <li class="menu-separator">
          <li @click="textMap" class="menu-item depend-dict disabled" title="Alt key opens new window">Text Map</li>
          <li @click="textJourney" class="menu-item depend-dict disabled" title="Alt key opens new window">Text Journey</li>
          <li @click="literarySettings" class="menu-item depend-dict disabled" title="Alt key opens new window">Literary Settings</li>
          <li class="menu-separator">
          <li @click="distMatrix" class="menu-item depend-dict disabled" title="Alt key opens new window">Distance Matrix</li>
        </ul>
      </li>
      <!-- Project -->
      <li class="menu" @mouseover="show" @mouseout="hide" @mouseup="toggle">
        <a class="menu-title menu-item">Project</a>
        <ul class="menu-panel hidden">
          <li @click="showDocuments" class="menu-item depend-text disabled">Documents</li>
          <!-- li @click="test" class="menu-item">Test</li -->
        </ul>
      </li>
      <!-- File Dialog -->
      <input @change="openDialog" type="file" class="file-dialog" multiple />
      <input @change="openDialog" type="file" class="dir-dialog" webkitdirectory directory multiple />
      <!-- Wheel Timer -->
      <ra-wheel></ra-wheel>
    </ul>
  </nav>
</template>


<style scoped>

  .menu-bar {
    position: relative;
    display: flex;
    overflow: visible;
    white-space: nowrap;
    flex: 0 0 24px;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #ccc;
    list-style-type: none;
    background: linear-gradient(0deg, rgba(230,230,230,1), rgba(250,250,250,1));
    z-index: 1000;
  }

  #app.dark .menu-bar {
    background: rgb(60,70,80);
    color: rgb(210,210,225);
    border-color: rgb(120,120,120);
  }

  .menu {
    cursor: pointer;
  }

  .menu-panel {
    position: absolute;
    font-weight: 400;
    font-size: 11.5pt;
    line-height: 20px;
    margin: 0 0 0 0;
    padding: 6px 0 6px 0;
    list-style-type: none;
    border: 1px solid #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.2);
    background-color: #f2f2f2;
    clip:rect(0px, 3000px, 3000px, -100px);
    /* -webkit-backdrop-filter: opacity(60%); */
    /* -webkit-backdrop-filter: blur(12px); */
    z-index: 999;
  }

  #app.dark .menu-panel {
    background: rgb(60,70,80);
    border-color: rgb(60,60,60);
  }

  .sub-menu {
    left: 100%;
    margin-top: -7px;
    margin-left: 0px;
    border-radius: 5px;
    clip:rect(-100px, 3000px, 3000px, 0px);
    z-index: 998;
  }

  .menu-title {
    font-weight: 600;
    font-size: 11.5pt;
    line-height: 22px;
    padding: 0 10px;
  }

  .menu-app {
    font-weight: 800;
    font-size: 11.5pt;
  }

  .menu-item {
    padding: 0px 12px 0px 12px;
    display: flex;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }

  .menu-panel .menu-item {
    padding-left: 20px;
  }

  .menu-item:hover {
    background-color: #48f;
    color: white;
  }

  .menu-item:hover > .sub-menu {
    display: inline;
    color: #444;
  }

  #app.dark .menu-item:hover > .sub-menu {
    color: rgb(210,210,225);
  }

  .menu-item-arrow {
    text-align: right;
    min-width: 30px;
    margin-left: auto;
  }

  .menu-item-arrow:before {
    font-size: 7.5pt;
    line-height: 0;
    content: "▶︎";
  }

  .check-mark:before {
    position: absolute;
    left: 5px;
    content: "✓";
  }

  .menu-separator {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 1px;
    background-color: #ccc;
  }

  #app.dark .menu-separator {
    background-color: rgb(120,120,120);
  }

  .hidden {
    display: none;
  }

  .disabled {
    color: #bbb;
    text-shadow: 1px 1px 0px #fff;
    pointer-events: none;
  }

  #app.dark .disabled {
    color: rgb(120,120,130);
    text-shadow: none;
  }

  .file-dialog, .dir-dialog, .doc-dialog {
    position: absolute;
    left: -10000px;
  }

</style>

<script>

  import eventHub from '../js/eventHub'
  var Wheel = require("./WheelTimer.vue");
  var textdata = require('../js/textdata.js');

  export default {

    data: function() {
      return {
        title: 'Reading Assistant'
      }
    },

    components: {
      'ra-wheel': Wheel
    },

    methods: {
      test: function(evt) {
        this.emit(evt, 'test');
      },
      about: function(evt) {
        this.open(evt, '/about');
      },
      preferences: function(evt) {
        this.open(evt, '/preferences');
      },
      tools: function(evt) {
        this.open(evt, '/tools');
      },
      resources: function(evt) {
        this.open(evt, '/resources');
      },
      help: function(evt) {
        this.open(evt, '/help');
      },
      versions: function(evt) {
        this.open(evt, '/versions');
      },
      openFile: function(evt) {
        document.querySelector('.file-dialog').click();
      },
      openDir: function(evt) {
        document.querySelector('.dir-dialog').click();
      },
      openDialog: function(evt) {
        this.$router.replace('/oeuvre');
        var files = evt.target.files;
        Array.from(files).forEach(file => {
          eventHub.$emit('loadFile', file);
        });
        evt.target.value = '';
      },
      openURL: function(evt) {
        this.$router.replace('/openURL');
      },
      dnd: function(evt) {
        this.open(evt, '/open');
      },
      guidedTour: function(evt) {
        this.$router.replace('/oeuvre');
        eventHub.$emit('loadFromURL', 'static/ReadingAssistantGuidedTour.html');
      },
      empty: function(evt) {
        this.emit(evt, 'emptyDoc');
      },
      show: function(evt) {
        this.update();
        var menuPanel = this.getMenuPanel(evt);
        if (menuPanel) { menuPanel.classList.remove('hidden') };
      },
      hide: function(evt) {
        var menuPanel = this.getMenuPanel(evt);
        if (menuPanel) { menuPanel.classList.add('hidden') };
      },
      toggle: function(evt) {
        var menuPanel = this.getMenuPanel(evt);
        if (menuPanel) { menuPanel.classList.toggle('hidden') };
      },
      update: function(evt) {
        this.updateMenus({ text: false, dict: false, data: false, sels: false, html: false, plain: false });
        eventHub.$emit('updateMenus', evt, (options, markers) => {
          this.updateMenus(options, markers);
        });
      },
      closing: function(evt) {
        this.emit(evt, 'closing');
      },
      closingAll: function(evt) {
        this.emit(evt, 'closingAll');
      },
      saveAs: function(evt) {
        this.emit(evt, 'saveAs');
      },
      cloud: function(evt) {
        this.emit(evt, 'cloud');
      },
      editHighlighters: function(evt) {
        this.emit(evt, 'editHighlighters');
      },
      createHighlighters: function(evt) {
        this.emit(evt, 'createHighlighters');
      },
      addIndexEntry: function(evt) {
        this.emit(evt, 'addIndexEntry');
      },
      selectVisibleEntries: function(evt) {
        this.emit(evt, 'selectVisibleEntries');
      },
      selectSameHighlighter: function(evt) {
        this.emit(evt, 'selectSameHighlighter');
      },
      selectSameSelector: function(evt) {
        this.emit(evt, 'selectSameSelector');
      },
      selectUpwards: function(evt) {
        this.emit(evt, 'selectUpwards');
      },
      selectDownwards: function(evt) {
        this.emit(evt, 'selectDownwards');
      },
      deselectVisibleEntries: function(evt) {
        this.emit(evt, 'deselectVisibleEntries');
      },
      invertSelection: function(evt) {
        this.emit(evt, 'invertSelection');
      },
      removeSelectedIndexEntries: function(evt) {
        this.emit(evt, 'removeSelectedIndexEntries');
      },
      copyIndex: function(evt) {
        this.emit(evt, 'copyIndex');
      },
      copyPlainText: function(evt) {
        this.emit(evt, 'copyPlainText');
      },
      clearIndexSelections: function(evt) {
        this.emit(evt, 'clearIndexSelections');
      },
      clearTextSelections: function(evt) {
        this.emit(evt, 'clearTextSelections');
      },
      clearAll: function(evt) {
        this.emit(evt, 'clearAll');
      },
      enableEdit: function(evt) {
        this.emit(evt, 'enableEdit', this.toggleCheckMark(evt.srcElement));
      },
      changeSelectors: function(evt) {
        this.emit(evt, 'changeSelectors');
      },
      performSelections: function(evt) {
        this.emit(evt, 'performSelections');
      },
      aboutText: function(evt) {
        this.emit(evt, 'aboutText');
      },
      showStatistics: function(evt) {
        this.emit(evt, 'showStatistics');
      },
      wordRelations: function(evt) {
        this.emit(evt, 'wordRelations');
      },
      plainText: function(evt) {
        this.emit(evt, 'plainText');
      },
      textToHTML: function(evt) {
        this.emit(evt, 'textToHTML');
      },
      htmlElements: function(evt) {
        this.emit(evt, 'htmlElements');
      },
      newWindow: function(evt) {
        this.emit(evt, 'newWindow');
      },
      toggleOriginalStyles: function(evt) {
        this.emit(evt, 'toggleOriginalStyles');
      },
      createDictionary: function(evt) {
        this.emit(evt, 'createDictionary');
      },
      createPOS: function(evt) {
        this.emit(evt, 'createPOS');
      },
      createWordNGrams: function(evt) {
        this.hide(evt);
        this.$router.replace('/wordngrams');
      },
      createCharNGrams: function(evt) {
        this.hide(evt);
        this.$router.replace('/charngrams');
      },
      createSentences: function(evt) {
        this.emit(evt, 'createSentences');
      },
      createNodeTextList: function(evt) {
        this.emit(evt, 'createNodeTextList');
      },
      createElementList: function(evt) {
        this.emit(evt, 'createElementList');
      },
      createSelectorList: function(evt) {
        this.emit(evt, 'createSelectorList');
      },
      loadDictionaries: function(evt) {
        this.hide(evt);
        this.$router.replace('/dictionaries');
      },
      sorting: function(evt) {
        this.hide(evt);
        this.$router.replace('/sorting');
      },
      combine: function(evt) {
        this.hide(evt);
        this.$router.replace('/combine');
      },
      managing: function(evt) {
        this.hide(evt);
        this.$router.replace('/managing');
      },
      moveEntry: function(evt, dir) {
        this.emit(evt, 'moveEntry', dir);
      },
      lowercase: function(evt) {
        this.emit(evt, 'lowercase');
      },
      uppercase: function(evt) {
        this.emit(evt, 'uppercase');
      },
      capitalize: function(evt) {
        this.emit(evt, 'capitalize');
      },
      reverse: function(evt) {
        this.emit(evt, 'reverse');
      },
      group: function(evt) {
        this.emit(evt, 'group');
      },
      removeDuplicates: function(evt) {
        this.emit(evt, 'removeDuplicates');
      },
      removeEmpties: function(evt) {
        this.emit(evt, 'removeEmpties');
      },
      addSelections: function(evt) {
        this.emit(evt, 'addSelections');
      },
      addHighlighters: function(evt) {
        this.emit(evt, 'addHighlighters');
      },
      showAsText: function(evt) {
        this.emit(evt, 'showAsText');
      },
      wordPlot: function(evt) {
        this.emit(evt, 'wordPlot');
      },
      textSections: function(evt) {
        this.emit(evt, 'textSections');
      },
      textMap: function(evt) {
        this.emit(evt, 'textMap');
      },
      textJourney: function(evt) {
        this.emit(evt, 'textJourney');
      },
      literarySettings: function(evt) {
        this.emit(evt, 'literarySettings');
      },
      distMatrix: function(evt) {
        this.emit(evt, 'distMatrix');
      },
      showDocuments: function(evt) {
        this.emit(evt, 'showDocuments');
      },

      emit: function(evt, method, param) {
        this.hide(evt);
        eventHub.$emit(method, evt, param);
      },

      open: function(evt, route) {
        this.hide(evt);
        this.$router.replace(route);
      },

      toggleCheckMark: function(menuItem) {
        var checkMark = menuItem.querySelector('.check-mark');
        return !checkMark.classList.toggle('hidden');
      },

      // Auxiliary function
      getMenuPanel: function(evt) {
        var element = evt.target;
        while (element && !element.classList.contains('menu')) {
          element = element.parentElement;
        }
        return element ? element.querySelector('.menu-panel') : element;
      },

      updateMenus: function(options, markers) {
        for (var option in options) {
          var selector = `.menu-bar li.depend-${option}`;
          var enable = options[option];
          var method = enable ? 'remove' : 'add';
          var menuItems = document.querySelectorAll(selector);
          menuItems.forEach(item => {
            item.classList[method]('disabled');
          });
        };
        if (markers) {
          markers.forEach(marker => {
            var menuItem = document.querySelector(marker.item);
            var checkMark = menuItem.querySelector('.check-mark');
            if (checkMark) {
              checkMark.classList.toggle('hidden', !marker.value);
            }
          });
        }
      }

    }

  }

</script>
