<template>
  <div class="nominatim-text">
    <h1>{{ msg }}</h1>
    <p>
      Select the approprate place by clicking on the title or refine the query and press enter.
    </p>
    <input class="nominatim-query" type="text" v-model='location' @keyup.enter="submit"/>
    <p>
      <label><input class="nominatim-type" type="checkbox" v-model="pointType" /> Prefer point location</label>
    </p>
    <p>{{ places.length | hits }}</p>
    <div class="nominatim-entry" v-for="(place, index) in places">
      <h3 class="nominatim-title" @click="select" :index="index">{{ place.display_name }}</h3>
      <div class="nominatim-table">
        <!-- Address -->
        <div class="nominatim-row" v-for="(entry, key) in place.address">
          <div class="nominatim-name">{{ key | beautify }}</div>
          <div class="nominatim-value">{{ entry }}</div>
        </div>
        <!-- Extra tags -->
        <div class="nominatim-row" v-for="(entry, key) in place.extratags">
          <div class="nominatim-name">{{ key | beautify }}</div>
          <div class="nominatim-value">{{ entry }}</div>
        </div>
        <!-- Other information -->
        <div class="nominatim-row">
          <div class="nominatim-name">Coordinates</div>
          <div class="nominatim-value">{{ place.lat }}, {{ place.lon }}</div>
        </div>
        <div class="nominatim-row">
          <div class="nominatim-name">Bounding Box</div>
          <div class="nominatim-value">{{ place.boundingbox[0] }}, {{ place.boundingbox[1] }}, {{ place.boundingbox[2] }}, {{ place.boundingbox[3] }}</div>
        </div>
        <div class="nominatim-row">
          <div class="nominatim-name">Identifier</div>
          <div class="nominatim-value">{{ place.place_id }}</div>
        </div>
        <div class="nominatim-row">
          <div class="nominatim-name">Class</div>
          <div class="nominatim-value">{{ place.class }}</div>
        </div>
        <div class="nominatim-row">
          <div class="nominatim-name">Type</div>
          <div class="nominatim-value">{{ place.type }}</div>
        </div>
        <div class="nominatim-row">
          <div class="nominatim-name">Geometry</div>
          <div class="nominatim-value">{{ place.geojson.type }}</div>
        </div>
        <div class="nominatim-row">
          <div class="nominatim-name">Size</div>
          <div class="nominatim-value">{{ place.geojson | size }}</div>
        </div>
        <div class="nominatim-row">
          <div class="nominatim-name">Importance</div>
          <div class="nominatim-value">{{ place.importance }}</div>
        </div>
        <div class="nominatim-row">
          <div class="nominatim-name">Icon</div>
          <div class="nominatim-value"><img :src="place.icon"></div>
        </div>

      </div>
    </div>
  </div>
</template>


<script>

  import eventHub from '../js/eventHub';
  var nominatim = require('../js/nominatim.js');

  export default {
    name: 'nominatim',
    data () {
      return {
        msg: 'Nominatim Selector',
        places: [],
        location: null,
        callback: null,
        pointType: false,
        hits: 0
      }
    },
    filters: {
      beautify: function(value) {
        return value.replace('_', ' ');
      },
      hits: function(value) {
        var verb = value == 1 ? 'is' : 'are',
            pl = value == 1 ? '' : 's';
        return `There ${verb} ${value} hit${pl}.`
      },
      size: function(value) {
        return JSON.stringify(value).length;
      }
    },
    methods: {
      select: function(evt) {
        var index = +evt.currentTarget.getAttribute('index');
        var place = this.places[index];
        if (this.pointType) {
          place.geojson.type = 'Point';
          place.geojson.coordinates = [+place.lon, +place.lat];
        }
        eventHub.$emit('showOeuvre');
        this.callback(place);
      },
      submit: function(evt) {
        nominatim.search({ q: this.location }, places => {
          this.setPlaces(places);
        });
      },
      setPlaces: function(places) {
        this.places = places.filter(p => {
          return p.geojson;
        })
      }
    },
    mounted: function() {
      eventHub.$once('showPlaces', (places, location, callback) => {
        this.location = location;
        this.callback = callback;
        this.setPlaces(places);
      });
    }
  }

</script>


<style scoped>

  .nominatim-text {
    padding: 50px;
    margin: 0px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  h1 {
    display: inline-block;
  }

  .nominatim-query {
    display: block;
    font-size: 100%;
    width: 100%;
  }

  .nominatim-entry {
  }

  .nominatim-title {
    cursor: pointer;
  }

  .nominatim-title:hover {
    color: #48f;
  }

  .nominatim-table {
    display: table;
    border-collapse: collapse;
  }

  .nominatim-row {
    display: table-row;
    line-height: 2em;
    padding: 5px;
    margin: 15px;
    border-bottom: 1px solid #ccc;
  }

  .nominatim-name {
    display: table-cell;
    text-transform: capitalize;
    font-weight: 700;
    padding-right: 1.5em;
    text-align: right;
  }

  .nominatim-value {
    font-weight: 400;
    line-height: 1.5em;
    padding-bottom: 4px;
  }

</style>
