<template>
  <div class="oeuvre hidden">
    <ra-text v-for="(text, index) in texts" :single-text="text" :key="text.id" :index="index"></ra-text>
  </div>
</template>


<script>

  import Vue from 'vue'
  import eventHub from '../js/eventHub'

  var Text = require("./Text.vue");
  var textdata = require('../js/textdata.js');
  var suffid = require('../js/suffid.js')();

  export default {

    name: 'oeuvre',

    data: function() {
      return {
        texts: [],
        images: [],
        styles: [],
        index: -1,
        docNum: 1
      }
    },

    components: {
      'ra-text': Text
    },

    methods: {

      getOeuvre: function() {
        return this.$el.children[this.index].querySelector('.single-text>div');
      },

      addText: function(text) {
        text.id = suffid();
        this.texts.splice(this.index += 1, 0, text);
      },

      assignImages: function() {
        var images = this.$el.querySelectorAll('img');
        Array.from(images).forEach(image => {
          var src = image.src;
          var index = this.images.findIndex(function(e) {
            return e.name == src.substr(src.length - e.name.length);
          })
          if (index >= 0) {
            image.setAttribute('data-filename', this.images[index].name);
            image.src = this.images[index].image;
            this.images.splice(index, 1);
          }
        });
      },

      assignStyles: function() {
        // console.log('STYLES', this.styles);
      },

      getCurrentText: function() {
        return this.texts[this.index];
      },

      removeText: function(index) {
        var text = this.texts[index];
        var filename = text.getFileName();
        if (text.changed === true) {
          var answer = window.confirm(`Close document "${filename}" without saving?`);
          if (answer === false) {
            return;
          };
        }
        this.texts.splice(index, 1);
        eventHub.$emit('close', index);
        if (this.texts.length == 0) {
          this.$router.replace('/welcome');
          this.index = -1;
        }
        else {
          this.$router.replace('/oeuvre');
          this.index = Math.min(index, this.texts.length - 1);
          eventHub.$emit('select', this.index);
        }
      },

      loadFile: function(file, passText, passImage, passStyle) {
        var self = this;
        var reader = new FileReader();
        var fileType = file.type.split(';')[0];
        if (fileType.length == 0) {
          var MIME = require('mime-types');
          fileType = MIME.lookup(file.name);
        }

        reader.onload = function(e) {

          // PDF
          if (fileType == 'application/pdf') {
            var pdf2text = require('../js/pdf2text.js');
            pdf2text(e.target.result, function(content) {
              var textObj = textdata(content.text, file.name, 'text/plain', file.lastModified);
              textObj.setMetaInfo(content.meta);
              passText(textObj);
            });
          }

          // EPUB
          else if (fileType == 'application/epub+zip') {
            var epub2html = require('../js/epub2html.js');
            epub2html(e.target.result, function(text) {
              var textObj = textdata(text, file.name, 'document', file.lastModified);
              passText(textObj);
            });
          }

          // HTML
          else if (fileType == 'text/html') {
            var textObj = textdata(e.target.result, file.name, fileType, file.lastModified);
            passText(textObj);
          }

          // XML (TEI)
          else if (fileType == 'application/tei+xml' || fileType == 'text/xml') {
            var tei2html = require('../js/tei2html.js');
            tei2html(e.target.result, function(text) {
              var textObj = textdata(text, file.name, 'document', file.lastModified);
              passText(textObj);
            });
          }

          // Text
          else if (fileType == 'text/plain') {
            var text = e.target.result;
            var spec = '# Index Reading Assistant';
            if (text.indexOf(spec) == 0) {
              eventHub.$emit('select', self.index);
              eventHub.$emit('showIndex', text);
            }
            else {
              var textObj = textdata(text, file.name, fileType, file.lastModified);
              passText(textObj);
            }
          }

          // ZIP
          else if (fileType == 'application/zip' || fileType == 'application/x-zip-compressed') {
            var unzip = require('../js/unzip.js');
            unzip(e.target.result, function(text, dict, data) {
            if (text == null) {
                self.loadFile(data, passText, passImage, passStyle);
              }
              else {
                var textObj = textdata(text, file.name, 'document', file.lastModified, dict, data);
                passText(textObj);
              }
            });
          }

          else if (fileType == 'application/x-webarchive') {
            var webarchive = require('../js/webarchive.js');
            webarchive(e.target.result, function(html) {
              var textObj = textdata(html, file.name, 'document', file.lastModified);
              passText(textObj);
            });
          }

          // JSON
          else if (fileType == 'application/json') {
            var json = JSON.parse(e.target.result);
            if (json.meta && json.meta.type == 'highlighters') {
              eventHub.$emit('select', self.index);
              eventHub.$emit('applyHighlighters', json.data, 0);
            }
            else {
              alert('Type of JSON file not recognized!');
            }
          }

          // CSS
          else if (fileType == 'text/css') {
            passStyle(file.name, e.target.result);
          }

          // GeoJSON
          else if (fileType == 'application/geo+json') {
            var geojson = JSON.parse(e.target.result);
            console.log('GEOJSON', geojson);
          }

          // Others
          else {
            alert(`File format "${fileType}" not supported`);
          }

        }

        switch (fileType) {
        case 'text/plain':
        case 'text/html':
        case 'text/xml':
        case 'text/css':
        case 'application/tei+xml':
        case 'application/json':
        case 'application/geo+json':
          reader.readAsText(file);
          break;
        case 'application/epub+zip':
        case 'application/pdf':
        case 'application/zip':
        case 'application/x-zip-compressed':
        case 'application/x-webarchive':
          reader.readAsArrayBuffer(file);
          break;
        case 'image/png':
        case 'image/jpeg':
        case 'image/svg+xml':
          var obj = window.URL.createObjectURL(file);
          passImage(file.name, obj);
          break;
        default:
          // Inpsect file extension
          var path = require('path-browserify');
          var ext = path.extname(file.name).toLowerCase();
          switch (ext) {
          case '.webloc':
            var webloc = require('../js/webloc.js');
            webloc(file, function(url) {
              eventHub.$emit('loadFromURL', url);
            })
            break;
          default:
            if (fileType !== false) {
              alert(`File format "${fileType}" not supported`);
            }
            break;
          }
        }
      },

    },

    mounted: function() {
      var self = this;

      eventHub.$on('loadFile', file => {
        hideChildren(self.$el);
        self.loadFile(file, text => {
          self.addText(text);
          eventHub.$emit('addTab', text.getFileName());
          Vue.nextTick(() => {
            eventHub.$emit('select', self.index);
          });
        }, (name, image) => {
          this.images.push({ name: name, image: image });
          this.assignImages();
        }, (name, style) => {
          this.styles.push({ name: name, style: style });
          this.assignStyles();
        });
      });

      eventHub.$on('loadFromURL', (url, cors) => {
        var isAbsoluteUrl = require('is-absolute-url');
        if (!cors && isAbsoluteUrl(url)) {
          var relais = require('../js/relais.js');
          relais(url, data => {
            eventHub.$emit('loadFile', data);
          });
        }
        else {
          var d3 = require('d3-request');
          d3.request(url).responseType('blob').get((error, xhr) => {
            if (error) {
              alert(`Could not get "${url}"`);
            }
            else {
              var blob = xhr.response;
              blob.name = require('path-browserify').basename(url);
              blob.lastModified = Date.now();
              eventHub.$emit('loadFile', blob);
            }
          })
        }
      });

      eventHub.$on('showText', content => {
        var filename = `PastedDoc-${self.docNum}.txt`;
        self.docNum += 1;
        hideChildren(self.$el);
        var text = textdata(content, filename, 'text/plain', Date.now());
        self.addText(text);
        eventHub.$emit('addTab', text.getFileName());
        this.$router.replace('/oeuvre');
        Vue.nextTick(() => {
          eventHub.$emit('select', self.index);
        });
      });

      eventHub.$on('showDocument', content => {
        var filename = `DraggedContent-${self.docNum}.txt`;
        self.docNum += 1;
        hideChildren(self.$el);
        var text = textdata(content, filename, 'document', Date.now());
        self.addText(text);
        eventHub.$emit('addTab', text.getFileName());
        this.$router.replace('/oeuvre');
        Vue.nextTick(() => {
          eventHub.$emit('select', self.index);
        });
      });

      eventHub.$on('emptyDoc', () => {
        eventHub.$emit('getInfo', (appName, version) => {
          var filename = `EmptyDoc-${self.docNum}.txt`;
          hideChildren(self.$el);
          var text = textdata(`Empty Document ${self.docNum}`, filename, 'text/plain', Date.now());
          text.replaceMetaInfo({ name: 'document', content: filename });
          text.replaceMetaInfo({ name: 'creator', content: `${appName} ${version}` });
          text.replaceMetaInfo({ name: 'date', content: (new Date()).toString() });
          self.addText(text);
          self.docNum += 1;
          eventHub.$emit('addTab', filename);
          this.$router.replace('/oeuvre');
          Vue.nextTick(() => {
            eventHub.$emit('select', self.index);
          });

        });
      });

      eventHub.$on('plainText', (evt, txt) => {
        var filename = this.getCurrentText().getFileName();
        filename = filename.replace(/\..*$/, '.txt');
        var content = txt || this.getOeuvre(self).innerText;
        hideChildren(self.$el);
        var text = textdata(content, filename, 'text/plain', Date.now());
        self.addText(text);
        eventHub.$emit('addTab', text.getFileName());
        this.$router.replace('/oeuvre');
        Vue.nextTick(() => {
          eventHub.$emit('select', self.index);
        });
      });

      eventHub.$on('textToHTML', evt => {
        var filename = this.getCurrentText().getFileName();
        filename = filename.replace(/\..*$/, '.html');
        var content = this.getOeuvre(self).innerText;
        var rest2html = require('../js/rest2html.js');
        rest2html(content, html => {
          hideChildren(self.$el);
          var text = textdata(html, filename, 'document', Date.now());
          self.addText(text);
          eventHub.$emit('addTab', filename);
          this.$router.replace('/oeuvre');
          Vue.nextTick(() => {
            eventHub.$emit('select', self.index);
          });
        });
      });

      eventHub.$on('htmlElements', () => {
        var filename = this.getCurrentText().getFileName();
        filename = filename.replace(/\..*$/, '.html');
        var oeuvre = this.getOeuvre(self);
        var content = oeuvre.outerHTML;
        hideChildren(self.$el);
        var text = textdata(content, filename, 'text/plain', Date.now());
        self.addText(text);
        eventHub.$emit('addTab', text.getFileName());
        this.$router.replace('/oeuvre');
        Vue.nextTick(() => {
          eventHub.$emit('select', self.index);
        });
      });

      eventHub.$on('cloud', () => {
        this.$router.replace('/cloud');
        eventHub.$emit('hideOeuvre');
        Vue.nextTick(() => {
          var text = this.getCurrentText();
          if (text) {
            var filename = text.getFileName();
            eventHub.$emit('setFilename', filename);
          }
        });
      });

      eventHub.$on('closing', (evt, index) => {
        var self = this;
        if (!isNaN(index)) {
          this.removeText(index);
        }
        else {
          eventHub.$emit('currentText', function(text, index) {
            self.removeText(index);
          });
        }
      });

      eventHub.$on('closingAll', () => {
        var index = this.texts.length;
        while (index > 0) {
          index -= 1;
          this.removeText(index);
        }
      });

      // Select a text
      eventHub.$on('select', index => {
        hideChildren(self.$el);
        if (index >= 0) {
          self.$el.childNodes.item(index).classList.remove('hidden');
        }
        this.$el.classList.remove('hidden');
        self.index = index;
      });

      eventHub.$on('removeElements', rule => {
        var elements = this.$el.querySelectorAll('div.single-text ' + rule);
        if (elements.length == 0) {
          alert('No elements in selection.');
          return;
        }
        var rm = confirm(`Do you really want to remove ${elements.length} ${elements[0].tagName}-elements?`);
        if (rm) {
          elements.forEach(element => {
            element.parentNode.removeChild(element);
          })
        }
      });

      eventHub.$on('showOeuvre', () => {
        this.$router.replace('/oeuvre');
        this.$el.classList.remove('hidden');
      });

      eventHub.$on('hideOeuvre', () => {
        this.$el.classList.add('hidden');
      });

      eventHub.$on('showDocuments', () => {
        this.$router.replace('/documents');
        Vue.nextTick(() => {
          eventHub.$emit('setTexts', this.texts);
        });
      });

      eventHub.$on('putTexts', texts => {
        this.texts = texts;
        var tabs = texts.map(text => { return text.getFileName()});
        eventHub.$emit('updateTabs', tabs);

      });

      window.addEventListener('beforeunload', function(event) {
        event.returnValue = 'About to leave…';
      });

    },
  }


  function hideChildren(parent) {
    Array.from(parent.children).forEach(e => {
      e.classList.add('hidden');
    })
  }


</script>


<style>

  .oeuvre {
    display: flex;
    flex: 1 1 100%;
    min-height: 0;  /* See why: https://stackoverflow.com/questions/43724938/css-flexbox-layout-issue-on-firefox */
  }

  .hidden {
    display: none;
  }

</style>
