<template>
  <div>
    <div class="drop-box">
      <div class="center">{{ msg }}</div>
    </div>
    <footer class="open">
      Supported text formats: EPUB 3, HTML, PDF (with restrictions), and plain text in UTF-8 encoding.
    </footer>
  </div>
</template>


<script>

  import eventHub from '../js/eventHub'

  var dropfiles = require('../js/dropfiles.js');
  var textdata = require('../js/textdata.js');

  export default {
    name: 'open',
    data: function() {
      return {
        msg: 'Drop text here'
      }
    },
    mounted: function() {
      var self = this;
      dropfiles('.drop-box', function(drops) {
        self.$router.replace('/oeuvre');
        if (typeof drops == 'string') {
          if (drops.match(/^(https?|file):\//)) {
            eventHub.$emit('loadFromURL', drops);
          }
          else {
            eventHub.$emit('showText', drops);
          }
        }
        else if (drops.nodeName == '#document') {
          eventHub.$emit('showDocument', drops);
        }
        else {
          Array.from(drops).forEach(file => {
            eventHub.$emit('loadFile', file);
          });
        }
      });
    },
    created: function() {
      eventHub.$emit('hideOeuvre');
    }
  }

</script>


<style scoped>

  .drop-box {
    display: flex;
    margin: 50px;
    min-height: 120px;
    border-width: 5px;
    border-style: dotted;
    border-color: #ddd;
    border-radius: 60px;
  }

  .hilite {
    background: #f8f8f8;
  }

  .center {
    font-size: 36pt;
    font-weight: 600;
    color: #ddd;
    margin: auto;  /* Magic! */
    pointer-events: none;
  }

  footer.open {
    position: absolute;
    background: #f4f4f4;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 5px 40px 5px 40px;
    font-size: 70%;
  }

</style>
