<template>
  <div class="open-url">
    <div class="panel">
      <h1>{{ msg }}</h1>
      <h2>URL</h2>
      <input class="field" type="text" v-model='url' @keyup.enter="submit"/>
      <h2>Recently used URLs</h2>
      <p>Use drag-and-drop to rearrage or remove the URLs.</p>
      <ul id="recent">
        <li
          v-for="(url, index) in urls"
          @click="update"
          @dblclick="submit"
          @dragstart="dragstart"
          @dragover.stop.prevent="dragover"
          @dragenter.stop.prevent="dragenter"
          @dragleave.stop.prevent="dragleave"
          @drop.stop.prevent="drop"
          @dragend.stop.prevent="dragend"
          draggable
          :index="index"
        >{{ url }}</li>
      </ul>
    </div>
    <footer>
      Be aware that accessing files from a different server is restricted.
      This service is experimental and may not always be available.
    </footer>
  </div>
</template>


<script>

  import eventHub from '../js/eventHub';
  const BOOKS = 'book-urls';

  export default {
    name: 'open-url',
    data () {
      return {
        msg: 'Open File from URL',
        url: 'http://www.gutenberg.org/cache/epub/5711/pg5711-images.epub',
        urls: [],
        targetIndex: -1
      }
    },
    methods: {

      update: function(evt) {
        this.url = evt.target.textContent;
      },

      submit: function(evt) {
        eventHub.$emit('loadFromURL', this.url);
        this.$router.replace('/oeuvre');
        
        if (!this.urls.includes(this.url)) {
          this.urls.push(this.url);
        }
        
      },

      dragstart: function(evt) { this.targetIndex = -1 },
      dragover: function(evt) {},
      dragenter: function(evt) {},
      dragleave: function(evt) {},
      drop: function(evt) {
        this.targetIndex = +evt.target.getAttribute('index');
      },
      dragend: function(evt) {
        var sourceIndex = +evt.target.getAttribute('index');
        if (this.targetIndex == -1) {
          this.urls.splice(sourceIndex, 1);
        }
        else if (sourceIndex != this.targetIndex) {
          this.urls.splice(this.targetIndex, 0, this.urls.splice(sourceIndex, 1)[0]);
        }
      }

    },
    
    created: function() {
      eventHub.$emit('hideOeuvre');
      var urls = localStorage.getItem(BOOKS);
      if (urls) {
        this.urls = JSON.parse(urls);
      }
    },

    destroyed: function() {
      localStorage.setItem(BOOKS, JSON.stringify(this.urls));
    }
  }

</script>


<style scoped>

  .open-url {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .field {
    font-size: 100%;
    width: 100%;
    min-width: 400px;
    display: flex;
  }
  
  .panel {
    margin: 50px;
  }

  ul#recent {
    padding-left: 0;
    color: #888;
  }

  ul#recent>li {
    list-style-type: none;
    display: block;
    cursor: pointer;
    line-height: 28px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  ul#recent>li:hover {
    text-decoration: underline;
    text-decoration-color: #888;
  }
  
  footer {
    position: absolute;
    background: #f4f4f4;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 5px 40px 5px 40px;
    font-size: 70%;
  }
  
</style>
