<template>
  <div class="selection-options hidden" @click="chooseOptions" @mouseover="show" @mouseout="hide">
    <ul class="options-list">
      <li v-for="(option, index) in options" :index="index" class="option-field">{{ option.name }}</li>
    </ul>
  </div>
</template>


<script>

  import eventHub from '../js/eventHub'

  export default {

    data: function() {
      return {
        options: [],
        element: null,
        callback: null
      }
    },

    created: function() {
      eventHub.$on('handleOptions', (element, options, callback) => {
        this.element = element;
        this.options = options;
        this.callback = callback;
      });
    },

    methods: {
      chooseOptions: function(evt) {
        this.hide(evt);
        this.callback(this.options[+evt.target.getAttribute('index')].cmd);
      },
      show: function(evt) {
        evt.currentTarget.classList.remove('hidden');
        evt.currentTarget.focus();
      },
      hide: function(evt) {
        evt.currentTarget.classList.add('hidden');
      }
    },

  }

</script>

<style>

  .selection-options {
    font-size: 11.5pt;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 6px 0px 6px 0px;
    background-color: white;
    border: 1px solid #bbb;
    border-radius: 4px;
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.15);
    cursor: pointer;
  }

  .selection-options.hidden {
    display: none;
  }

  .options-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .option-field {
    padding: 0px 10px 0px 10px;
    line-height: 20px;
  }

  .option-field:hover {
    background-color: #48f;
    color: white;
  }

</style>
