<template>
  <svg class="chart" :xmlns="svgns" width="100%" height="100%" viewBox="-1 -1 2 2" preserveAspectRatio="none"></svg>
</template>


<script>

  const d3 = Object.assign({}, require("d3-selection"), require("d3-shape"));
  
  export default {

    name: 'PieChart',
    data: function () {
      return {
        svgns: 'http://www.w3.org/2000/svg',
        innerRadius: 0.4,
        padAngle: 0.05
      }
    },

    props: ['chartsData'],

    methods: {

      drawChart: function(svg) {

        var arc = d3.arc()
          .outerRadius(1)
          .innerRadius(this.innerRadius);

        var pie = d3.pie()
          .value(function(d) { return d.value; })
          .sortValues(null)
          .padAngle(this.padAngle);

        var g = svg.selectAll('.arc')
          .data(pie(this.chartsData))
          .enter().append('g')
          .attr('class', 'arc');

        g.append('path')
          .attr('d', arc)
          .style('fill', function(d) { return d.data.color; });

        }

    },

    mounted: function() {
      if (this.chartsData) {
        this.drawChart(d3.select(this.$el));
      }
    }

  }

</script>


<style scoped>

</style>
