<template>
  <div class="pref-scroller">
    <div class="pref-panel">
      <h1 class="pref-title">Preferences</h1>
      <div class="pref-grid">
        <!-- Title font family -->
        <div class="pref-topic">Title font family</div>
        <select @input="setTitleFontFamily" v-model="prefs.titleFontFamily">
          <option v-for="(fontFamily) in fontFamilies">{{ fontFamily }}</option>
        </select>
        <input class="fontfamily" type="text" v-model="prefs.titleFontFamily">
        <!-- Text font family -->
        <div class="pref-topic">Text font family</div>
        <select @input="setTextFontFamily" v-model="prefs.textFontFamily">
          <option v-for="(fontFamily) in fontFamilies">{{ fontFamily }}</option>
        </select>
        <input class="fontfamily" type="text" v-model="prefs.textFontFamily">
        <!-- Text font size -->
        <div class="pref-topic">Text font size</div>
        <span><input type="number" v-model.number="prefs.textFontSize" min="8" max="20" step="0.5"> pt</span>
        <div></div>
        <!-- Text color -->
        <div class="pref-topic">Text color</div>
        <select @input="setTextColors" v-model="prefs.textColorName">
          <option v-for="(textColor) in textColors">{{ textColor.name }}</option>
        </select>
        <div></div>
        <!-- Index font family -->
        <div class="pref-topic">Index font family</div>
        <select @input="setIndexFontFamily" v-model="prefs.indexFontFamily">
          <option v-for="fontFamily in fontFamilies">{{ fontFamily }}</option>
        </select>
        <input class="fontfamily" type="text" v-model="prefs.indexFontFamily">
        <!-- Index font size -->
        <div class="pref-topic">Index font size</div>
        <span><input type="number" v-model.number="prefs.indexFontSize" min="8" max="20" step="0.5"> pt</span>
        <div></div>
        <!-- Index color -->
        <div class="pref-topic">Index color</div>
        <select @input="setIndexColors" v-model="prefs.indexColorName">
          <option v-for="(textColor) in textColors">{{ textColor.name }}</option>
        </select>
        <div></div>
        <!-- Web fonts -->
        <div class="pref-topic" title="Enter a valid font URL">Web fonts</div>
        <input v-for="(webFont, index) in webFonts"
          type="url" class="web-font"
          :index="index" :value="webFont"
          @keyup="enterWebFont"
          placeholder="https://fonts.googleapis.com/css?family=Caveat">
        <!-- Dark mode -->
        <div class="pref-topic">Dark interface mode</div>
        <input type="checkbox" v-model="prefs.darkMode">
        <div></div>
        <!-- Original styles -->
        <div class="pref-topic">Disable original styles</div>
        <input type="checkbox" v-model="prefs.disabledStyles">
        <div></div>
      </div>
      <div class="pref-spacing"></div>
      <!-- Save -->
      <input class="pref-button" type="button" value="Save Preferences" @click="saveAndReturn">
      <!-- Default -->
      <input class="pref-button" type="button" value="Restore Defaults" @click="restoreDefaults">
      <div class="pref-spacing"></div>
      <!-- Web font resources -->
      <h4>Web Font Resources</h4>
      <div>
        To use Web fonts, go to one of the Web font sites listed below.
        Copy-paste the URL, choose the font from the pop-up menu or inter it in the field to the right.
      </div>
      <ul class="pref-list">
        <li><a href="https://fonts.google.com" target="_blank">Google Web fonts</a></li>
        <li><a href="https://fontlibrary.org" target="_blank">Font Library</a></li>
      </ul>
    </div>
  </div>
</template>


<script>

  import eventHub from '../js/eventHub';
  var queryString = require('query-string');
  var getUrl = require('get-urls');

  export default {
    
    name: 'preferences',

    data() {
      return {
        prefs: {},
        fontFamilies: [
          'Baskerville', 'Cormorant Garamond', 'Georgia', 'Palatino', 'Times New Roman',
          'Arial', 'Gill Sans', 'Helvetica', 'Nunito Sans', 'Verdana',
          'Courier', 'Courier New', 'Inconsolata'
        ],
        webFonts: [''],
        textColors: [
          { name: 'Black-on-white', textColor: 'rgb(0,0,0)', textBackground: 'rgb(255,255,255)', textBackgroundImage: 'none'},
          { name: 'White-on-black', textColor: 'rgb(210,210,225)', textBackground: 'rgb(50,50,50)', textBackgroundImage: 'none'},
          { name: 'Gray background', textColor: 'rgb(0,0,0)', textBackground: 'rgb(240,240,240)', textBackgroundImage: 'none'},
          { name: 'Sepia background', textColor: 'rgb(20,20,20)', textBackground: 'rgb(255,255,240)', textBackgroundImage: 'none'},
          { name: 'Paper background', textColor: 'rgb(50,50,50)', textBackground: 'rgb(255,255,255)', textBackgroundImage: 'url(static/maps/img/paper-1.png)'}
        ],
        numFonts: 0
      }
      
    },

    created: function() {
      eventHub.$emit('getTextDefaults', textDefaults => {
        var prefs = this.jsonPreferences() || '{}';
        this.prefs = Object.assign({}, textDefaults, prefs);
      });
    },

    mounted: function () {
      eventHub.$emit('hideOeuvre');
      this.numFonts = this.fontFamilies.length;
      var webFonts = this.jsonWebFonts();
      if (webFonts) {
        this.webFonts = webFonts;
      }
      this.addWebFonts();
    },

    methods: {

      jsonStorage: function(name, json) {
        if (json) {
          localStorage.setItem(name, JSON.stringify(json));
        }
        else {
          var data = localStorage.getItem(name);
          if (data) {
            return JSON.parse(data);
          }
        }
      },

      jsonPreferences: function(json) {
        return this.jsonStorage('preferences', json);
      },

      jsonWebFonts: function(json) {
        return this.jsonStorage('webfonts', json);
      },

      setTextFontFamily: function(evt) {
        this.prefs.textFontFamily = evt.target.value;
      },

      setTitleFontFamily: function(evt) {
        this.prefs.titleFontFamily = evt.target.value;
      },

      setIndexFontFamily: function(evt) {
        this.prefs.indexFontFamily = evt.target.value;
      },

      setTextColors: function(evt) {
        var index = evt.target.selectedIndex;
        var colors = this.textColors[index];
        this.prefs.textFontColor = colors.textColor;
        this.prefs.textFontBackground = colors.textBackground;
        this.prefs.textBackgroundImage = colors.textBackgroundImage;
      },

      setIndexColors: function(evt) {
        var index = evt.target.selectedIndex;
        var colors = this.textColors[index];
        this.prefs.indexFontColor = colors.textColor;
        this.prefs.indexFontBackground = colors.textBackground;
        this.prefs.indexBackgroundImage = colors.textBackgroundImage;
      },

      savePreferences: function() {
        document.querySelector('div#app').classList.toggle('dark', this.prefs.darkMode);
        this.jsonPreferences(this.prefs);
        this.jsonWebFonts(this.webFonts);
        eventHub.$emit('setPreferences', this.prefs);
        eventHub.$emit('installWebFonts', this.webFonts);
      },

      restoreDefaults: function() {
        eventHub.$emit('getTextDefaults', textDefaults => {
          this.prefs = Object.assign({}, textDefaults);
        });
      },

      saveAndReturn: function() {
        this.savePreferences();
        eventHub.$emit('showOeuvre');
      },

      validateWebFont: function(index) {
        var urls = getUrl(this.webFonts[index], { normalizeProtocol: false });
        var url = urls.keys().next().value;
        if (url) {
          this.webFonts[index] = url;
        }
        else {
          alert(`"${this.webFonts[index]}" is not a valid URL`);
        }
        return urls.size > 0;
      },

      enterWebFont: function(evt) {
        var index = evt.target.getAttribute('index');
        if (evt.key == 'Enter') {
          if (this.validateWebFont(index)) {
            this.webFonts.splice(index, 0, '');
          }
        }
        else {
          this.webFonts[index] = evt.target.value;
          if (evt.target.value.length == 0 && this.webFonts.length > 1) {
            this.webFonts.splice(index, 1);
          }
        }
      },

      addWebFonts: function() {
        this.webFonts.forEach(webFont => {
          if (webFont.length > 0) {
            try {
              var url = new URL(webFont);
              var family = url.searchParams.get('family');
              if (family) {
                var sep = family.indexOf(':');
                if (sep > 0) {
                  family = family.substr(0, sep)
                }
                this.fontFamilies.push(family);
              }
            }
            catch(err) {
              alert(`Invalid Web URL "${webFont}"`);
            }
          }
        })
      }

    }

  }

</script>


<style scoped>

  .pref-scroller {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .pref-grid {
    display: grid;
    grid-template-columns: max-content minmax(200px, max-content) minmax(200px, max-content);
    grid-gap: 0.5em 1em;
    white-space: nowrap;
  }

  .pref-title {
    grid-column: 1 / 4;
  }

  .pref-topic {
    font-weight: 500;
    text-align: right;
  }

  .pref-button {
    width: 160px;
  }

  .pref-list {
    list-style-type: none;
    padding-left: 1em;
  }

  .pref-list > li:before {
    position: absolute;
    color: #48f;
    content: "–";
    margin-left: -1em;
  }

  .web-font {
    grid-column: 2 / 4;
  }

  .pref-panel {
    margin: 50px;
  }

  .pref-spacing {
    height: 20px;
  }

</style>
