<template>
  <div class="progress">
    <div class="prog-panel">
      <div class="prog-row">
        <div>{{ text }}</div>
        <div class="prog-field-right">{{ percentage }}%</div>
      </div>
      <progress :value="percentage" max="100"></progress>
    </div>
    <div @click="stop" class="prog-button">Stop</div>
  </div>
</template>


<script>

  import eventHub from '../js/eventHub';

  export default {
    name: 'Progress',
    props: ['text'],
    data: function() {
      return {
        percentage: 0
      }
    },
    methods: {
      stop: function(run) {
        this.$parent.$modal.hide('progress');
      },
    },
    mounted: function() {
      eventHub.$on('update', percentage => {
        this.percentage = Math.round(percentage);
      })
    }
  }

</script>


<style scoped>

  .progress {
    font-size: 11pt;
    color: #666;
  }

  .progress.hidden {
    display: none;
  }

  .prog-panel {
    margin: 16px 16px 8px 16px;
  }

  progress {
    width: 100%;
  }

  .prog-row {
    display: flex;
  }

  .prog-field-right {
    margin-left: auto;
  }

  .prog-button {
    text-align: center;
    padding-top: 3px;
    padding-bottom: 8px;
    border-top: 1px solid #ddd;
    letter-spacing: .5em;
    font-variant: all-small-caps;
    color: #48f;
    cursor: pointer
  }

  .prog-button:hover {
    background-color: #f4f4f4;
  }

</style>
