<template>
  <div class="resources-scroller">
    <div class="resources">
      <h1>{{ msg }}</h1>
      <h2>Free Text Resources</h2>
      <h3>Project Gutenberg</h3>
      <ul>
        <li><a href="https://www.gutenberg.org/catalog/" target="_blank">Project Gutenberg Online Book Catalog</a></li>
        <li><a href="http://gutenberg.net.au/index.html" target="_blank">Project Gutenberg Australia</a></li>
        <li><a href="http://gutenberg.ca/index.html" target="_blank">The Project Gutenberg Canada Catalogue</a></li>
      </ul>
      <h3>Gutenberg Books in Different Formatting</h3>
      <ul>
        <li><a href="http://www.feedbooks.com/publicdomain" target="_blank">Feedbooks</a></li>
        <li><a href="http://manybooks.net/" target="_blank">Manybooks</a></li>
      </ul>
      <h3>Other Sources</h3>
      <ul>
        <li><a href="https://standardebooks.org/ebooks/" target="_blank">Standard Ebooks</a></li>
      </ul>
      <h3>Text Corpora</h3>
      <ul>
        <li><a href="http://www.nltk.org/nltk_data/" target="_blank">NLTK Corpora</a> from Natural Language Toolkit</li>
        <li><a href="http://www.deutschestextarchiv.de/list" target="_blank">Deutsches Textarchiv</a></li>
      </ul>
    </div>
  </div>
</template>


<script>

  import eventHub from '../js/eventHub';

  export default {
    name: 'resources',
    data () {
      return {
        msg: 'Text Resources'
      }
    },
    created: function () {
      eventHub.$emit('hideOeuvre');
    }

  }

</script>


<style scoped>

  .resources-scroller {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .resources {
    margin: 50px;
  }

</style>
