<template>
  <div class="save-scroll">
    <div class="saveas">
      <h1>{{ msg }}</h1>
      <p>Saved files are typically directed to the download folder.</p>
      <h2>Filename</h2>
      <input type="text" id="file-name" v-bind:value="fileName">
      <h2>Filetype</h2>
      <div>
        <div class="save-row" v-for="(format, index) in formats">
          <button :key="index" @click="save(format.mime)">{{ format.title }}</button>
          <span class="save-info">{{ format.info }}</span>
        </div>
      </div>
    </div>
  </div>
</template>


<script>

  import eventHub from '../js/eventHub';

  export default {
    name: 'saveas',

    data: function() {
      return {
        msg: 'Save File',
        formats: [
          { title: 'ZIP Archive', mime: 'application/zip', info: 'Saves formatted text, dictionary, text selections, settings, and images.' },
          { title: 'HTML', mime: 'text/html', info: 'Saves formatted text and text selections.' },
          { title: 'Plain Text', mime: 'text/plain', info: 'Saves the bare text without formatting and styling.' },
          { title: 'PDF', mime: 'application/pdf', info: 'Does not save anything yet, especially PDFs.' },
          { title: 'DOCX', mime: 'application/vnd.openxmlformats-officedocument.wordprocessingml.document', info: 'Saves as a well-known text format but selections are lost in universe.' },
          { title: 'GeoJSON', mime: 'application/vnd.geo+json', info: 'Saves geographical features.' },
          { title: 'Annotations', mime: 'application/ld+json', info: 'Saves annotations in JSON format (W3C).' },
          { title: 'Selections', mime: 'text/selections', info: 'Saves selected text portions.' },
          { title: 'Text Locations', mime: 'text/json', info: 'Saves selected text locations in JSON format.' },
          { title: 'Index', mime: 'text/index', info: 'Saves the index in text format.' },
          { title: 'Highlighters', mime: 'application/json', info: 'Saves the highlighters in JSON format.' }
        ],
        fileName: '???'
      }
    },

    methods: {
      save: function(type) {
        eventHub.$emit('showOeuvre');
        eventHub.$emit('saveFile', type, document.querySelector('#file-name').value);
      }
    },

    mounted: function() {
      eventHub.$on('setFilename', filename => {
        this.fileName = filename.replace(/\..*$/, '');
      });
    }

  }

</script>


<style scoped>

  .save-scroll {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .saveas {
    margin: 50px;
    font-size: 14pt;
  }

  .save-row {
    overflow: hidden;
    white-space: nowrap;
  }

  .save-info {
    margin-left: 1em;
    font-size: 10pt;
  }

  input[type=text] {
    width: 100%;
    max-width: 550px;
    font-size: 12pt;
  }

  button {
    width: 120px;
  }

</style>
