<template>
  <div class="selector-text hidden" @click="chooseSelector" @mouseover="show" @mouseout="hide">
    <ul class="selector-list">
      <li v-for="(selection, index) in selections" class="selector-field" :data-selector="selection.cmd" :title="selection.title"></li>
    </ul>
  </div>
</template>


<script>

  import eventHub from '../js/eventHub'

  export default {

    data: function() {
      return {
        selections: [
          { cmd: 'A', title: 'Marks a text annotation' },
          { cmd: 'S', title: 'Marks index entry as a sequence of charcters' },
          { cmd: 'W', title: 'Indicates that index entry matches whole words only' },
          { cmd: 'I', title: 'Matches whole words but ignores case' },
          { cmd: 'L', title: 'Matches a list of expressions' },
          { cmd: 'R', title: 'Tags index entry as a regular expressions' },
          { cmd: 'G', title: 'Marks text entry a geographic place name for reverse geocoding' },
          { cmd: 'D', title: 'Marks date and time' },
          { cmd: 'P', title: 'Marks part of speech' },
          { cmd: 'T', title: 'Create selections by HTML elements' },
          { cmd: 'C', title: 'Marks text entry to be interpreted as a CSS selector' },
          { cmd: 'E', title: 'Replace selection…' },
          { cmd: 'X', title: 'Marks text selections as disabled' },
          { cmd: 'H', title: 'Forces to hide the text' }
        ]
      }
    },

    methods: {
      chooseSelector: function(evt) {
        eventHub.$emit('setSelector', evt.target, evt.shiftKey);
        evt.currentTarget.classList.add('hidden');
      },
      show: function(evt) {
        evt.currentTarget.classList.remove('hidden');
        evt.currentTarget.focus();
      },
      hide: function(evt) {
        evt.currentTarget.classList.add('hidden');
      }
    },

  }

</script>

<style>

  .selector-text {
    font-family: 'Inconsolata';
    font-size: 11.5pt;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 6px 0px 6px 0px;
    background-color: white;
    border: 1px solid #bbb;
    border-radius: 4px;
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.15);
  }

  .selector-text.hidden {
    display: none;
  }

  .selector-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .selector-field {
    padding: 0px 10px 0px 10px;
    line-height: 20px;
  }

  .selector-field:hover {
    background-color: #48f;
    color: white;
  }

  [data-selector="A"]:after {
    content: "A - Text Annotation";
  }

  [data-selector="S"]:after {
    content: "S - Characters";
  }

  [data-selector="W"]:after {
    content: "W - Words";
  }

  [data-selector="I"]:after {
    content: "I - Words Ignoring Case";
  }

  [data-selector="L"]:after {
    content: "L - List of Expressions";
  }

  [data-selector="R"]:after {
    content: "R - Regular Expression";
  }

  [data-selector="G"]:after {
    content: "G - Geographic Places";
  }

  [data-selector="D"]:after {
    content: "D - Date and Time";
  }

  [data-selector="P"]:after {
    content: "P - Part of Speech";
  }

  [data-selector="T"]:after {
    content: "T - HTML Tags";
  }

  [data-selector="C"]:after {
    content: "C - CSS Selector";
  }

  [data-selector="E"]:after {
    content: "E - Replace Selection";
  }

  [data-selector="X"]:after {
    content: "X - No Selection";
  }

  [data-selector="H"]:after {
    content: "H - Hidden";
  }

  [data-selector="sel"]:hover {
    background-color: rgba(0,0,0,0);
    color: black;
  }

</style>
