<template>
  <div class="statistics-text">
    <h1>{{ msg }}</h1>
    <div class="statistics-table">
      <div class="statistics-row" v-for="entry in statistics">
        <div class="statistics-label">{{ entry.label }}</div>
        <div class="statistics-value">{{ entry.value }}</div>
      </div>
    </div>
  </div>
</template>


<script>

  import eventHub from '../js/eventHub';

  var Statistics = require('worker-loader!../worker/statistics');

  export default {
    name: 'statistics',
    data () {
      return {
        msg: 'Text Statistics',
        content: '',
        statistics: [
          { label: 'Number of characters', value: '' },
          { label: 'Number of words', value: '' },
          { label: 'Number of sentences', value: '' }
        ],
      }
    },
    computed: {
      numChars: function() {
        return this.text.firstChild.textContent.length;
      }
    },
    created: function() {
      eventHub.$on('setContent', content => {
        var self = this;
        // # of character
        self.statistics[0].value = content.length.toLocaleString();
        // # of words
        var stats1 = new Statistics();
        stats1.postMessage({ content, method: 'countWords' });
        stats1.addEventListener('message', function(event) {
          var numChars = +event.data;
          self.statistics[1].value = numChars.toLocaleString();
        });
        // # of words
        var stats2 = new Statistics();
        stats2.postMessage({ content, method: 'countSentences' });
        stats2.addEventListener('message', function(event) {
          var numChars = +event.data;
          self.statistics[2].value = numChars.toLocaleString();
        });
        
      });
    }
  }

</script>


<style scoped>

  .statistics-text {
    padding: 50px;
    margin: 0px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
  
  h1 {
    display: inline-block;
  }
  
  .statistics-table {
    display: table;
    border-collapse: collapse; 
  }
  
  .statistics-row {
    display: table-row;
    line-height: 2.5em;
    padding: 5px;
    margin: 5px;
    border-bottom: 1px solid #ccc;
  }
  
  .statistics-label {
    display: table-cell;
    font-weight: 700;
    padding-right: 1.5em;
    text-align: right;
  }
  
  .statistics-value {
    display: table-cell;
    font-weight: 400;
    text-align: right;
  }
  
</style>
