<template>
  <div class="sortings">
    <h1>Sorting the Dictionary</h1>
    <p>Available sort keys</p>
    <div class="popup-panel" @mouseover="showPopup" @mouseout="hidePopup" @mouseup="togglePopup">
      <div class="popup-title"><span>{{ itemName }}</span><span class="arrow">▾</span></div>
      <ul id="items-sort" class="popup-menu hidden">
        <li class="popup-item"
          v-for="(sorting, index) in sortings"
          :index="index"
          @click="runSorting"
        >{{ sorting.item }}</li>
      </ul>
    </div>
    <p>
      <label>Property <input type="text" v-model="prop"></label><br>
      <label><input type="checkbox" v-model="inverseOrder"> Inverse order</label>
    </p>
  </div>
</template>


<script>

  import eventHub from '../js/eventHub';

  export default {
    name: 'about',

    data () {
      return {
        sortings: [
          { item: 'Alphabethical Order', key: { accessor: function(d) { return d.children[0].textContent }, cmp: '<str' } },
          { item: 'Alphabethical Case-Sensitive Order', key: { accessor: function(d) { return d.children[0].textContent }, cmp: '<Str' } },
          { item: 'Number of Occurrences', key: { accessor: function(d) { return d.children[1].textContent }, cmp: '>num' } },
          { item: 'Text Order', key: { accessor: function(d) { return d.children[2].textContent }, cmp: '<num' } },
          { item: 'Expression Length', key: { accessor: function(d) { return d.children[0].textContent }, cmp: '>len' } },
          { item: 'Selection Type', key: { accessor: function(d) { return d.children[3].dataset.selector }, cmp: '<str' } },
          { item: 'Highlighter Name', key: { accessor: function(d) { return d.dataset.sel || 'Ω' }, cmp: '<str' } },
          { item: 'Selected Entry', key: { accessor: function(d) { return d.classList.contains('selected') ? 0 : 1 }, cmp: '<num' } },
          { item: 'Property', key: { accessor: function(d) { return d.children[0].textContent }, cmp: '<prp' } }
        ],
        itemName: '',
        itemIndex: 0,
        inverseOrder: false,
        prop: ''
      }
    },

    methods: {

      element: function(sel) {
        return document.querySelector(sel);
      },

      showPopup: function() {
        var el = this.element('#items-sort.popup-menu');
        if (el) { el.classList.remove('hidden') }
      },

      hidePopup: function() {
        var el = this.element('#items-sort.popup-menu');
        if (el) { el.classList.add('hidden') }
      },

      togglePopup: function() {
        var el = this.element('#items-sort.popup-menu');
        if (el) { el.classList.toggle('hidden') }
      },

      runSorting: function(evt) {
        this.itemIndex = +evt.currentTarget.getAttribute('index');
        this.itemName = this.sortings[this.itemIndex].item;
        this.sortWordlist();
      },

      sortWordlist: function() {
        var key = this.sortings[this.itemIndex].key;
        eventHub.$emit('showOeuvre');
        eventHub.$emit('sortWordlist', key, this.inverseOrder, this.prop);
      }

    },

    created: function() {
      eventHub.$emit('hideOeuvre');
      this.itemName = this.sortings[this.itemIndex].item;
    }

  }

</script>


<style scoped>

  .sortings {
    margin: 50px;
  }

  h1 {
    display: inline-block;
  }

  .arrow {
    margin-left: 1em;
  }

</style>
