<template>
  <div @click="select" class="tab-title">
    <span class="x" @click.stop="close">x</span>
    <span class="name" @keyup="changeName" spellcheck="false" contenteditable>{{ fileName }}</span>
  </div>
</template>


<style scoped>

  .tab-title {
    cursor: pointer;
    line-height: 22px;
    font-weight: 400;
    padding: 0px 12px 0px 12px;
    justify-content: flex-start;
    background-color: #e8e8e8;
    color: #aaa;
    text-shadow: 1px 1px 0px #fff;
    border-right: 1px solid #bbb;
    min-width: 70px;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #app.dark .tab-title {
    background-color: rgb(70,70,80);
    color: rgb(120,120,130);
    text-shadow: none;
    border-color: rgb(120,120,120);
  }

  .tab-title:first-child {
    border-left: 1px solid #bbb;
  }

  .tab-title>span.x {
    padding-right: 10px;
    font-weight: 200;
  }

  .tab-title:hover {
    background-color: #48f !important;
    color: #fff !important;
    text-shadow: none;
  }

  .tab-title.selected {
    color: #000;
    background-color: #f0f0f0;
  }

  #app.dark .tab-title.selected {
    color: rgb(210,210,225);
  }

  .tab-title>.name {
    outline: none;
  }

</style>


<script>

  import eventHub from '../js/eventHub';

  export default {

    data: function() {
      return {
        title: 'Reading Assistant'
      }
    },

    props: ['fileName', 'index'],

    methods: {

      close: function(evt) {
        eventHub.$emit('closing', evt, this.index);
      },

      changeName: function(evt) {
        eventHub.$emit('changeName', evt.target.textContent);
      },

      select: function(evt) {
        this.$router.replace('/oeuvre');
        eventHub.$emit('select', this.index);
      }

    }
  }


</script>
