<template>
  <nav class="tabs-bar">
    <!-- Tabs -->
    <ra-tab-header v-for="(tab, index) in tabs" :file-name="tab" :key="index" :index="index"></ra-tab-header>
  </nav>
</template>

<style scoped>

  .tabs-bar {
    display: flex;
    font-weight: 200;
    font-size: 10pt;
    overflow: auto;
    flex: 0 0 22px;
    padding-left: 10px;
    padding-right: 10px;
    background: #f8f8f8;
    border-bottom: 1px solid #ddd;
  }

  #app.dark .tabs-bar {
    background: rgb(60,70,80);
    border-color: rgb(120,120,120);
  }

  .tab-item {
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  .disabled {
    color: #aaa;
    pointer-events: none;
  }

</style>


<script>

  import eventHub from '../js/eventHub';
  var TabHeader = require("./TabHeader.vue");

  export default {
    data: function() {
      return {
        tabs: [],
        selected: -1
      }
    },
    components: {
      'ra-tab-header': TabHeader
    },
    mounted: function () {
      var self = this;
      eventHub.$on('close', function(index) {
        self.tabs.splice(index, 1);
      });
      eventHub.$on('select', function(index) {
        self.removeSelected(self.$el);
        if (index >= 0) {
          self.$el.childNodes.item(index).classList.add('selected');
          self.selected = index;
        }
      });
      eventHub.$on('addTab', function(name) {
        self.tabs.splice(self.selected += 1, 0, name);
      });
      eventHub.$on('updateTabs', function(tabs) {
        self.tabs = tabs;
      });
    },
    methods: {
      removeSelected: function(parent) {
        Array.from(parent.children).forEach(e => {
          e.classList.remove('selected');
        })
      }

    }
  }

</script>
