<template>
  <div class="ra-container" spellcheck="false">
    <div class="list-panel">
      <ra-highlighter :highlighters="highlighters"></ra-highlighter>
      <ra-filter :editor="editor"></ra-filter>
      <div class="index-scroller">
        <div class="single-dict"></div>
      </div>
      <div class="index-info">
        <div class="field-left line-info">&nbsp;</div>
        <div class="field-right highlighter-info"></div>
      </div>
    </div>
    <div class="text-panel">
      <div class="single-text" @mouseup="textClick"></div>
    </div>
  </div>
</template>


<script>

  import Vue from 'vue'
  import eventHub from '../js/eventHub';

  var Highlighter = require("./Highlighter.vue");
  var Filter = require("./Filter.vue");
  var savefile = require('../js/savefile.js');
  var serializehtml = require('../js/serializehtml.js');
  var ziphtml = require('../js/ziphtml.js');
  var html2docx = require('../js/html2docx.js');
  var cloud = require('../js/cloud.js');
  var domutils = require('../js/domutils.js');
  var stringutils = require('../js/stringutils.js');
  var tableeditor = require('../js/tableeditor.js');
  var tabledisplay = require('../js/tabledisplay.js');
  var elementtext = require('../js/elementtext.js');
  var nominatim = require('../js/nominatim.js');
  var uniq = require('lodash/uniq');
  var capitalize = require('lodash.capitalize');
  var stringReverse = require('string-reverse');
  var fontColorContrast = require('font-color-contrast');
  var css2json = require('../js/css2json');
  var suffid = require('../js/suffid.js')();
  // Workers
  var createDictionary = require('worker-loader!../worker/dictionary');
  var createPOSTaggerEn = require('worker-loader!../worker/postagger.en');
  var createWordNGrams = require('worker-loader!../worker/wordngrams');
  var createCharNGrams = require('worker-loader!../worker/charngrams');
  var createSentences = require('worker-loader!../worker/sentences');
  var Sorter = require('worker-loader!../worker/sorter');
  var Remover = require('worker-loader!../worker/remover');

  const scope = require('scope-css');

  export default {

    data: function() {
      return {
        title: 'Single Text',
        editor: null,
        highlighters: null,
        highlighter: null,
        currentSelection: null,
        savedSelection: null,
        lastSelection: null,
        posList: null,
        places: {},
        selector: '',
        ra: '',
        itemNum: 1,
        groupNum: 1,
        editEnabled: false,
        expressionClass: '.col-0',
        numEntriesClass: '.col-1',
        positionClass: '.col-2',
        selectorClass: '.col-3',
        listeners: [
          'aboutText',
          'addHighlighters',
          'addIndexEntry',
          'addSelections',
          'applyHighlighters',
          'callForGeos',
          'callForPlaces',
          'callForText',
          'capitalize',
          'changeName',
          'changeSelectors',
          'clearAll',
          'clearIndexSelections',
          'clearTextSelections',
          'combineDictionaries',
          'copyIndex',
          'copyPlainText',
          'createCharNGrams',
          'createDictionary',
          'createElementList',
          'createHighlighters',
          'createNodeTextList',
          'createPOS',
          'createSelectorList',
          'createSentences',
          'createWordNGrams',
          'currentText',
          'deselectVisibleEntries',
          'distMatrix',
          'enableEdit',
          'group',
          'invertSelection',
          'literarySettings',
          'loadGeoJSON',
          'lowercase',
          'moveEntry',
          'newWindow',
          'performSelections',
          'removeDuplicates',
          'removeEmpties',
          'removeSelectedIndexEntries',
          'reverse',
          'saveAs',
          'saveFile',
          'selectDownwards',
          'selectSameHighlighter',
          'selectSameSelector',
          'selectUpwards',
          'selectVisibleEntries',
          'sendPlaces',
          'showAsText',
          'showIndex',
          'showStatistics',
          'sortWordlist',
          'test',
          'textJourney',
          'textMap',
          'textSections',
          'toggleOriginalStyles',
          'updateMenus',
          'uploadFile',
          'uppercase',
          'wordPlot',
          'wordRelations'
        ]
      }
    },

    components: {
      'ra-highlighter': Highlighter,
      'ra-filter': Filter
    },

    props: ['singleText', 'index'],

    methods: {

      test: function() {
        if (this.isActive()) {
          eventHub.$emit('showProgress', 'Test web worker…', function(evt) {
            test.terminate();
          });
          var createTest = require('worker-loader!../worker/test');
          var test = new createTest();
          test.postMessage('TEST');
          test.addEventListener('message', function(event) {
            if (event.data.cmd == 'prog') {
              eventHub.$emit('updateProgress', event.data.percentage);
            }
            else if (event.data.cmd == 'end') {
              eventHub.$emit('hideProgress');
            }
          });
        }
      },

      getExpressionElement: function(row) {
        return row.children[0];
      },

      getNumEntriesElement: function(row) {
        return row.children[1];
      },

      getPositionElement: function(row) {
        return row.children[2];
      },

      getSelectorElement: function(row) {
        return row.children[3];
      },

      isCurrentText: function() {
        return !this.$el.classList.contains('hidden');
      },

      getDict: function() {
        return this.$el.querySelector('.single-dict');
      },

      getText: function() {
        return this.$el.querySelector('.single-text');
      },

      getPlainText: function() {
        return this.getText().querySelector('.plain');
      },

      getHTMLText: function() {
        return this.getText().querySelector('.html');
      },

      getAnyText: function() {
        return this.getText().firstChild;
      },

      getTextData: function() {
        return this.getAnyText().textContent;
      },

      getLineInfo: function() {
        return this.$el.querySelector('.line-info');
      },

      getHighlighterInfo: function() {
        return this.$el.querySelector('.highlighter-info');
      },

      getScope: function(selector = '') {
        return `${selector}[data-${this.ra}]`;
      },

      getSelector: function() {
        return document.querySelector('div.selector-text');
      },

      getAttributes: function() {
        return document.querySelector('div.selection-attributes');
      },

      getOptions: function() {
        return document.querySelector('div.selection-options');
      },

      getIdSelector: function(id) {
        return `[data-id="${id}"]`;
      },

      isSelector: function(element) {
        return element.classList.contains('col-3');
      },

      getElementSelector: function(el) {
        return `[data-el="${el}"]`;
      },

      getHidden: function() {
        return ['text-hidden'];
      },

      getIdSelection: function(id) {
        return Array.from(this.getText().querySelectorAll(this.getIdSelector(id)));
      },

      getIdSelectionFirst: function(id) {
        return this.getText().querySelector(this.getIdSelector(id));
      },

      getElementSelection: function(el) {
        return Array.from(this.getText().querySelectorAll(this.getElementSelector(el)));
      },

      setSelectorType: function(element, type) {
        element.dataset.selector = type;
      },

      getSelectorType: function(element) {
        return element.dataset.selector;
      },

      getSelectorTypeFromRow: function(row) {
        return this.getSelectorType(this.getSelectorElement(row));
      },

      getSelectedTextElements: function() {
        return Array.from(this.getText().querySelectorAll(`[${this.selector}]`));
      },

      getDictSelection: function(selector) {
        return Array.from(this.getDict().querySelectorAll(selector));
      },

      getId: function(element) {
        return element.dataset.id;
      },

      setId: function(element, id) {
        element.dataset.id = id;
      },

      getOriginalStyles: function() {
        return document.head.querySelector(this.getScope('.originals'));
      },

      originalStylesEnabled: function() {
        var styles = this.getOriginalStyles();
        return styles ? !styles.disabled : false;
      },

      getExpression: function(row) {
        return this.getExpressionElement(row).firstChild.textContent;
      },

      setExpression: function(row, expression) {
        this.getExpressionElement(row).textContent = expression;
      },

      getExpressionLine: function(row, line = 0) {
        return this.getExpression(row).split('\n')[line];
      },

      setNumEntries: function(row, num = 0) {
        this.getNumEntriesElement(row).textContent = num;
      },

      getNumEntries: function(row) {
        return +this.getNumEntriesElement(row).textContent;
      },

      addEntry: function(row, num = 1) {
        this.setNumEntries(row, this.getNumEntries(row) + num);
      },

      setPosition: function(row, pos = '–') {
        this.getPositionElement(row).textContent = pos;
      },

      findHighlighter: function(label) {
        return this.highlighters.find(e => {
          return e.label == label;
        });
      },

      generateShortId: function() {
        return suffid();
      },

      encodeLines: function(text) {
        return text.replace(/\n/g, '\\n');
      },

      decodeLines: function(text) {
        return text.replace(/\\n/g, '\n');
      },

      parseRex: function(rex) {
        return rex.split(/\n/).pop().trim();
      },

      createRex: function(content) {
        var expressions = content.trim().split(/\s*\n\s*/g);
        expressions.shift();
        expressions = expressions.filter(expression => {
          return expression.length > 0;
        });
        var list = expressions.join('|');
        list = list.replace(/\s/g, '\\s');
        var rex = `\\b(${list})\\b`;
        return rex;
      },

      getTextContent: function(elements, join = '\n') {
        return Array.from(elements).map(e => { return e.textContent }).join(join);
      },

      openRoute: function(route, method, ...params) {
        this.$router.replace(route);
        eventHub.$emit('hideOeuvre');
        Vue.nextTick(() => {
          eventHub.$emit(method, ...params);
        });
      },

      showDocument: function(url, evt, route, method, ...params) {
        if (evt.altKey) {
          domutils.openWithData(url, ...params);
        }
        else {
          this.openRoute(route, method, ...params);
        }
      },

      // Replace dataset selectors
      replaceDatasetSelectors: function(css, was, is) {
        var rex = new RegExp(`\\[data-${was}\\]`, 'g');
        return css.replace(rex, `[data-${is}]`);
      },

      changeDatasetName: function(element, was, is) {
        element.dataset[is] = element.dataset[was];
        element.removeAttribute('data-' + was);
      },

      // Replace all datasets
      changeAllDatasetNames(element, was, is) {
        var elements = Array.from(element.querySelectorAll(`[data-${was}]`));
        elements.forEach(e => {
          this.changeDatasetName(e, was, is);
        })
      },

      // Removes an element from a text but keeps its content.
      removeElementFromText: function(element) {
        if (element.classList.contains('alive')) {
          var attrs = this.createTextAttributes(this.getId(element));
          this.removeAttributesFromElement(element, attrs);
        }
        else {
          var parentNode = element.parentNode;
          var textNode = document.createTextNode(element.textContent);
          parentNode.insertBefore(textNode, element);
          parentNode.removeChild(element);
          parentNode.normalize(); // merges adjacent text nodes
        }
      },

      // Removes all selected elements from a text but keeps their contents.
      removeElementsFromText: function(elements) {
        elements.forEach(element => {
          this.removeElementFromText(element);
        })
      },

      // Remove selected elements by index entries
      removeElementsByEntries: function(entries, callback) {
        entries.forEach(entry => {
          var id = this.getId(entry);
          if (id != null) {
            this.removeElementsFromText(this.getIdSelection(id));
          }
          if (callback) { callback(entry) }
        })
      },

      // Remove elements by id
      removeTextElementsById: function(id) {
        var elements = this.getIdSelection(id);
        elements.forEach(element => {
          element.parentNode.removeChild(element);
        });
      },

      forEachElement: function(elements, values, method) {
        elements.forEach(element => {
          method(element, values);
        });
      },

      setAttributesToElement: function(element, attributes) {
        for (var key in attributes) {
          element.setAttribute(key, attributes[key]);
        }
      },

      removeAttributesFromElement: function(element, attributes) {
        for (var attribute in attributes) {
          element.removeAttribute(attribute);
        }
      },

      replaceElementContents: function(element, replacement) {
        element.textContent = replacement;
      },

      addClassesToElements: function(elements, classes) {
        elements.forEach(element => {
          for (var key in classes) {
            element.classList.add(classes[key]);
          }
        })
      },

      removeClassesFromElements: function(elements, classes) {
        elements.forEach(element => {
          for (var key in classes) {
            element.classList.remove(classes[key]);
          }
        })
      },

      removeDataAttributes: function(element) {
        var keys = element.attributes;
        Array.from(element.attributes).forEach(attr => {
          if (attr.nodeName.indexOf('data-') == 0) {
            element.removeAttribute(attr.nodeName);
          }
        });
      },

      createTextAttributes: function(id, label) {
        return { 'data-id': id, ['data-' + this.ra]: '', 'data-sel': [label || this.highlighter.label]}
      },

      isRowSelected: function(row) {
        return row.classList.contains('selected');
      },

      selectRow: function(row, select = true) {
        select ?
          row.classList.add('selected') :
          row.classList.remove('selected');
      },

      toggleRowSelection: function(row) {
        row.classList.toggle('selected');
      },

      deselectRows: function() {
        this.editor.forEachRow(row => {
          row.classList.remove('selected');
        });
      },

      getSelectedRow: function() {
        return this.editor.getData().find(row => {
          return this.isRowSelected(row);
        });
      },

      getSelectedRows: function() {
        return this.editor.getData().filter(row => {
          return this.isRowSelected(row);
        });
      },

      getSelectedRowIndex: function() {
        return this.editor.getData().findIndex(row => {
          return this.isRowSelected(row);
        });
      },

      showSelector: function(atElement) {
        var sel = atElement.dataset.selector;
        var rect = atElement.getBoundingClientRect();
        var selector = this.getSelector();
        selector.classList.remove('hidden');
        var item = selector.querySelector(`[data-selector="${sel}"]`);
        var yOff = Math.min(Math.max(rect.top - item.offsetTop - 1, 0), window.innerHeight - parseInt(domutils.getComputedStyle(selector, 'height')));
        selector.style.top = yOff + 'px';
        selector.style.left = (rect.left + item.offsetLeft - 3) + 'px';
      },

      showAttributes: function(atElement) {
        var highlighter = this.findHighlighter(atElement.dataset.sel);
        if (highlighter && highlighter.attributes) {
          var rect = atElement.getBoundingClientRect();
          var attributes = this.getAttributes();
          attributes.classList.remove('hidden');
          attributes.style.top = (rect.top - 6) + 'px';
          attributes.style.left = (rect.left - 10) + 'px';
          eventHub.$emit('handleAttributes', atElement, highlighter.attributes.split(/,\s+/g));
        }
      },

      showOptions: function(atElement, row) {
        var rect = atElement.getBoundingClientRect();
        var options = this.getOptions();
        options.classList.remove('hidden');
        options.style.top = (rect.top - 6) + 'px';
        options.style.left = (rect.left - 10) + 'px';
        eventHub.$emit('handleOptions', atElement, [{ cmd: 'rm', name: 'Remove' }], cmd => {
          switch(cmd) {
            case 'rm':
            this.removeElementFromText(atElement);
            this.addEntry(row, -1);
            break;
          }
        });
      },

      getListFromExpression: function(expression, row, selectorType) {
        var list = [],
            text = this.singleText,
            line;
        switch(selectorType) {
        case 'S':
          // expression = expression.replace(/[\r|\n]/g, '');  // !!!
          line = expression.split('\n')[0];
          if (line && line.length > 0) {
            list = text.createSequenceList(this.decodeLines(line));
          }
          break;
        case 'W':
          line = expression.split('\n')[0];
          if (line && line.length > 0) {
            var rex = `\\b${line}\\b`;
            list = text.createMatchedPatternList(rex);
          };
          break;
        case 'I':
          line = expression.split('\n')[0];
          if (line && line.length > 0) {
            var rex = `\\b${line}\\b`;
            list = text.createMatchedPatternList(rex, 'giu');
          };
          break;
        case 'L':
          var rex = this.createRex(expression);
          if (rex.length > 0) {
            list = text.createMatchedPatternList(rex);
          }
          break;
        case 'R':
          var rex = this.parseRex(expression);
          if (rex.length > 0) {
            list = text.createMatchedPatternList(rex);
          }
          break;
        case 'G':
          line = expression.split('\n')[0];
          if (line && line.length > 0) {
            var location = line;
            var rex = `\\b${location}\\b`;
            list = text.createMatchedPatternList(rex);
          }
          break;
        case 'P':
          if (!this.posList) {
            alert('You need to load the part of speech tagger first.');
          }
          else {
            line = expression.split('\n').pop().trim();
            if (line && line.length > 0) {
              list = this.posList[line];
            }
          }
          break;
        case 'C':
          list = text.createElementList(expression);
          break;
        }
        return list;
      },

      // For every selected text add the start position
      tagPositions: function(selector) {
        var element = this.getText(),
            pos = 0,
            node;
        var walk = document.createTreeWalker(element, NodeFilter.SHOW_ELEMENT | NodeFilter.SHOW_TEXT, null, false);
        while (node = walk.nextNode()) {
          if (node.parentNode.offsetParent != null) {
            switch (node.nodeType) {
            case Node.ELEMENT_NODE:
              if (selector(node)) {
                node.dataset.pos = pos;
              }
              break;
            case Node.TEXT_NODE:
                pos += node.length;
              break;
            }
          }
        }
      },

      selectionElementToObject: function(element) {
        var obj = { text: element.textContent };
        for (var i in element.dataset) {
          obj[i] = element.dataset[i];
        };
        return obj;
      },

      selectionElementsToObjects: function(elements) {
        var self = this;
        return elements.map(e => {
          return self.selectionElementToObject(e);
        });
      },

      groupSelectionsByHighlighters: function() {
        var element = this.getText(),
            selector = this.selector,
            self = this;
        return this.highlighters.map(highlighter => {
          var sel = `[data-sel="${highlighter.label}"]`;
          return Array.from(element.querySelectorAll(sel)).map(item => {
            return self.selectionElementToObject(item);
          });
        }).filter(g => { return g.length > 0 });
      },

      applySelections: function(row, auto) {

        var self = this,
            el = row.dataset.el,
            sel = row.dataset.sel,
            id = this.getId(row),
            selectorType = this.getSelectorType(row.querySelector(this.selectorClass)),
            expression = this.getExpression(row),
            list = this.getListFromExpression(expression, row, selectorType);

        function findElements(el) {
          var textElement = self.getText();
          return Array.from(textElement.querySelectorAll(self.getElementSelector(el)));
        }

        function removeElements(el) {
          var elements = findElements(el);
          elements.forEach(element => {
            element.parentNode.removeChild(element);
          })
        };

        function removeSelections(id) {
          if (id != null) {
            self.removeElementsFromText(self.getIdSelection(id));
          }
        };

        function selectElementsByName(el, id) {
          var elements = findElements(el);
          elements.forEach(element => {
            var attrs = self.createTextAttributes(id);
            self.setAttributesToElement(element, attrs);
            self.tagPositions(node => {
              return node.dataset.id == id;
            });
          });
        };

        function selectSequences(id, list, sel) {
          var textElement = self.getText();
          var attrs = self.createTextAttributes(id, sel);
          self.selectSequencesInText(textElement, list, attrs);
          self.tagPositions(node => {
            return node.dataset.id == id;
          });
        };

        function updateSelector(row, id, sel) {
          var color = self.highlighter.label;
          var selection = self.getIdSelection(id);
          var entries = selection.length;
          var position = entries > 0 ? selection[0].dataset.pos : '-';
          self.setNumEntries(row, entries);
          self.setPosition(row, position);
          var attrs = self.createTextAttributes(id, sel);
          self.setAttributesToElement(row, attrs);
        }

        switch(selectorType) {
        case 'X':
          var attrs = this.createTextAttributes(id);
          if (el != null) {
            var elements = findElements(el);
            this.forEachElement(elements, attrs, this.removeAttributesFromElement);
          }
          else {
            removeSelections(id);
          }
          this.removeAttributesFromElement(row, attrs);
          self.setNumEntries(row);
          self.setPosition(row);
          break;
        case 'S':
        case 'W':
        case 'I':
        case 'L':
        case 'R':
        case 'P':
          removeSelections(id);
          id = this.generateShortId();
          selectSequences(id, list, sel);
          updateSelector(row, id, sel);
          break;
        case 'G':
          var location = this.getExpressionLine(row);
          if (location.length > 0) {
            nominatim.search({ q: location }, places => {
              // Set the new place
              function setPlace(self, place) {
                var geo = { geometry: place.geojson, class: place.class };
                if (place.icon) {
                  geo.icon = place.icon;
                }
                self.places[place.place_id] = place;
                self.setExpression(row, [location, JSON.stringify({ geoId: place.place_id })].join('\n'));
              }
              if (auto) {
                setPlace(this, places[0]);
              }
              else {
                this.openRoute('/nominatim', 'showPlaces', places, location, place => {
                  setPlace(this, place);
                });
              }
            });
          }
          break;
        case 'D':
          var expression = this.getExpression(row).split(/\n(.+)/);
          var datetime = expression[0];
          if (datetime.length > 0) {
            var spec = expression[1];
            this.openRoute('/calendar', 'showCalendar', datetime, spec, calendar => {
              this.setExpression(row, [datetime, JSON.stringify(calendar)].join('\n'))
            });
          }
          break;
        case 'T':
          if (el != null) {
            id = this.generateShortId();
            selectElementsByName(el, id);
            updateSelector(row, id, sel);
          }
          break;
        case 'C':
          id = this.generateShortId();
          list.forEach(l => {
            l.dataset.el = id;
            l.classList.add('alive');
          });
          row.dataset.el = id;
          selectElementsByName(id, id);
          updateSelector(row, id, sel);
          break;
        case 'E':
          var e = this.getExpressionLine(row);
          var answer = prompt(`Replace expressions "${e}" by:`);
          if (answer != null) {
            var elements = this.getIdSelection(id);
            this.forEachElement(elements, answer, this.replaceElementContents);
          }
          break;
        case 'H':
          if (el != null) {
            this.addClassesToElements(this.getElementSelection(el), this.getHidden());
          }
          else {
            this.addClassesToElements(this.getIdSelection(id), this.getHidden());
          }
          break;
        }

      },

      handleSelectorClick: function(row, cell) {
        eventHub.$once('setSelector', (element, all) => {
          var selectorType = this.getSelectorType(element);
          if (cell) { this.setSelectorType(cell, selectorType) }
          if (row) { this.selectRow(row) }
          if (all || !row) {
            this.editor.forEachRow(row => {
              if (this.isRowSelected(row)) {
                var cell = row.querySelector(this.selectorClass);
                this.setSelectorType(cell, selectorType);
              }
            })
          }
          else {
            this.applySelections(row);
          }
        });
      },

      // Handle click in text
      textClick: function(evt) {
        if (this.editEnabled) { return }
        var selInfo = this.handleSelection(this.savedSelection, this.getText());
        if (selInfo) {
          var row;
          // Add index entry
          if (selInfo.op == 'add') {
            this.tagPositions(node => {
              return node.dataset.id == selInfo.id;
            });
            var entries = selInfo.elms.length;
            var position = entries > 0 ? selInfo.elms[0].dataset.pos : '-';
            // Add text selection to existing index entry
            row = this.getSelectedRow();
            if (row) {
              row.dataset.id = row.dataset.id || selInfo.id;
              selInfo.elms.forEach(e => {
                e.dataset.id = row.dataset.id;
                e.dataset.sel = row.dataset.sel;
              });
              this.addEntry(row, 1);
              this.setPosition(row, position);
            }
            // Create new index entry
            else {
              row = this.editor.insertRow(this.encodeLines(selInfo.text), entries, position, 'A');
              var attrs = this.createTextAttributes(selInfo.id);
              this.setAttributesToElement(row, attrs);
              this.editor.update();
            }
          }
          // Show index entry
          else if (selInfo.op == 'update') {
            if (evt.altKey) {
              row = this.editor.getCurrentRow();
              this.showOptions(evt.target, row);
            }
            else {
              this.showAttributes(evt.target);
              var index = this.editor.getData().findIndex(e => {
                return e.dataset.id == selInfo.id;
              })
              if (index >= 0) {
                this.editor.scrollToIndex(index);
                row = this.editor.getCurrentRow();
                this.toggleRowSelection(row);
                this.setPosition(row, evt.target.dataset.pos);
              }
            }
          };
          this.singleText.changed = true;
        }
      },

      /*
       * Get CSS for file to save. The procedure is as follows
       * - Get the original text style by removing the temporary parent selector
       * - Otherwise, get the matched CSS rules
       * - If CSS selections are used, add them
       */
      getCSS: function () {
        var style = /* this.originalStylesEnabled() ? */ this.getOriginalStyles() /* : null */,
            styles = [],
            css;
        if (style) {
          css = domutils.removeParentSelector(style.textContent, this.getScope('div'));
        }
        if (!css) {
          var text = this.getText().querySelector('.plain,.html');
          // getMatchedCSSRules is going to be removed
          if (window.getMatchedCSSRules) {
            css = window.getMatchedCSSRules(text)[0].cssText;
          }
          else {
            css = '';
          }
        }
        styles.push({ content: css, cls: 'originals' });
        var sel = document.querySelector(this.getScope('.hiliters'));
        if (sel) {
          css = [css, sel.textContent, ''].join('\n');
          styles.push({ content: css, cls: 'hiliters' });
        }
        return styles;
      },

      isActive: function() {
        return this.$el.offsetParent != null;
      },

      scrollToElement: function(element) {
        if (element) {
          element.scrollIntoView({ block: 'center', behavior: 'smooth' });
        }
      },

      getOrCreateStyles: function() {
        var stylesElement = document.querySelector(this.getScope('style.hiliters'));
        if (!stylesElement) {
          stylesElement = document.createElement('style');
          stylesElement.classList.add('hiliters');
          stylesElement.dataset[this.ra] = '';
          document.head.appendChild(stylesElement);
        };
        return stylesElement;
      },

      applyStyles: function() {
        var styles = this.highlighters.map(h => {
          var fontColor = fontColorContrast(h.color);
          var attributes = h.attributes ? `--ra-attrs: "${h.attributes}"; ` : '';
          return `${this.getScope()}[data-sel="${h.label}"] { background-color: ${h.color}; color: ${fontColor}; ${attributes}}`;
        });
        this.getOrCreateStyles().textContent = styles.join('\n');
      },

      applyStylesFromCSS: function(css) {
        var json = css2json(css);
        this.highlighters = [];
        for (var key in json) {
          var match = key.match(/\[data-sel="(.+)"\]/);
          if (match) {
            var label = match[1];
            var decl = json[key];
            var bg = decl['background-color'];
            var hl = { label, color: bg };
            var attrs = decl['--ra-attrs'];
            if (attrs) {
              hl.attributes = attrs.replace(/^"(.+)"$/, '$1');
            }
            this.highlighters.push(hl);
          }
        }
        this.applyStyles();
      },

      handleSelection: function(selection, parent) {
        var range = this.getSelectionRange(selection, parent),
            sel0 = range[0];

        if (!sel0) { return }

        var selInfo = {},
            snippets = [],
            parentNode = sel0.node.parentNode,
            pos = sel0.pos;

        // Already selected
        if (parentNode.dataset.id) {
          selInfo.op = 'update';
          selInfo.id = parentNode.dataset.id;
        }
        // New selection
        else if (!selection.isCollapsed) {
          selInfo.op = 'add';
          var id = this.generateShortId();
          selInfo.elms = [];
          range.forEach(sel => {
            snippets.push(sel.node.data.substring(sel.start, sel.end));
            var newElement = this.replaceTextByElement(sel.node, sel.start, sel.end);
            var attrs = this.createTextAttributes(id);
            this.setAttributesToElement(newElement, attrs);
            selInfo.elms.push(newElement);
          })
          selInfo.id = id;
          selection.removeAllRanges();
        }

        selInfo.pos = pos;
        selInfo.text = snippets.join('');

        return selInfo;
      },

      /*
       * Collect info about all involved elements of a text selection.
       *
       * Return an array of elements containing nodes,
       * start and end of selection and global character position.
       */
      getSelectionRange: function(selection, parent) {

        var range = [],
            range0 = selection.getRangeAt(0),
            startNode = range0.startContainer,
            endNode = range0.endContainer,
            node,
            pos = 0,
            include = false,
            walk = document.createTreeWalker(parent, NodeFilter.SHOW_TEXT, null, false);

        while (node = walk.nextNode()) {
          var start = 0,
              end = node.length;
          if (node == startNode) {
            start = range0.startOffset;
            include = true;
          }
          if (node == endNode) {
            end = range0.endOffset;
          }
          if (include) {
            range.push({ node, start, end, pos: pos + start });
          }
          if (node == endNode) { break }
          pos += node.length;
        };

        return range;
      },

      /*
       * Replace a portion of text in a text node by another element keeping the original text.
       */
      replaceTextByElement: function(textNode, startPos, endPos, type = 'span') {

        var parentNode = textNode.parentNode;
        textNode.splitText(endPos);
        var replacement = textNode.splitText(startPos);

        // Create new element and insert selected text
        var newElement = document.createElement(type);
        newElement.appendChild(document.createTextNode(replacement.data));
        parentNode.insertBefore(newElement, replacement);
        parentNode.removeChild(replacement);
        parentNode.normalize(); // merges adjacent text nodes

        return newElement;
      },

      /*
       * Wraps words of a document into span elements.
       */
      selectSequencesInText: function(parent, wordPositions, attributes) {

        var walk = document.createTreeWalker(parent, NodeFilter.SHOW_TEXT, null, false),
            position = 0,
            node = walk.nextNode(),
            items = [],
            nodes = [],
            seq,
            newElement;

        // Collect all nodes
        while (node !== null) {
          items.push({ node, start: position, end: position + node.length });
          position += node.length;
          node = walk.nextNode();
        }

        // Add all text ranges
        wordPositions.forEach(wp => {
          items.push({ start: wp[0], end: wp[1]});
        })

        // Sort by start position
        items.sort((a, b) => {
          return a.start - b.start;
        })

        // For every node add the ranges
        items.forEach(item => {
          if (item.node) {
            node = item;
          }
          else {
            seq = item;
          }
          if (seq) {
            var start = Math.max(0, seq.start - node.start);
            var end = Math.min(seq.end, node.end) - node.start;
            nodes.push( { node: node.node, start, end } );
            if (seq.end <= node.end) {
              seq = null;
            }
          }
        });

        // Remove invisible nodes
        nodes = nodes.filter(node => {
          return node.node.parentNode.offsetParent != null
        });

        // Reverse order
        nodes.reverse();
        nodes.forEach(node => {
          newElement = this.replaceTextByElement(node.node, node.start, node.end);
          for (var key in attributes) {
            newElement.setAttribute(key, attributes[key]);
          }
        });
        if (newElement) {
          newElement.scrollIntoView();
        }
      },


      // C O M M A N D S

      currentText: function(callback) {
        if (this.isActive()) {
          callback(this.singleText, this.index);
        }
      },

      updateMenus: function(evt, update) {
        if (this.isActive()) {
          update({
            text:  true,
            dict:  this.editor.getCurrentRow() == null ? false : true,
            data:  Object.keys(this.places).length > 0,
            sels:  this.getSelectedRow() ? true : false,
            html:  this.getHTMLText() != null,
            plain: this.getPlainText() != null
          }, [
            { item: '#mi-edit', value: this.editEnabled },
            { item: '#mi-styles', value: this.originalStylesEnabled() }
          ])
        }
      },

      addIndexEntry: function(evt) {
        if (this.isActive()) {
          var row = this.editor.insertRow();
          this.deselectRows();
          this.selectRow(row);
          this.editor.update();
        }
      },

      selectVisibleEntries: function(evt) {
        if (this.isActive()) {
          this.editor.forEachVisibleRow(row => {
            this.selectRow(row);
          });
        }
      },

      selectSameHighlighter: function(evt) {
        if (this.isActive()) {
          var selectedRow = this.getSelectedRow();
          var highlighter = selectedRow.dataset.sel;
          this.editor.forEachVisibleRow(row => {
            var currentHighlighter = row.dataset.sel;
            if (highlighter && highlighter === currentHighlighter) {
              this.selectRow(row);
            }
          });
        }
      },

      selectSameSelector: function(evt) {
        if (this.isActive()) {
          var selectedRow = this.getSelectedRow();
          var selector = this.getSelectorTypeFromRow(selectedRow);
          this.editor.forEachVisibleRow(row => {
            var currentSelector = this.getSelectorTypeFromRow(row);
            if (selector == currentSelector) {
              this.selectRow(row);
            }
          });
        }
      },

      selectUpwards: function(evt, select = true) {
        if (this.isActive()) {
          var selectedRow = this.getSelectedRow();
          this.editor.forEachVisibleRow(row => {
            if (row == selectedRow) {
              select = !select;
            }
            if (select) {
              this.selectRow(row);
            }
          });
        }
      },

      selectDownwards: function(evt) {
        if (this.isActive()) {
          this.selectUpwards(evt, false);
        }
      },

      deselectVisibleEntries: function(evt) {
        if (this.isActive()) {
          this.editor.forEachVisibleRow(row => {
            this.selectRow(row, false);
          });
        }
      },

      invertSelection: function(evt) {
        if (this.isActive()) {
          this.editor.forEachRow(row => {
            this.toggleRowSelection(row)
          });
        }
      },

      performSelections: function(evt) {
        if (this.isActive()) {
          var self = this;
          var currentRow;
          try {
            self.editor.forEachRow((row) => {
              if (self.isRowSelected(row)) {
                currentRow = row;
                self.applySelections(row, true);
              }
            });
            self.singleText.changed = true;
          }
          catch(e) {
            alert(`Error matching expression "${self.getExpression(currentRow)}".`)
          }
        }
      },

      changeSelectors: function(evt) {
        var selector = this.getSelector();
        selector.style.left = (evt.offsetX - 30) + 'px';
        selector.style.top = (evt.offsetY - 6) + 'px';
        selector.classList.remove('hidden');
        this.handleSelectorClick();
      },

      removeSelectedIndexEntries: function(evt) {
        if (this.isActive()) {
          this.editor.filterRows(row => {
            if (this.isRowSelected(row)) {
              this.removeElementsFromText(this.getIdSelection(this.getId(row)));
              return true;
            }
            return false;
          });
        }
      },

      copyIndex: function(evt) {
        if (this.isActive()) {
          let self = this;
          var index = this.editor.getDataObject(function(d) {
            return d.querySelector(self.expressionClass).textContent;
          });
          this.$copyText(index.join('\n\n')).then(function (e) {})
        }
      },

      copyPlainText: function(evt) {
        if (this.isActive()) {
          var text = this.getAnyText();
          this.$copyText(text.innerText).then(function (e) {})
        }
      },

      clearIndexSelections: function(evt) {
        if (this.isActive()) {
          this.editor.forEachRow(row => {
            this.removeDataAttributes(row);
          });
        }
      },

      clearTextSelections: function(evt) {
        if (this.isActive()) {
          var selections = this.getSelectedTextElements();
          this.removeElementsFromText(selections);
        }
      },

      clearAll: function(evt) {
        if (this.isActive()) {
          this.clearTextSelections(evt);
          this.editor.removeAllRows();
          this.places = {};
        }
      },

      enableEdit: function(evt, enable) {
        if (this.isActive()) {
          this.editEnabled = enable;
          var text = this.getAnyText();
          if (text) {
            text.setAttribute('contenteditable', enable);
          }
        }
      },

      createDictionary: function() {
        if (this.isActive()) {
          /*
          eventHub.$emit('showProgress', 'Create dictionary', function(evt) { console.log('OPENED', evt) });
          var percentage = 0;
          var id = window.setInterval(() => {
            percentage += 10;
            eventHub.$emit('updateProgress', percentage);
            if (percentage >= 100) {
              eventHub.$emit('hideProgress');
              window.clearInterval(id);
            }
          }, 1000);
          */

          eventHub.$emit('startWheel');
          var self = this;
          var text = elementtext(this.getText());
          var dict = new createDictionary();
          dict.postMessage(text);
          dict.addEventListener('message', function(event) {
            var dictionary = event.data;
            dictionary.forEach((entry, i) => {
              self.editor.addRow(entry.exp, entry.cnt, entry.pos, 'W');
            })
            self.editor.update();
            eventHub.$emit('stopWheel');
          });

        }
      },

      createPOS: function() {
        if (this.isActive()) {
          eventHub.$emit('startWheel');
          var self = this;
          var text = this.getText().textContent;
          var tagger = new createPOSTaggerEn();
          tagger.postMessage(text);
          tagger.addEventListener('message', function(event) {
            if (event.data.type == 'data') {
              var index = event.data.index;
              var codes = event.data.codes;
              index.forEach((entry, i) => {
                var code = codes[entry.exp];
                if (code) {
                  var row = self.editor.addRow(`${ code }\n  ${ entry.exp }`, entry.cnt, entry.pos, 'P');
                }
              });
              self.posList = event.data.list;
              self.editor.update();
              eventHub.$emit('stopWheel');
            }
            else {
              console.log(event.data);
            }
          });
        }
      },

      createWordNGrams: function(n, ignore) {
        if (this.isActive()) {
          eventHub.$emit('startWheel');
          var self = this;
          var text = elementtext(this.getText());
          var ngrams = new createWordNGrams();
          ngrams.postMessage({ text, params: { n, ignore } });
          ngrams.addEventListener('message', function(event) {
            var ngrams = event.data;
            ngrams.forEach((entry, i) => {
              self.editor.addRow(entry.exp, entry.cnt, entry.pos, 'S');
            })
            self.editor.update();
            eventHub.$emit('stopWheel');
          });
        }
      },

      createCharNGrams: function(n, ignore) {
        if (this.isActive()) {
          eventHub.$emit('startWheel');
          var self = this;
          var text = elementtext(this.getText());
          var ngrams = new createCharNGrams();
          ngrams.postMessage({ text, params: { n, ignore } });
          ngrams.addEventListener('message', function(event) {
            var ngrams = event.data;
            ngrams.forEach((entry, i) => {
              self.editor.addRow(entry.exp, entry.cnt, entry.pos, 'S');
            })
            self.editor.update();
            eventHub.$emit('stopWheel');
          });
        }
      },

      createSentences: function() {
        if (this.isActive()) {
          eventHub.$emit('startWheel');
          var self = this;
          var text = elementtext(this.getText());
          var dict = new createSentences();
          dict.postMessage(text);
          dict.addEventListener('message', function(event) {
            var sentences = event.data;
            sentences.forEach((entry, i) => {
              self.editor.addRow(entry.exp, entry.cnt, entry.pos, 'S');
            })
            self.editor.update();
            eventHub.$emit('stopWheel');
          });
        }
      },

      createNodeTextList: function(n, ignore) {
        if (this.isActive()) {
          var self = this;
          domutils.walkElementTree(this.getAnyText(), function(node, index) {
            if (node.parentNode.offsetParent != null) {
              var text = node.textContent;
              if (text.length > 0) {
                self.editor.addRow(text, 1, index, 'X');
              }
            }
          });
          self.editor.update();
        }
      },

      createElementList: function(n, ignore) {
        if (this.isActive()) {
          var self = this;
          domutils.walkElementTree(this.getAnyText(), function(node, index) {
            if (!node.classList.contains('text-hidden')) {
              var text = node.outerHTML;
              var row = self.editor.addRow(text, 1, index, 'X');
              row.dataset.el = node.dataset.el = index;
            }
          });
          self.editor.update();
        }
      },

      createSelectorList: function(n, ignore) {
        if (this.isActive()) {
          var self = this;
          var selectors = domutils.selectorList();
          domutils.walkElementTree(this.getAnyText(), function(node, index) {
            selectors.addElement(node);
          });
          var list = selectors.getList();
          var index = 0;
          list.forEach(e => {
            var row = self.editor.addRow(e, 1, index++, 'C');
          });
          self.editor.update();
        }
      },

      sortWordlist: function(key, reverse, prop) {
        if (this.isActive()) {
          eventHub.$emit('startWheel');
          var self = this;
          var dict = this.getDict();
          var col = this.editor.getColumnValue(key.accessor);
          var sorter = new Sorter();
          sorter.postMessage({ list: col, key: key.cmp, order: reverse, prop });
          sorter.addEventListener('message', function(event) {
            self.editor.mapData(event.data);
            eventHub.$emit('stopWheel');
          });
        }
      },

      combineDictionaries: function(source, method) {
        if (this.isActive()) {
          var dict = this.getDict();
          var data = this.editor.getData();
          var self = this;

          function namedRows(rows) {
            var obj = {};
            rows.forEach(row => {
              var e = self.getExpression(row);
              obj[e] = row;
            });
            return obj;
          };

          switch(method) {
            case 'union':
              var destRows = namedRows(data);
              source.forEachRow(row => {
                var e = this.getExpression(row);
                var r = destRows[e];
                if (!r) {
                  data.push(row.cloneNode(true));
                }
              });
              break;
            case 'intersection':
              var sourceRows = namedRows(source.getData());
              this.editor.filterRows(row => {
                var e = this.getExpression(row);
                return !sourceRows[e];
              });
              break;
            case 'difference':
              var sourceRows = namedRows(source.getData());
              this.editor.filterRows(row => {
                var e = this.getExpression(row);
                return sourceRows[e];
              });
              break;
            case 'sym_diff':
              var sourceRows = namedRows(source.getData());
              var destRows = namedRows(data);
              source.forEachRow(row => {
                var e = this.getExpression(row);
                var r = destRows[e];
                if (!r) {
                  data.push(row.cloneNode(true));
                }
              });
              this.editor.filterRows(row => {
                var e = this.getExpression(row);
                return sourceRows[e] && destRows[e];
              });
              break;
          }

          Vue.nextTick(() => {
            this.editor.update();
          });
        }
      },

      moveEntry: function(evt, dir) {
        if (this.isActive()) {
          // Insert rows
          function insertRows(remainingRows, rowsToInsert, indices, offset) {
            indices.forEach((index, i) => {
              remainingRows.splice(index + offset, 0, rowsToInsert[i]);
            });
            return remainingRows;
          }
          var data = this.editor.getData();
          var rowsToInsert = [],
              indices = [];
          var scrollIndex = 0;
          var remainingRows = data.filter((row, i) => {
            var isSelected = this.isRowSelected(row)
            if (isSelected) {
              rowsToInsert.push(row);
              indices.push(i);
            }
            return !isSelected;
          })
          switch (dir) {
            case 'top':
            data = rowsToInsert.concat(remainingRows);
            break;
            case 'bottom':
            data = remainingRows.concat(rowsToInsert);
            scrollIndex = remainingRows.length - 1;
            break;
            case 'up':
            data = insertRows(remainingRows, rowsToInsert, indices, -1);
            scrollIndex = indices[0];
            break;
            case 'down':
            data = insertRows(remainingRows, rowsToInsert, indices, +1);
            scrollIndex = indices[0] + 2;
            break;
          }
          this.editor.setData(data);
          this.editor.scrollToIndex(scrollIndex);
        }
      },

      lowercase: function() {
        if (this.isActive()) {
          this.editor.forEachRow(row => {
            if (this.isRowSelected(row)) {
              this.setExpression(row, this.getExpression(row).toLowerCase());
            }
          })
        }
      },

      uppercase: function() {
        if (this.isActive()) {
          this.editor.forEachRow(row => {
            if (this.isRowSelected(row)) {
              this.setExpression(row, this.getExpression(row).toUpperCase());
            }
          })
        }
      },

      capitalize: function() {
        if (this.isActive()) {
          this.editor.forEachRow(row => {
            if (this.isRowSelected(row)) {
              this.setExpression(row, capitalize(this.getExpression(row)));
            }
          })
        }
      },

      reverse: function() {
        if (this.isActive()) {
          this.editor.forEachRow(row => {
            if (this.isRowSelected(row)) {
              this.setExpression(row, stringReverse(this.getExpression(row)));
            }
          })
        }
      },

      group: function() {
        if (this.isActive()) {
          var expressions = [];
          this.editor.forEachRow(row => {
            if (this.isRowSelected(row)) {
              var expression = this.getExpression(row);
              if (expression.length > 0) {
                expressions.push(expression);
              }
            }
          });
          var n = expressions.length;
          var title = `Group-${this.groupNum++} [${n}] #L`;
          expressions.unshift(title);
          var newEntry = expressions.join('\n  ');
          this.editor.insertData(newEntry);
        }
      },

      removeDuplicates: function(key) {
        if (this.isActive()) {
          eventHub.$emit('startWheel');
          var self = this;
          var dict = this.getDict();
          dict.classList.add('hidden');
          var col = this.editor.getColumnValue(function(d) { return self.getExpressionElement(d).textContent });
          var remover = new Remover();
          remover.postMessage(col);
          remover.addEventListener('message', function(event) {
            self.editor.mapData(event.data);
            dict.classList.remove('hidden');
            eventHub.$emit('stopWheel');
          });
        }
      },

      removeEmpties: function() {
        if (this.isActive()) {
          eventHub.$emit('startWheel');
          var self = this;
          var text = elementtext(this.getText());
          var dict = new createDictionary();
          dict.postMessage(text);
          dict.addEventListener('message', function(event) {
            var dictionary = event.data;
            var lookUp = new Set();
            dictionary.forEach(e => {
              lookUp.add(e.exp);
            });
            var index = [];
            self.editor.forEachRow(row => {
              var expression = self.getExpression(row);
              var pos = expression.indexOf('\n');
              if (pos > 0) {
                expression = expression.substr(0, pos);
              }
              if (pos > 0 || lookUp.has(expression)) {
                index.push(row);
              }
            })
            self.editor.setData(index);
            self.editor.update();
            eventHub.$emit('stopWheel');
          });
        }
      },

      wordPlot: function(evt) {
        if (this.isActive()) {
          var selector = this.selector;
          this.tagPositions(node => {
            return node.getAttribute(this.selector);
          });
          var selection = this.groupSelectionsByHighlighters();
          var text = elementtext(this.getText()).join('');
          var data = {
            url: 'static/maps/WordPlot.html',
            selection,
            meta: {
              filename: this.singleText.getFileName(),
              highlighters: this.highlighters,
              range: [0, text.length],
              text: text
            }
          };
          this.showDocument(data.url, evt, '/inline-frame', 'setData', data);
        }
      },

      textSections: function(evt) {
        if (this.isActive()) {
          this.tagPositions(node => {
            return node.getAttribute(this.selector);
          });
          var selection = this.groupSelectionsByHighlighters();
          var text = elementtext(this.getText()).join('');
          var data = {
            url: 'static/maps/TextSections.html',
            selection,
            meta: {
              filename: this.singleText.getFileName(),
              highlighters: this.highlighters,
              range: [0, text.length],
              text: text
            }
          };
          this.showDocument(data.url, evt, '/inline-frame', 'setData', data);
        }
      },

      textMap: function(evt) {
        if (this.isActive()) {
          var geo = [];
          this.editor.forEachRow(row => {
            var expression = this.getExpression(row).split('\n');
            try {
              if (expression.length >= 2) {
                var line2 = expression[1];
                if (line2.charAt(0) == '{') {
                  var data = JSON.parse(line2);
                  if (data.geoId) {
                    var place = this.places[data.geoId];
                    if (place) {
                      data = { geometry: place.geojson, class: place.class };
                      if (place.icon) {
                        data.icon = place.icon;
                      }
                    }
                  }
                  data.name = expression[0];
                  data.label = row.dataset.sel;
                  geo.push(data);
                }
              }
              else {
                console.log(`Missing geometry for "${expression[0]}".`);
              }
            }
            catch(e) {
              console.error(`Error parsing index entry "${expression[0]}".\n${e}`);
            }
          });

          console.log(`${geo.length} place(s) will be mapped.`);

          var selection = this.groupSelectionsByHighlighters();

          var data = {
            url: 'static/maps/TextMap.html',
            selection: selection,
            geo: geo,
            meta: {
              filename: this.singleText.getFileName(),
              highlighters: this.highlighters,
              range: [0, this.getTextData().length ]
            }
          };
          this.showDocument(data.url, evt, '/inline-frame', 'setData', data);
        }
      },

      textJourney: function(evt) {
        if (this.isActive()) {
          this.tagPositions(node => {
            return node.getAttribute(this.selector);
          });
          var elements = this.getSelectedTextElements();
          // Collect all geo elements
          var geo = {};
          this.editor.forEachRow(row => {
            if (this.getSelectorTypeFromRow(row) === 'G') {
              var expression = this.getExpression(row).split('\n');
              if (expression.length >= 2) {
                var data = JSON.parse(expression[1]);
                if (data.geoId) {
                  var place = this.places[data.geoId];
                  if (place) {
                    data = { place: [+place.lon, +place.lat] };
                  }
                }
                data.name = expression[0];
                data.label = row.dataset.sel;
                var id = data.id = row.dataset.id;
                geo[id] = data;
              }
            }
          });
          // Filter unreferenced geo places
          var geoSelection = elements.filter(e => {
            return geo[e.dataset.id];
          });
          var selection = geoSelection.map(e => {
            return Object.assign({ pos: +e.dataset.pos, sel: e.className }, geo[e.dataset.id]);
          })
          var data = {
            url: 'static/maps/TextJourney.html',
            selection,
            meta: {
              filename: this.singleText.getFileName(),
              highlighters: this.highlighters,
              range: [0, this.getTextData().length ]
            }
          }
          this.showDocument(data.url, evt, '/inline-frame', 'setData', data);
        }
      },

      literarySettings: function(evt) {
        if (this.isActive()) {
          var selection = this.groupSelectionsByHighlighters();
          var text = elementtext(this.getText()).join('');
          var data = {
            url: 'static/maps/LiterarySettings.html',
            selection,
            meta: {
              filename: this.singleText.getFileName(),
              highlighters: this.highlighters,
              range: [0, this.getTextData().length ],
              text: text
            }
          };
          this.showDocument(data.url, evt, '/inline-frame', 'setData', data);
        }
      },

      distMatrix: function(evt) {
        if (this.isActive()) {
          var selector = this.selector;
          this.tagPositions(node => {
            return node.getAttribute(this.selector);
          });
          var selection = this.groupSelectionsByHighlighters();
          var data = {
            url: 'static/maps/matrix.html',
            selection,
            meta: {
              filename: this.singleText.getFileName(),
              highlighters: this.highlighters,
              range: [0, this.getTextData().length ]
            }
          };
          this.showDocument(data.url, evt, '/inline-frame', 'setData', data);
        }
      },

      changeName: function(filename) {
        if (this.isActive()) {
          this.singleText.setFileName(filename);
          this.singleText.replaceMetaInfo({ name: 'document', content: filename });
        }
      },

      newWindow: function() {
        if (this.isActive()) {
          var text = this.getText(self).firstChild;
          var css = this.getCSS();
          var htmlString = serializehtml(text, this.singleText.getMetaInfo(), css);
          domutils.openDocument(htmlString, 'text/html');
        }
      },

      toggleOriginalStyles: function() {
        if (this.isActive()) {
          var originalStyles = this.getOriginalStyles();
          if (originalStyles) {
            originalStyles.disabled = !originalStyles.disabled;
          }
        }
      },

      addSelections: function() {
        // Get highlighted text from selected index entries
        var selection = []
        this.editor.forEachRow(row => {
          if (this.isRowSelected(row)) {
            selection = selection.concat(this.getIdSelection(this.getId(row)));
            this.selectRow(row, false);
          }
        });
        // Create the links
        var links = {},
            text = '';
        selection.forEach((e, i, a) => {
          var next = a[i + 1];
          if (next) {
            if (+e.dataset.pos + e.textContent.length == +next.dataset.pos) {
              text = text + e.textContent;
              return;
            }
          }
          text = text + e.textContent;
          text = text.trim();
          var link = links[text];
          if (!link) {
            link = { text, sels: [e] }
            links[text] = link;
          }
          else {
            link.text = text;
            link.sels = link.sels.concat(e);
          }
          text = '';
        })
        // Add rows
        links = Object.values(links);
        links.forEach(link => {
          var id = this.generateShortId();
          link.sels.forEach(sel => {
            this.setId(sel, id);
          });
          var sel = link.sels[0];
          var text = link.text.replace(/[\n|\r]/g, '\\n');
          var row = this.editor.addRow(text, link.sels.length, sel.dataset.pos, 'S');
          row.dataset.sel = sel.dataset.sel;
          row.dataset[this.ra] = '';
          this.setId(row, id);
          this.selectRow(row);
        });
        this.editor.update();
      },

      addHighlighters: function() {
        this.highlighters.forEach(e => {
          var row = this.editor.addRow(e.label, 1, 0, 'S');
          var id = this.generateShortId();
          var attrs = this.createTextAttributes(id, e.label);
          this.setAttributesToElement(row, attrs);
        })
        this.editor.update();
      },

      showAsText: function(evt) {
        if (this.isActive()) {
          var index = [];
          var self = this;
          this.editor.forEachVisibleRow(row => {
            index.push(row.querySelector(self.expressionClass).textContent);
          });
          eventHub.$emit('plainText', evt, index.join('\n\n'));
        }
      },

      aboutText: function(evt) {
        if (this.isActive()) {
          var metaInfo = this.singleText.getMetaInfo();
          this.openRoute('/about-text', 'setMetaInfo', metaInfo);
        }
      },

      showStatistics: function() {
        if (this.isActive()) {
          this.openRoute('/show-statistics', 'setContent', this.getTextData());
        }
      },

      wordRelations: function() {
        if (this.isActive()) {
          var selector = this.selector;
          this.tagPositions(node => {
            return node.getAttribute(this.selector);
          });
          var selection = this.groupSelectionsByHighlighters();
          var data = {
            selection,
            meta: {
              filename: this.singleText.getFileName(),
              highlighters: this.highlighters,
              range: [0, this.getTextData().length ],
              ra: this.ra
            }
          }
          this.openRoute('/word-relations', 'setData', data);
        }
      },

      showIndex: function(index) {
        if (this.isActive()) {
          this.editor.insertData(index);
        }
      },

      saveAs: function() {
        if (this.isActive()) {
          var filename = this.singleText.getFileName();
          this.openRoute('/saveas', 'setFilename', filename);
        }
      },

      saveFile: function(fmt, fileName) {

        function addSuffix(fileName, suffix) {
          return fileName + '.' + suffix;
        }

        if (this.isActive()) {

          var text = this.getAnyText();

          switch (fmt) {

          case 'application/zip':
            var css = this.getCSS();
            var index = this.editor.getDataObject(function(d) {
              return d.cloneNode(true);
            });
            var container = document.createElement('div');
            index.forEach(e => {
              container.appendChild(e);
            });
            this.singleText.replaceMetaInfo({ name: 'selector', content: this.ra })
            ziphtml(text, container, this.places, this.singleText.getMetaInfo(), css, fileName, zipContent => {
              savefile(addSuffix(fileName, 'zip'), zipContent, fmt);
            });
            break;

          case 'text/html':
            var css = this.getCSS();
            var htmlString = serializehtml(text, this.singleText.getMetaInfo(), css);
            savefile(addSuffix(fileName, 'html'), htmlString, fmt);
            break;

          case 'text/plain':
            var text = text.innerText;
            savefile(addSuffix(fileName, 'txt'), text, fmt);
            break;

          case 'text/xml':
            console.log('fmt');
            break;

          case 'text/selections':
            var elements = this.getSelectedTextElements();
            var texts = elements.map(element => {
              return element.innerText;
            });
            var text = texts.join('\n');
            savefile(addSuffix(fileName, 'txt'), text, fmt);
            break;

          case 'text/index':
            var self = this;
            var index = this.editor.getDataObject(function(d) {
              return d.querySelector(self.expressionClass).textContent;
            });
            index.unshift('# Index Reading Assistant');
            savefile(addSuffix(fileName, 'txt'), index.join('\n\n'), fmt);
            break;

          case 'text/json':
            var selection = this.groupSelectionsByHighlighters();
            savefile(addSuffix(fileName, 'json'), JSON.stringify(selection, null, 2), fmt);
            break;

          case 'application/json':
            var highlighters = {
              meta: { type: 'highlighters', creator: 'ra', date: new Date().toString(), version: '1.0' },
              data: this.highlighters
            };
            savefile(addSuffix(fileName, 'json'), JSON.stringify(highlighters, null, 2), fmt);
            break;

          case 'application/vnd.openxmlformats-officedocument.wordprocessingml.document':
            var css = this.getCSS();
            var htmlString = serializehtml(text, this.singleText.getMetaInfo(), css);
            var docx = html2docx(htmlString);
            savefile(addSuffix(fileName, 'docx'), docx, fmt);
            break;

          case 'application/vnd.geo+json':
            var features = [];
            this.editor.forEachRow(row => {
              if (this.getSelectorTypeFromRow(row) == 'G') {
                var expression = this.getExpression(row).split('\n');
                try {
                  if (expression.length >= 2) {
                    var data = JSON.parse(expression[1]);
                    if (data.geoId) {
                      var place = this.places[data.geoId];
                      if (place.geojson) {
                        features.push({
                          type: 'Feature',
                          geometry: { type: place.geojson.type, coordinates: place.geojson.coordinates },
                          properties: { name: place.display_name }
                         });
                      }
                    }
                  }
                }
                catch(e) {
                  alert(`Error exporting index entry "${expression[0]}".\n${e}`);
                }
              }
            });
            var geoJSON = { type: 'FeatureCollection', features }
            savefile(addSuffix(fileName, 'geojson'), JSON.stringify(geoJSON, null, 2), fmt);
            break;

          case 'application/ld+json':
            const baseIRL = 'http://ikg.ethz.ch'
            var annotation = {
              '@context': 'http://www.w3.org/ns/anno.jsonld',
              'id': baseIRL + '/anno1',
              'type': 'Annotation',
              'body': [],
              'target': baseIRL + '/page1'
            }
            this.editor.forEachRow(row => {
              var expression = this.getExpression(row)
              annotation.body.push({ type: 'TextualBody', value: expression })
            })
            savefile(addSuffix(fileName, 'json'), JSON.stringify(annotation, null, 2), fmt);
            break;

          default:
            alert(`Format "${fmt}" not available.`);
            break;
          }

        }

      },

      uploadFile: function(options, mime, callback) {
        var text = this.getAnyText();
        var dict = this.getDict().firstChild;
        var css = this.getCSS();
        var filename = options.path.substr(options.path.lastIndexOf('/') + 1).replace(/\..*$/, '');
        ziphtml(text, dict, this.places, this.singleText.getMetaInfo(), css, filename, zipContent => {
          var blob = new Blob([zipContent], { type: mime });
          cloud(options, callback, blob);
        });
      },

      applyHighlighters: function(highlighters, index) {
        if (this.isActive()) {
          this.highlighters = highlighters;
          this.highlighter = highlighters[index];
          if (this.highlighter) {
            eventHub.$emit('showHighlighter', this.highlighter.label);
          }
          this.applyStyles();
          // If the highlighters' names changed, we also need to change the highlighted text selections.
          this.editor.forEachRow(row => {
            var selection = this.getIdSelection(row.dataset.id);
            selection.forEach(sel => {
              sel.dataset.sel = row.dataset.sel;
            })
          });
        }
      },

      createHighlighters: function() {
        if (this.isActive()) {
          var highlighters = [];
          this.editor.forEachRow(row => {
            if (this.isRowSelected(row)) {
              var highlighter = this.findHighlighter(row.dataset.sel);
              var color = highlighter ? highlighter.color : '#000000';
              var label = this.getExpressionLine(row);
              label = label.split(/(?:\\n|\s)+/g, 3).join(' ');
              highlighters.push({ label, color });
              row.dataset.sel = label;
            }
          });
          this.$router.replace('/highlighters');
          Vue.nextTick(() => {
            eventHub.$emit('setHighlighters', JSON.stringify(highlighters), 0);
          });
        }
      },

      callForText: function(callback) {
        callback(this.singleText.getFileName(), this.editor, this.isCurrentText());
      },

      callForPlaces: function(callback) {
        callback(this.places);
      },

      callForGeos: function(callback) {
        var geos = new Set();
        this.editor.forEachRow(row => {
          var expression = this.getExpression(row).split('\n');
          if (expression.length >= 2) {
            var line2 = expression[1];
            if (line2.charAt(0) == '{') {
              var data = JSON.parse(line2);
              if (data.geoId) {
                geos.add(data.geoId);
              }
            }
          }
        });
        callback(geos);
      },

      sendPlaces: function(places) {
        this.places = places;
      },

      showLineInfo: function(pos) {
        this.getLineInfo().textContent = pos.join('/');
      },

      showHighlighterInfo: function(highlighter) {
        this.getHighlighterInfo().textContent = highlighter;
      }

    },

    created: function() {

      this.highlighters = JSON.parse(localStorage.getItem('highlighters')) || [];

      eventHub.$on('setHighlighter', highlighter => {
        this.highlighter = highlighter;
        if (this.editor && this.isActive()) {
          this.editor.forEachRow(row => {
            if (this.isRowSelected(row)) {
              var selection,
                  attrs,
                  id = row.dataset.id;
              if (id) {
                selection = this.getIdSelection(id);
                attrs = { 'data-sel': highlighter.label };
              }
              if (row.dataset.sel == highlighter.label) {
                row.removeAttribute('data-sel');
                if (selection) {
                  this.forEachElement(selection, attrs, this.removeAttributesFromElement);
                }
              }
              else {
                row.dataset[this.ra] = '';
                row.dataset.sel = highlighter.label;
                if (selection) {
                  this.forEachElement(selection, attrs, this.setAttributesToElement);
                }
              }
            }
          });
        };
      });

    },

    mounted: function() {

      this.selector = 'data-sel';
      this.ra = this.generateShortId();

      this.applyStyles();

      var type = this.singleText.getType();
      var data = this.singleText.getData();
      var textElement = this.getText();
      var dictElement = this.getDict();
      var startEdit;
      var self = this;
      if (data) {
        this.places = JSON.parse(data);
      }

      var display = tabledisplay(dictElement.parentElement, dictElement);
      this.editor = tableeditor(dictElement, myRow(), function(edit) {
        self.singleText.setTextAccessor(() => { return textElement.firstChild });
        // Remove entry
        if (edit.cmd == 'rm' && edit.row) {
          var id = edit.row.dataset.id;
          if (id != null) {
            self.removeElementsFromText(self.getIdSelection(id));
          }
        }
        // Add entry
        else if (edit.cmd == 'add') {
          var expression = self.getExpression(edit.row);
          self.deselectRows();
          self.selectRow(edit.row);
          self.setPosition(edit.row);
          self.editor.update();
        }
        // Click in index entry
        else if (edit.cmd == 'click') {
          if (self.isSelector(edit.cell)) {
            self.showSelector(edit.cell);
            self.handleSelectorClick(edit.row, edit.cell);
          }
          else {
            if (edit.evt.shiftKey) {
              if (self.lastSelection && self.lastSelection != edit.row) {
                var on = false;
                self.editor.forEachVisibleRow(row => {
                  on = (row == edit.row || row == self.lastSelection) ? !on : on;
                  if (on) {
                    self.selectRow(row, on);
                  }
                })
              }
              self.toggleRowSelection(edit.row);
            }
            else {
              var selected = self.isRowSelected(edit.row);
              if (!edit.evt.altKey) {
                self.deselectRows();
              }
              self.selectRow(edit.row, !selected);
            }
          }
          // Save last index selections
          self.lastSelection = self.isRowSelected(edit.row) ? edit.row : null;
          // Scroll to selection
          var id = edit.row.dataset.id;
          self.currentSelection = { id, index: 0 };
          var selection = self.getIdSelection(id);
          self.scrollToElement(selection[0]);
          eventHub.$emit('showHighlighter', edit.row.dataset.sel);
          self.showLineInfo(edit.pos);
          self.showHighlighterInfo(edit.row.dataset.sel);
        }
        else if (edit.cmd == 'dblclick') {
          var attrs = { 'data-sel': self.highlighter.label };
          if (edit.row.hasAttribute('data-sel')) {
            self.removeAttributesFromElement(edit.row, attrs);
          }
          else {
            edit.row.dataset[self.ra] = '';
            self.setAttributesToElement(edit.row, attrs);
          }

        }
        // Selection starts
        else if (edit.cmd == 'selstart') {
          startEdit = edit;
        }
        // Selection ends
        else if (edit.cmd == 'selend') {
          startEdit = null;
        }
        // Selection add
        else if (edit.cmd == 'seladd') {
          if (self.isSelector(edit.cell)) {
            var type = self.getSelectorType(startEdit.cell);
            self.setSelectorType(edit.cell, type);
          }
          self.selectRow(edit.row);
          window.getSelection().empty();
        }
        // Key press: navigate selections with arrow keys
        else if (edit.cmd == 'nav') {
          if (self.currentSelection) {
            var selection = self.getIdSelection(self.currentSelection.id),
                index = self.currentSelection.index;

            switch(edit.key) {
            case 'ArrowLeft':
              index -= 1;
              break;
            case 'ArrowRight':
              index += 1;
              break;
            case 'ArrowUp':
              index = 0;
              break;
            case 'ArrowDown':
              index = selection.length;
              break;
            }

            index = Math.max(Math.min(index, selection.length - 1), 0);
            self.currentSelection.index = index;
            var element = selection[index];
            if (element) {
              self.scrollToElement(element);
              self.setPosition(edit.row, element.dataset.pos);
            }
          }
        };
      }, display);
      this.editor.addRow();
      // Seems to be necessary (?)
      Vue.nextTick(() => {
        this.editor.update();
      });

      if (type == 'text/plain') {
        var div = document.createElement('div');
        div.setAttribute('class', 'plain');
        div.setAttribute('contenteditable', 'false');
        var childDiv = document.createElement('div');
        childDiv.setAttribute('class', 'plain');
        childDiv.textContent = this.singleText.getText();
        div.appendChild(childDiv);
        textElement.appendChild(div);
      }

      else if (type.includes('html')) {
        var div = document.createElement('div');
        div.classList.add('html');
        div.dataset[this.ra] = '';

        // Create meta info
        var text = this.singleText.getText();
        var head = domutils.contentOfHead(text, 'head');
        var metaInfo = domutils.createMetaInfoFromString(head);
        this.singleText.setMetaInfo(metaInfo);

        // Add style with respect to parent element
        var styleContent = domutils.getStyleContent(head);
        if (styleContent.length > 0) {
          styleContent = scope(styleContent, this.getScope('div'));
          var style = document.createElement('style');
          style.classList.add('originals');
          style.dataset[this.ra] = '';
          style.textContent = styleContent;
          document.head.appendChild(style);
        }

        // Add text
        var body = domutils.contentOfBody(text, 'body');
        div.innerHTML = body;
        textElement.appendChild(div);

        // Search for missing images
        this.$parent.assignImages();

        // Assign styles
        this.$parent.assignStyles();
      }

      // Content is an HTML DOM
      else if (type == 'document') {

        var div = document.createElement('div');
        div.classList.add('html');
        div.dataset[this.ra] = '';

        var doc = this.singleText.getText();
        var content = doc.body.childNodes;
        var metaInfo = domutils.createMetaInfo(doc);
        this.singleText.setMetaInfo(metaInfo);
        var selector = metaInfo.find(e => { return e.name === 'selector' });

        if (selector) {
          this.changeAllDatasetNames(doc.body, selector.content, this.ra);
        };

        Array.from(content).forEach(e => {
          div.appendChild(e);
        });

        // Add all styles but no highlighters
        var styleElements = doc.head.querySelectorAll('style:not(.hiliters)');
        var styleContent = this.getTextContent(styleElements);
        if (styleContent.length > 0) {
          styleContent = scope(styleContent, this.getScope('div'));
          var style = document.createElement('style');
          style.classList.add('originals');
          style.dataset[this.ra] = '';
          style.textContent = styleContent;
          document.head.appendChild(style);
          eventHub.$emit('getPreference', 'disabledStyles', value => {
            style.disabled = value;
          })
        }

        // Add highlighters if any
        styleElements = doc.head.querySelectorAll('style.hiliters');
        styleContent = this.getTextContent(styleElements);
        if (selector && styleContent.length > 0) {
          styleContent = this.replaceDatasetSelectors(styleContent, selector.content, this.ra);
          this.applyStylesFromCSS(styleContent);
        }
        textElement.appendChild(div);
      }

      // Add index if available
      var dict = this.singleText.getDict();
      if (dict) {
        if (selector) {
          this.changeAllDatasetNames(dict.body, selector.content, this.ra);
        }
        this.editor.setData(Array.from(dict.body.children));
      }

      // Add event listeners
      this.listeners.forEach(listener => {
        eventHub.$on(listener, this[listener]);
      });

      document.addEventListener('selectionchange', evt => {
        self.savedSelection = window.getSelection();
      });


      // Function creating a row of the index
      function myRow() {

        const hs = '<div class="row"><div class="cell col-0" contenteditable></div><div class="cell col-1"></div><div class="cell col-2"></div><div class="cell col-3"></div></div>';
        const fragment = document.createRange().createContextualFragment(hs).firstChild;

        return function(p0 = `_Item_${self.itemNum++}_`, p1 = 0, p2 = '–', p3 = 'X') {
          var tpl = fragment.cloneNode(true);
          self.getExpressionElement(tpl).textContent = p0;
          self.getNumEntriesElement(tpl).textContent = p1;
          self.getPositionElement(tpl).textContent = p2;
          self.getSelectorElement(tpl).dataset.selector = p3;
          return tpl;
        }
      };


    },

    destroyed: function() {

      // Remove event listeners
      this.listeners.forEach(listener => {
        eventHub.$off(listener, this[listener]);
      });

      // Remove original styles and hiliter styles
      var styles = Array.from(document.querySelectorAll(this.getScope('style')));
      styles.forEach(style => {
        document.head.removeChild(style);
      });
    }

  }


</script>


<style>

  :root {
    /* --textfontsize: 14pt; */
    /* --indexfontsize: 11.5pt; */
  }

  .ra-container {
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
  }

  .text-panel {
    flex: 1 1 65%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    color: var(--textfontcolor);
    background-color: var(--textfontbackground);
  }

  .single-text {
    padding: 10%;
    background-image: var(--textbackgroundimage);
  }

  .list-panel {
    font-family: var(--indexfontfamily), monospace;
    font-size: var(--indexfontsize);
    line-height: 1.6em;
    border-right: 1px solid rgba(180,180,180,0.5);
    display: flex;
    flex-direction: column;
    flex: 1 1 35%;
    color: var(--indexfontcolor);
    background-color: var(--indexfontbackground);
    background-image: var(--indexbackgroundimage);
  }

  .html {
    font-family: var(--textfontfamily), serif !important;
    font-size: var(--textfontsize);
  }

  .html h1,.html h2,.html h3,.html h4,.html h5,.html h6 {
    font-family: var(--titlefontfamily), sans-serif !important;
    font-weight: 500;
  }

  .plain {
    font-family: 'Inconsolata', monospace;
    font-size: 12pt;
    line-height: 16pt;
    white-space: pre-wrap;
    tab-size: 2;
  }

  .plain:focus{
    outline: none;
  }

  .hidden {
    display: none;
  }

  span[data-sel] {
    cursor: pointer;
  }

  pre {
    font-size: 11pt;
  }

  img {
    max-width: 100%;
  }

  a:link, a:visited {
    text-decoration: none;
    color: #48f;
  }

  .index-scroller {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
    flex: 1 1 100%;
  }

  .single-dict {
    font-weight: 300;
    width: 100%;
    padding: 0;
  }

  .row {
    cursor: pointer;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    max-height: 100px;
    border-bottom: 1px solid rgba(180,180,180,0.5);
  }

  .row.selected:before {
    content: "◎";
    position: absolute;
    top: 1px;
    left: 3px;
  }

  .cell.col-0 {
    cursor: text;
    flex: 1 1 100%;
    margin: 0px 3px 0px 23px;
    outline: none;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: pre;
  }

  .cell.col-1 {
    flex: 0 0 50px;
    margin: 0px 3px 0px 3px;
    text-align: right;
  }

  .cell.col-2 {
    flex: 0 0 56px;
    margin: 0px 3px 0px 3px;
    text-align: right;
  }

  .cell.col-3 {
    cursor: pointer;
    margin: 0px 16px 0px 3px;
    padding-left: 9px;
    max-height: 20px;
    flex: 0 0 16px;
    background-color: rgba(0,0,0,0.1);
    overflow: hidden;
    white-space: nowrap;
  }

  .cell.col-3:hover {
    color: white;
    background-color: #48f;
  }

  .index-info {
    display: flex;
    font-size: 10pt;
    padding: 0px 23px 3px 23px;
    border-top: 1px solid rgba(180,180,180,0.5);
  }

  .field-left {
    margin-right: auto;
  }

  .field-right {
    margin-left: auto;
  }

  .text-hidden {
    display: none;
  }

</style>
