<template>
  <div class="tools-scroller">
    <div class="tools">
      <h1>{{ msg }}</h1>

      <h2>Text Format Converters</h2>
      <h3>EPUB Converter</h3>
      <p>
        <a href="http://www.epubconverter.com" target="_blank">EPUB Converter</a> is an online text format converter
        which converts files from and to EPUB, PDF, MOBI, Kindle, AZW, and TXT.
      </p>
      <h3>Converter for Projekt Gutenberg-DE</h3>
      <p>
        The online tool
        <a href="http://www.epub2go.eu" target="_blank">epub2go</a> converts Web pages from
        <a href="http://gutenberg.spiegel.de" target="_blank">Projekt Gutenberg-DE</a> to ePub format.
      </p>

      <h2>Digital Rights Management</h2>
      <h3>Digital Text Access</h3>
      <p>
        To enable text analyses of DRM-protected books, a legal owner might consider using the
        <a href="https://apprenticealf.wordpress.com" target="_blank">DeDRM Tools</a>.
        Please read the anti-piracy notice on this Web page first.
      </p>

      <h2>Text Analysis</h2>
      <h3>VOYANT</h3>
      <p>
        A Web-based reading and analysis environment for digital texts—with few parallels to my own work.
        <a href="http://voyant-tools.org" target="_blank">VOYANT – see through your text</a>.
      </p>

    </div>
  </div>
</template>


<script>

  import eventHub from '../js/eventHub';

  export default {
    name: 'tools',
    data () {
      return {
        msg: 'Text Tools'
      }
    },
    created: function () {
      eventHub.$emit('hideOeuvre');
    }

  }

</script>


<style scoped>

  .tools-scroller {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .tools {
    margin: 50px;
  }

</style>
