<template>
  <div class="scroll-panel">
    <div class="version">
      <h1>{{ msg }}</h1>

      <h2>Version 1.17</h2>
      <p>
        Improved preferences with respect to text styling.
      </p>
      <ul>
        <li>Use of Web fonts</li>
        <li>Links to Web font resources</li>
        <li>Dark interface mode</li>
        <li>Different backgrounds</li>
      </ul>
      <p>Added a <span class="hilite">Project</span> menu and a <span class="hilite">Documents</span> entry
        which lists the project's documents.
      </p>
      <p>
        Corrected a bug with reading epub files.
      </p>

      <h2><a href="http://swai.ethz.ch/swaie/ReadingAssistant-v1.16.0/" target="_blank">Version 1.16</a></h2>
      <p>
        There is a new analysis method called <span class="hilite">Word Relations</span>.
        It measures the text distances between items of different categories.
        After choosing the dependent and the independent categories, weight are calculated to express the relations.
        This feature works well with dictionaries, e.&nbsp;g. to perfrom sentiment analysis.
        The relations (weights) are shown numerically and as pie charts.
        Currently, the weights just decrease linearly with the word distances.
        The search window is placed symmetrically around the expressions to measure.
        Its size (character distance) can interactively be changed (between 20 and 500 characters).
      </p>
      <ul>
        <li>New color schemes included (ColorBrewer/D3)</li>
        <li>Symmetric differences added as an additional merging method</li>
        <li>File names in cloud presented in URL-decoded form</li>
        <li>Copying text and index to clipboard enabled</li>
        <li>Added a link to VOYANT text tool</li>
        <li>Double-click in index implemented (used to apply the current highlighter color)</li>
        <li>Bug with clearing index selections corrected</li>
        <li>Additional <span class="hilite">statistics</span> menu added</li>
        <li>Moved <span class="hilite">Text Statistics</span> to the <span class="hilite">Statistics</span> menu</li>
        <li>Added <span class="hilite">Word Relations</span> to the <span class="hilite">Statistics</span> menu</li>
      </ul>

      <h2><a href="http://swai.ethz.ch/swaie/ReadingAssistant-v1.15.0/" target="_blank">Version 1.15</a></h2>
      <p>
        Text section visualization provides provides a custom layout which depends on the attributes attached to highlighters.
        A pair of value is required to specify the lower and upper edge of the the rows.
        The absolute values of the numbers do not matter, as only relative sizes are taken into account.
        By default, the first two attribute values are chosen.
        Two pop-up menus enable to choose other attributes if available.
      </p>
      <p>
        Note that the attribute's notation follows a simplified JSON format.
        The differences are the following:
      </p>
      <ul>
        <li>No curly braces are required as all attributes denote JavaScript objects</li>
        <li>There is no need to use (double) quotes for keys</li>
        <li>Strings need to be quoted (either single or double quotes)</li>
      </ul>
      <p>
        A <span class="hilite">Clear All</span> menu item is now available which all text selections and index entries.
      </p>

      <h2><a href="http://swai.ethz.ch/swaie/ReadingAssistant-v1.14.0/" target="_blank">Version 1.14</a></h2>
      <p>
        This version focuses on making the Reading Assistant more efficient.
      </p>
      <p>
        The menu got a few changes.
        The <span class="hilite">Edit</span> menu is smaller and focuses—as its name suggests—on editing.
        Menu items manipulating the index have been moved to the <span class="hilite">Index</span> menu.
        A new but rather short menu, <span class="hilite">Highlighters</span>, has been added.
        The index can act as input for highlighters.
        Use <span class="hilite">Create From Index…</span> to create a new highlighter collection.
        In the highlighters panel, to quickly create different highlighters, a random color function is available.
      </p>
      <p>
        It is now simpler to change the selectors of the index—thanks to menu item <span class="hilite">Change Selectors</span>.
        This function gives you a way to change the selectors of all selected index entries—without actually performing the action.
        For example, if you first choose <span class="hilite">Geographic Places</span> and then <span class="hilite">Perform Text Selections</span>, the OSM features are silently downloaded.
        If a feature is not appropriate you can still change it from the index' pop-up menu.
      </p>
      <p>
        A new page is dedicated to manage spatial data.
        An important function is <span class="hilite">line simplification</span> for a specific zoom level.
        If you do not know what zoom level to select, choose <span class="hilite">Text Map</span> from the <span class="hilite">Visualization</span> menu.
        You will be informed about the current zoom level (see bottom right).
      </p>
      <p>Improvements and corrections:</p>
      <ul>
        <li>Redesigned menu updates</li>
        <li>Changed OSM's URL to HTTPS protocol</li>
        <li>More map symbols</li>
      </ul>

      <h2><a href="http://swai.ethz.ch/swaie/ReadingAssistant-v1.13.0/" target="_blank">Version 1.13</a></h2>
      <p>
        The text map finally got a user interface.
        Settings are presented in a selection box.
        These settings can either be directly selected (use cmd key to make multiple selections or toggle selections) or by choosing one of several given categories.
        Additionally, settings can be sorted by different criteria (such as feature types and visibility).
      </p>
      <p>
        Selections of settings are then symbolized by applying symbolization rules.
        The rules define what kind of symbols to use, how the symbols need to be aligned, how the symbol scaling is controlled and what objects are shown.
        Note that the rules are attached to selections and remain active until explicitly changed.
      </p>
      <p>
        As the same settings may appear multiple times in a text, the number of occurrences can be used to draw proportional point symbols.
        To use this feature, entries in the index need to define both, geographic places names and text selections (words, character sequences or regular expressions).
      </p>
      <p>
        Initially, only attributed point symbols are shown.
        This is in order to avoid the drawing of excessively large vector objects which occasionally slow down the browsers performance.
      </p>
      <p>
        So far, there was no way to export the locations of text selections.
        There is now a JSON format available for the export of word positions, among some other useful information.
      </p>

      <h2><a href="http://swai.ethz.ch/swaie/ReadingAssistant-v1.12.1/" target="_blank">Version 1.12</a></h2>
      <p>
        This version introduces "Literary Places", a new type of text visualization.
        It expects an SVG-formatted map whose symbols will be connected to the highlighter labels.
        Make sure that the corresponding symbols' ids equal the highlighters' labels.
        In Illustrator, set the layer names according to the labels.
        When exporting the map as SVG format, choose to embed images.
        The map can be zoomed and panned using the mouse, the mouse wheel or the mouse pad.
      </p>
      <p>
        Introduced support for sentiment anaylsis.
        New dictionaries are available from menu entry "Load Dictionaries…" form the "Index" menu.
      </p>

      <h2><a href="http://swai.ethz.ch/swaie/ReadingAssistant-v1.11.0/" target="_blank">Version 1.11</a></h2>
      <p>
        This version includes a part of speech tagger (English only so far).
      </p>
      <p>
        Word plots and text sections have substantially been improved.
        They both provide now interactive access to the text environment of the presented expressions.
        There are new options for text sections about how to display text ranges and how to layout different categories.
      </p>
      <p>
        Preferences have been added to control the styling of texts.
      </p>
      <p>
        In order to better access text from Web resources, webarchives are supported as an input format (*.webarchive).
        Text collections can also be imported by using zip archives.
        Furthermore, basic support for TEI-formatted text (XML) is provided.
      </p>
      <p>
        Other improvements and solved problems:
      </p>
      <ul>
        <li>Display of PDF meta information improved</li>
        <li>Logarithmic sliders introduced to control the size of plots</li>
        <li>Bug with wrong tabs corrected</li>
        <li>Closing all tabs by a single menu command</lI>
        <li>Slighlty improved user interface design</li>
      </ul>

      <h2><a href="http://swai.ethz.ch/swaie/ReadingAssistant-v1.10.0/" target="_blank">Version 1.10</a></h2>
      <p>
        This version introduces the use of attributes, a calendar function and corrects many bugs.
      </p>
      <p>
        Improvements and solved problems:
      </p>
      <ul>
        <li>Proper handling of line endings in index</li>
        <li>Position in index reflects current selection</li>
        <li>Calendar function introduced (similar to geographic places)</li>
        <li>Fast case-sensitive sorting method for index added</li>
        <li>Use of the escape key to return to the text view</li>
        <li>Expands URL-encoded file names</li>
        <li>Improvements to text journeys</li>
        <li>Accepts reading zip files from other sources</li>
        <li>Corrected a bug with multiple meta information</li>
        <li>Corrected a bug with SVG image import and export</li>
        <li>Text selection attributes introduced</li>
        <li>Changing filenames in tab header simplified</li>
        <li>Click and drag for multiple index entry selections</li>
        <li>Shortkeys introduced (see tooltip in menu)</li>
        <li>Solved a problem with incomplete XHTML in EPUB files</li>
        <li>Option to prefer point locations when using OSM Nominatim</li>
        <li>Workaround for skipped CSS rule function</li>
        <li>Possible to directly open files by using an 'url' query string</li>
      </ul>

      <h2><a href="http://swai.ethz.ch/swaie/ReadingAssistant-v1.9.0/" target="_blank">Version 1.9</a></h2>
      <p>
        Mapping text journeys: This new map type shows paths between different places in a text.
        The paths are linearly animated to textual time.
      </p>
      <p>
        Improvements and solved problems:
      </p>
      <ul>
        <li>A problem when exporting texts as zip archives seems to be solved</li>
        <li>Word plot got a new layout</li>
      </ul>

      <h2><a href="http://swai.ethz.ch/swaie/ReadingAssistant-v1.8.0/" target="_blank">Version 1.8</a></h2>
      <p>
        Geographic Places (OSM geometries) are no longer appended to the index field.
        Instead, only a reference, the geo id, is shown.
        This solved two problems:
      </p>
      <ol>
        <li>The text size limitation with some browsers is removed</li>
        <li>Large geometries do not make the browser unresponsive</li>
      </ol>
      <p>
        When exporting the text in zip format, the geometries are no longer saved as an HTML but as a JSON entry.
      </p>
      <p>
        Word plots can now be exported as PDF.
      </p>
      <p>Overview of improvements</p>
      <ul>
        <li>EPUB namespace resolved</li>
        <li>Default icons for missing OSM icons</li>
        <li>SVG in EPUB files in recognized</li>
        <li>EPUB reader now supports cover images</li>
      </ul>

      <h2><a href="http://swai.ethz.ch/swaie/ReadingAssistant-v1.7.0/" target="_blank">Version 1.7</a></h2>
      <p>
        Merging dictionaries from different texts is now implemented.
        It works on the dictionary of the active text and modifies it by the dictionary of an other text.
        These methods are available:
      </p>
      <ul>
        <li>Union: Adds the dictionary entries not yet contained in the index</li>
        <li>intersection: Removes entries which are not contained in the other dictionary</li>
        <li>Difference: Removes all entries which are contained in the other dictionary</li>
      </ul>
      <p>Overview of improvements</p>
      <ul>
        <li>Use of default icon when not provided by OSM</li>
        <li>Added proper error handling with parsing GeoJSON</li>
        <li>Solved an updating problem with erged dictionaries</li>
      </ul>

      <h2><a href="http://swai.ethz.ch/swaie/ReadingAssistant-v1.6.0/" target="_blank">Version 1.6</a></h2>
      <p>
        The drawing of maps has improved.
        When choosing geographic places, all results (up to ten) are presented.
        The user can then select the appropriate place or refine the query.
      </p>
      <p>
        A new highlighter list called "Text Symbols" is now available.
        Instead of color names, text categories are symbolized.
        This is an incomplete and preliminary list.
      </p>
      <p>Overview of improvements</p>
      <ul>
        <li>Added discrete color scheme to distance matrix</li>
        <li>The index includes now a tooltip showing the current line number</li>
        <li>The map fits now the boundaries of the imported place geometries</li>
        <li>Export of geographic places as GeoJSON format implemented</li>
        <li>A bug with Nominatim corrected</li>
        <li>Removing of duplicate index entries implemented</li>
      </ul>

      <h2>Version 1.5</h2>
      <p>
        Highlighters are now better integrated in the app.
        They can be saved and reloaded using common save and open menu commands.
        To use highlighters as a dictionary, use the dictionary menu command "Append Highlighters to Index".
      </p>
      <p>Overview of improvements</p>
      <ul>
        <li>Corrected a bug when importing place geometries</li>
        <li>Corrected a bug in ePub format reader</li>
        <li>Warn when about to close the app</li>
      </ul>

      <h2>Version 1.4</h2>
      <p>
        This version includes a distance matrix.
        The matrix visualizes the character distances between all selected expressions.
      </p>
      <p>Overview of improvements</p>
      <ul>
        <li>Corrected a bug when filtering index entries with regular expressions</li>
        <li>Scrollbars are only visbile when needed (Windows only)</li>
        <li>Proper handling of line endings</li>
        <li>Minor graphics improvements</li>
        <li>More meta data accessible (About)</li>
      </ul>

      <h2>Version 1.3</h2>
      <p>
        Loading of dictionaries is now supported.
        There is currently a small dictionary with regular expressions for English and German.
        Dictionaries can also be imported from the file menu.
        To learn how to correctly structure the dictionary, save the file as type "index".
      </p>

      <h2>Version 1.2</h2>
      <p>
        Import and export of zipped files is now complete. Zip-files save all settings.
        Furthermore, the index has much changed.
      </p>
      <p>
        Overview of improvements:
      </p>
      <ul>
        <li>More sorting criterias added</li>
        <li>Index reworked</li>
        <li>Maps are included in the app (no longer in a separate window)</li>
        <li>Horizontal axis for plots added showing the text positions</li>
        <li>Color schemes for highlighters added</li>
      </ul>

      <h2>Version 1.1</h2>
      <p>
        Now also run on the iPad and preforms well on Google Chrome.
        Uses Google Web fonts to guarantee a consistant appearance among different platforms.
      </p>
      <p>
        New features:
      </p>
      <ul>
        <li>Editable index</li>
        <li>Pop-up menu to choose between different selection methods</li>
        <li>Navigation through all text selections (by arrow keys)</li>
        <li>Spinning wheel to indicate background calculation</li>
      </ul>
      <p>
        Improved performance:
      </p>
      <ul>
        <li>Index supports large list</li>
        <li>No blocking of the interface during heavy calculations</li>
      </ul>
      <p>
        Bug fixes:
      </p>
      <ul>
        <li>Disabling and enabling of menus more reliable</li>
      </ul>
      <p>
        Project is now hosted on GitLab.
      </p>

      <h2>Version 1.0</h2>
      <p>
        Realized features:
      </p>
      <ul>
        <li>Data import for EPUB 3, HTML, and plain text formats</li>
        <li>Reading and writing of compressed ZIP archives (the preferred format)</li>
        <li>Reading of PDF files experimental</li>
        <li>Data import by file dialog, drag-and-drop</li>
        <li>Loading of Web resources by experimental Web socket service</li>
        <li>Support for multiple documents (using tabs)</li>
        <li>Window containing a menubar and a text panel</li>
        <li>Text panel split into index (left) and text (right)</li>
        <li>Creation of dictionary and n-grams</li>
        <li>Supports index sorting</li>
        <li>Simple word plot and text sections graphics</li>
      </ul>
    </div>
  </div>
</template>


<script>

  import eventHub from '../js/eventHub';

  export default {
    name: 'versions',
    data () {
      return {
        msg: 'Reading Assistant Versions'
      }
    },
    mounted: function () {
      eventHub.$emit('hideOeuvre');
    }
  }

</script>


<style scoped>

  .scroll-panel {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .version {
    margin: 50px;
  }

  ul {
    padding-left: 1em;
    list-style: none;
  }

  ul>li:before {
    content: "-";
    padding-right: 0.7em;
  }

  span.hilite {
    font-style: italic;
  }

</style>
