<template>
  <div class="welcome">
    <h1>{{ msg }}</h1>
  </div>
</template>


<script>

  import eventHub from '../js/eventHub';

  export default {
    name: 'welcome',
    data: function() {
      return {
        msg: 'Welcome to Your Reading Assistant'
      }
    },
    mounted: function () {
      eventHub.$emit('hideOeuvre');
    }
  }

</script>


<style scoped>

  .welcome {
    display: flex;
    flex: 0 0 75%;
  }
  
  h1 {
    font-size: 5vw;
    font-weight: 200;
    color: #888;
    margin: auto;
  }
  
</style>
