<template>
  <div class="wheel-timer hidden">
    <div class="wheel">{{ letter }}</div>
  </div>
</template>


<script>

  import eventHub from '../js/eventHub';

  export default {
    name: 'WheelTimer',
    methods: {
      wheel: function(run) {
        document.querySelector('.wheel-timer').classList[run ? 'remove' : 'add']('hidden');
      }
    },
    mounted: function() {
      eventHub.$on('startWheel', () => {
        this.wheel(true);
      });
      eventHub.$on('stopWheel', () => {
        this.wheel(false);
      });
    },
    computed: {
      letter: function() {
        var az = 'AZ',
            min = az.charCodeAt(0),
            max = az.charCodeAt(1),
            value = min + Math.floor(Math.random() * (max - min + 1));
        return String.fromCharCode(value);
      }
    }
  }

</script>


<style scoped>

  .wheel-timer {
    display: flex;
    margin: auto 0px auto auto;
  }

  .wheel-timer.hidden {
    display: none;
  }

  .wheel {
    width: 22px;
    height: 22px;
    line-height: 22px;
    font-weight: 600;
    font-size: 12pt;
    text-align: center;
    margin: auto;
    border-radius: 12px;
    background-color: #48f;
    color: white;
    animation: wheel 1s linear infinite;
  }

  @keyframes wheel {
    100% {
       transform: rotateY(360deg);
    }
  }


</style>
