<template>
  <div class="wr-scroller">
    <div class="wr-text">
      <h1>{{ msg }}</h1>

      <h2>Dependent and Independent Categories</h2>

      <div class="wr-table" @change="buildModel">
        <div class="wr-row">
          <div class="wr-cel wr-tit wr-active" @click="sortSelectionByCategory">Category</div>
          <div class="wr-cel wr-tit wr-active" @click="sortSelectionByDependency">Dependency</div>
          <div class="wr-cel wr-tit wr-active" @click="sortSelectionByOccurrences">Occurrences</div>
          <div class="wr-cel wr-tit">Highlighter</div>
        </div>
        <div class="wr-row" v-for="(selection, index) in selections">
          <div class="wr-cel wr-str">{{ selection[0].sel }}</div>
          <div class="wr-cel wr-input">
            <input class="wr-dep" type=range v-model="selection[0].value" min="-1" max="1" value="0" :index="index" />
          </div>
          <div class="wr-cel wr-num">{{ selection.length }}</div>
          <div class="wr-cel wr-input"><div class="wr-color" :data-sel="selection[0].sel" v-bind="options"></div></div>
        </div>
      </div>

      <div class="wr-params">
        <input type="button" value="Reset Dependencies" @click="resetDependencies">
      </div>

      <h2>Relations Between Categories</h2>

      <div class="wr-table">
        <div class="wr-row">
          <div class="wr-cel wr-tit wr-active" @click="sortByItem">Item</div>
          <div class="wr-cel wr-tit wr-active" @click="sortByCategory">Category</div>
          <div class="wr-cel wr-tit wr-active" @click="sortByOccurrences">Occurrences</div>
          <div class="wr-cel wr-tit wr-active" @click="reorderChart">Charts</div>
          <div class="wr-cel wr-tit wr-active" @click="sortByRelation">Percentage</div>
        </div>
        <div class="wr-relation wr-row" v-for="(dependent, index) in dependents" :data-id="dependent.id" track-by="rel">
          <div class="wr-cel wr-str">{{ dependent.text }}</div>
          <div class="wr-cel wr-str">{{ dependent.sel }}</div>
          <div class="wr-cel wr-num">{{ dependent.pos.length }}</div>
          <div class="wr-cel wr-box">&nbsp;
            <ra-chart class="wr-chart" :chartsData="chartsData[index]" :key="key"></ra-chart>
          </div>
          <div class="wr-cel wr-num">{{ dependent.rel | showRelations }}</div>
        </div>
      </div>

      <div class="wr-params">
        <input class="wr-range" type="range" v-model.number="windowSize" min="20" max="500" step="10" @input="setWindowSize">
        <span class="wr-label">Search window size: {{ windowSize }} characters</span>
      </div>

    </div>
  </div>
</template>


<script>

  import Vue from 'vue'
  import eventHub from '../js/eventHub';

  var PieChart = require("./PieChart.vue");

  // Workers
  var createRelations = require('worker-loader!../worker/relations');

  export default {

    name: 'relations',

    data() {
      return {
        msg: 'Word Relations',
        svgns: 'http://www.w3.org/2000/svg',
        content: '',
        data: null,
        selections: [],
        dependents: [],
        independents: [],
        colors: {},
        chartsData: [],
        windowSize: 150,
        order: 1,
        key: 0
      }
    },

    components: {
      'ra-chart': PieChart
    },

    computed: {

      options() {
        return {
          [`data-${this.data.meta.ra}`]: ''
        }
      }
    },

    filters: {
      showRelations(value) {
        return value == null ? '—' : value.map(v => { return (100 * v.res).toFixed(2).padStart(6) }).join(',');
      }
    },

    methods: {

      // Prepare the data
      init: function(data) {
        this.data = data;
        data.meta.highlighters.forEach(highlighter => {
          this.colors[highlighter.label] = highlighter.color;
        })
        this.selections = data.selection;
      },

      showSettings: function(evt) {
      },

      appendCategory: function(selection, existingCategories) {
        var categories = {};
        selection.forEach(sel => {
          var category = categories[sel.id];
          if (!category) {
            category = { id: sel.id, sel: sel.sel, text: sel.text, pos: [] };
            categories[sel.id] = category;
          }
          category.pos.push(sel.pos);
        });
        return existingCategories.concat(Object.values(categories));
      },

      removeCategory: function(selection, existingCategories) {
        var sel = selection[0].sel;
        return existingCategories.filter(category => {
          return sel != category.sel;
        })
      },

      setWindowSize: function(evt) {
        this.calculateRelations();
      },

      buildModel: function(evt) {
        var value = evt.target.valueAsNumber;
        var index = +evt.target.getAttribute('index');
        var selection = this.selections[index];

        // Add dependent category
        if (value == -1) {
          this.dependents = this.appendCategory(selection, this.dependents);
          this.calculateRelations();
        }

        // Independent categories
        else if (value == 1) {
          this.independents = this.appendCategory(selection, this.independents);
          this.calculateRelations();
        }

        // Remove unused categories
        else {
          this.dependents = this.removeCategory(selection, this.dependents);
          this.independents = this.removeCategory(selection, this.independents);
          this.calculateRelations();
        }
      },

      calculateRelations: function() {
        eventHub.$emit('startWheel');
        var self = this;
        var relations = new createRelations();
        relations.postMessage([this.dependents, this.independents, this.windowSize]);
        relations.addEventListener('message', function(event) {
          self.dependents.forEach((dependent, i) => {
            dependent['rel'] = event.data[i];
          })
          Vue.nextTick(() => {
            self.drawCharts();
            self.$forceUpdate();
          });
          eventHub.$emit('stopWheel');
        });
      },

      drawCharts: function() {
        var data = this.dependents.map(dependent => {
          return dependent.rel.map(v => { return { value: v.res, color: this.colors[v.sel] } } );
        });
        this.chartsData = data ? data : [];
        this.key += 1;
      },

      resetDependencies: function() {
        this.selections.forEach(selection => {
          selection[0].value = 0;
        });
        this.dependents = [];
        this.independents = [];
      },

      sortSelectionByCategory: function() {
        var order = this.changeOrder();
        this.selections.sort((a, b) => { return order * a[0].sel.localeCompare(b[0].sel); });
      },

      sortSelectionByDependency: function() {
        function recode(v) {
          return v === -1 ? 3 : v === 1 ? 2 : v === 0 ? 1 : 0;
        }
        var order = this.changeOrder();
        this.selections.sort((a, b) => { return order * (recode(+a[0].value) - recode(+b[0].value)) })
      },

      sortSelectionByOccurrences: function() {
        var order = this.changeOrder();
        this.selections.sort((a, b) => { return order * (a.length - b.length); });
      },

      sortByItem: function() {
        var order = this.changeOrder();
        this.dependents.sort((a, b) => { return order * a.text.localeCompare(b.text); });
        this.drawCharts();
      },

      sortByCategory: function() {
        var order = this.changeOrder();
        this.dependents.sort((a, b) => { return order * a.sel.localeCompare(b.sel); })
        this.drawCharts();
      },

      sortByOccurrences: function() {
        var order = this.changeOrder();
        this.dependents.sort((a, b) => { return order * (a.pos.length - b.pos.length) })
        this.drawCharts();
      },

      sortByRelation: function() {
        var order = this.changeOrder();
        this.dependents.sort((a, b) => { return order * (a.rel[0].res - b.rel[0].res) })
        this.drawCharts();
      },

      reorderChart: function() {
        this.dependents.forEach(dependent => {
          dependent.rel.unshift(dependent.rel.pop());
        });
        this.drawCharts();
        this.$forceUpdate();
      },

      changeOrder: function() {
        return this.order *= -1;
      }

    },

    created: function() {
      eventHub.$once('setData', data => {
        this.init(data);
      });
    }

  }

</script>


<style scoped>

  .wr-text {
    margin: 50px;
  }

  h1 {
  }

  .wr-scroller {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .wr-table {
    display: table;
    border-collapse: collapse;
  }

  .wr-row {
    display: table-row;
    line-height: 2em;
    border-bottom: 1px solid #ccc;
  }

  .wr-cel {
    display: table-cell;
    max-width: 350px;
    min-width: 1em;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    padding-right: 1.5em;
  }

  .wr-num {
    font-family: 'Inconsolata';
    text-align: right;
    white-space: pre;
  }

  .wr-str {
    text-align: left;
  }

  .wr-tit {
    text-align: center;
    font-weight: 600;
  }

  .wr-input {
    display: flex;
  }

  .wr-active {
    cursor: pointer;
  }

  .wr-button {
    margin-bottom: .5em;
  }

  .wr-dep {
    width: 50px;
    margin: auto;
  }

  .wr-color {
    border-radius: 3px;
    width: 1.618em;
    height: 1em;
    margin: auto;
  }

  .wr-space {
    margin-bottom: 2em;
  }

  .wr-box {
    display: flex;
  }

  .wr-chart {
    width: 26px;
    height: 26px;
    margin: auto;
    padding: 0;
  }

  .wr-params {
    display: flex;
    margin-top: 2em;
  }

  .wr-range {
    width: 150px;
    margin: auto 0px auto 0px;
  }

  .wr-label {
    margin: auto 10px auto 1em;
  }

</style>
