<template>
  <div class="ngrams">
    <h1>Word N-Grams</h1>
    <p>Size of word n-gram, the number of successive equal words.</p>
    <div class="popup-panel" @mouseover="show" @mouseout="hide" v-on:mouseup="toggle">
      <div class="popup-title"><span>{{ gramName }}</span><span class="arrow">▾</span></div>
      <ul class="popup-menu hidden">
        <li class="popup-item" 
          v-for="(ngram, index) in ngrams"
          :index="index"
          @click="update"
        >{{ ngram.name }}</li>
      </ul>
    </div>
    <p>
      <label><input id="ignore" type="checkbox" checked/> Ignore Case</label>
    </p>
    <p>
      <button @click="createNGram">Create N-Gram</button>
    </p>
  </div>
</template>


<script>

  import eventHub from '../js/eventHub';

  export default {
    name: 'about',

    data () {
      return {
        ngrams: [ 
          { name: 'Bigram', n: 2 },
          { name: 'Trigram', n: 3 },
          { name: '4-Gram', n: 4 },
          { name: '5-Gram', n: 5 },
          { name: '6-Gram', n: 6 },
          { name: '7-Gram', n: 7 },
        ],
        gramName: '',
        gramIndex: 1
      }
    },
    
    methods: {
      
      show: function() {
        document.querySelector('.popup-menu').classList.remove('hidden');
      },

      hide: function() {
        document.querySelector('.popup-menu').classList.add('hidden');
      },
      
      toggle: function() {
        document.querySelector('.popup-menu').classList.toggle('hidden');
      },
      
      update: function(evt) {
        this.gramIndex = +evt.currentTarget.getAttribute('index');
        this.gramName = this.ngrams[this.gramIndex].name;
        this.hide();
      },
      
      createNGram: function() {
        var n = this.ngrams[this.gramIndex].n;
        var ignore = document.querySelector('#ignore').checked;
        eventHub.$emit('showOeuvre');
        eventHub.$emit('createWordNGrams', n, ignore);
      }
      
    },
    
    created: function() {
      eventHub.$emit('hideOeuvre');
      this.gramName = this.ngrams[this.gramIndex].name;
    }

  }

</script>


<style scoped>

  .ngrams {
    margin: 50px;
  }
  
  h1 {
    display: inline-block;
  }
  
  .arrow {
    margin-left: 1em;
  }
  
</style>
