<template>
  <div id="app" class="">
    <ra-menus></ra-menus>
    <ra-tabs></ra-tabs>
    <ra-oeuvre></ra-oeuvre>
    <ra-selector></ra-selector>
    <ra-attributes></ra-attributes>
    <ra-options></ra-options>
    <router-view></router-view>
    <modals-container/>
  </div>
</template>

<script>

  var Menus = require('./components/Menus.vue');
  var Tabs = require('./components/Tabs.vue');
  var Oeuvre = require('./components/Oeuvre.vue');
  var Selector = require('./components/Selector.vue');
  var Attributes = require('./components/Attributes.vue');
  var Options = require('./components/Options.vue');
  var queryString = require('query-string');
  var key = require('keymaster');
  import Vue from 'vue';
  import Progress from './components/Progress.vue'
  import eventHub from './js/eventHub';

  export default {

    name: 'app',
    data () {
      return {
        appName: 'Reading Assistant',
        version: '1.17.0',
        textDefaults: {
          textFontFamily: 'Cormorant Garamond',
          titleFontFamily: 'Nunito Sans',
          textFontSize: 14,
          textColorName: 'Black-on-white',
          textFontColor: 'rgb(0,0,0)',
          textFontBackground: 'rgb(255,255,255)',
          textBackgroundImage: 'none',
          indexFontFamily: 'Inconsolata',
          indexFontSize: 11.5,
          indexColorName: 'Black-on-white',
          indexFontColor: 'rgb(0,0,0)',
          indexFontBackground: 'rgb(255,255,255)',
          indexBackgroundImage: 'none',
          darkMode: false,
          disabledStyles: false
        }
      }
    },

    components: {
      'ra-menus': Menus,
      'ra-tabs': Tabs,
      'ra-oeuvre': Oeuvre,
      'ra-selector': Selector,
      'ra-attributes': Attributes,
      'ra-options': Options
    },

    methods: {

      start: function() {
        console.log(this.appName.toUpperCase());
        console.log(`Version ${this.version}`);
        console.log(`Started on ${new Date()}`);
      },

      getStoredJSON: function(name) {
        var data = localStorage.getItem(name);
        if (data) {
          return JSON.parse(data);
        }
      },

      getPreferences: function() {
        return this.getStoredJSON('preferences');
      },

      getWebFonts: function() {
        return this.getStoredJSON('webfonts');
      },

      setRootProperty: function(name, value, suffix = '') {
        document.documentElement.style.setProperty(name, value + suffix);
      },

      setPreferences: function(prefs) {
        prefs = prefs || this.getPreferences();
        if (prefs) {
          this.setRootProperty('--textfontfamily', prefs.textFontFamily);
          this.setRootProperty('--titlefontfamily', prefs.titleFontFamily);
          this.setRootProperty('--textfontsize', prefs.textFontSize, 'pt');
          this.setRootProperty('--textfontcolor', prefs.textFontColor);
          this.setRootProperty('--textfontbackground', prefs.textFontBackground);
          this.setRootProperty('--textbackgroundimage', prefs.textBackgroundImage);
          this.setRootProperty('--indexfontfamily', prefs.indexFontFamily);
          this.setRootProperty('--indexfontsize', prefs.indexFontSize, 'pt');
          this.setRootProperty('--indexfontcolor', prefs.indexFontColor);
          this.setRootProperty('--indexfontbackground', prefs.indexFontBackground);
          this.setRootProperty('--indexbackgroundimage', prefs.indexBackgroundImage);
        }
      },

      installWebFonts: function(webFonts) {
        webFonts = webFonts || this.getWebFonts();
        if (webFonts) {
          webFonts.forEach(webFont => {
            if (webFont.length > 0) {
              try {
                var style = document.createElement('link');
                style.setAttribute('href', webFont);
                style.setAttribute('rel', 'stylesheet');
                style.setAttribute('class', 'web-font');
                document.head.appendChild(style);
              }
              catch(err) {
                alert(`Invalid Web URL "${webFont}"`);
              }
            }
          })
        }
      },

      removeWebFonts: function() {
        var webFonts = Array.from(document.querySelectorAll('head>link.web-font'));
        webFonts.forEach(webFont => {
          webFont.remove();
        })
      },

    },

    created: function() {
      this.start();
      this.setPreferences();
      this.installWebFonts();
      if (location.search.length > 0) {
        var parsed = queryString.parse(location.search);
        if (parsed.url) {
          this.$router.replace('/oeuvre');
          Vue.nextTick(() => {
            eventHub.$emit('loadFromURL', parsed.url, parsed.cors);
          });
        }
      }
      else if (location.hash == '#/') {
        this.$router.replace('/welcome');
      }
    },

    mounted: function () {

      var prefs = this.getPreferences();
      if (prefs) {
        document.querySelector('div#app').classList.toggle('dark', prefs.darkMode);
      }

      eventHub.$on('getInfo', callback => {
        callback(this.appName, this.version);
      });

      eventHub.$on('getTextDefaults', callback => {
        callback(this.textDefaults);
      });

      eventHub.$on('getPreference', (key, callback) => {
        var prefs = this.getPreferences();
        if (prefs) {
          callback(prefs[key]);
        }
      });

      eventHub.$on('setPreferences', prefs => {
        this.setPreferences(prefs);
      });

      eventHub.$on('installWebFonts', webFonts => {
        this.removeWebFonts();
        this.installWebFonts(webFonts);
      });

      eventHub.$on('showProgress', (text, callback) => {
        this.$modal.show(Progress, {
          text: text || 'Progress'
        }, {
          name: 'progress',
          height: 'auto',
          width: '400',
          clickToClose: false,
          draggable: true,
          pivotY: 0.4
        }, {
          'before-close': callback
        })
      });

      eventHub.$on('updateProgress', (percentage, info) => {
        eventHub.$emit('update', percentage);
      });

      eventHub.$on('hideProgress', () => {
        this.$modal.hide('progress');
      });

      key('⌘+n, ctrl+n', 'ra', function(evt) {
        eventHub.$emit('emptyDoc');
        return false;
      });

      key('⌘+o, ctrl+o', 'ra', function(evt) {
        document.querySelector('.file-dialog').click();
        return false;
      });

      key('⌘+s, ctrl+s', 'ra', function(evt) {
        eventHub.$emit('saveAs');
        return false;
      });

      key('⌘+w, ctrl+w', 'ra', function(evt) {
        eventHub.$emit('closing');
        return false;
      });

      key('⌘+i, ctrl+i', 'ra', function(evt) {
        eventHub.$emit('aboutText');
        return false;
      });

      // Closes any dialogs
      key('esc', 'ra', function(evt) {
        eventHub.$emit('showOeuvre');
        return false;
      });

      key.setScope('ra');
    }

  }
</script>

<style>

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1,h2,h3 {
  font-weight: 300;
}

h1 {
  font-size: 26pt;
}

h2 {
  font-size: 22pt;
}

h3 {
  font-size: 18pt;
}

#app {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  color: #444;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.v--modal-overlay {
  z-index: 10000;
}

</style>
